<template>
  <div>
    <v-card class="my-3" flat>
      <v-list-item>
        <v-list-item-content>
          <!-- 회원 아이디 -->
          <v-flex text-center my-3>
            <v-list-item-title v-if="userInfo.is_staff"> 동화 관리자 {{ userInfo.username}} 님의 정보 </v-list-item-title>
            <v-list-item-title v-else> 동화 수선공 {{ userInfo.username}} 님의 정보 </v-list-item-title>
          </v-flex>
          <!-- 회원 별명 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.name === ''">별명: 정보 없음</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>별명: {{userInfo.name}}</v-list-item-subtitle>
          <!-- 회원 나이 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.age === null">나이: 정보 없음</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>나이: {{ userInfo.age }} 세</v-list-item-subtitle>
          <!-- 회원 성별 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.gender === 0">성별: 남자</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>성별: 여자</v-list-item-subtitle>
          <!-- 회원 여부 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.is_staff">회원 여부: 관리자</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>회원 여부: 회원</v-list-item-subtitle>
          <!-- 회원 번호 -->
          <v-list-item-subtitle class="my-2" >회원 번호: {{ userInfo.id }} 번</v-list-item-subtitle>
          <!-- 회원님의 대표 그림 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.one_pick === null">대표 명작: 정보 없음</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>대표 명작: {{ userInfo.one_pick }}</v-list-item-subtitle>
          <!-- 회원님의 총 게임 횟수 -->
          <v-list-item-subtitle class="my-2">동화 수선 횟수: {{ userInfo.total_play_cnt }} 번</v-list-item-subtitle>
          <!-- 회원님의 총 게임 시간-->
          <v-list-item-subtitle class="my-2">동화 수선 시간: {{ this.play_hour }} 시간 {{ this.play_minute }} 분</v-list-item-subtitle>
          <!-- 회원님의 마지막 스토리 정보 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.last_story === null">마지막으로 수선한 동화: 정보 없음</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>마지막으로 수선한 동화: {{ userInfo.last_story }}</v-list-item-subtitle>
          <!-- 회원님의 마지막 챕터 정보 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.last_chapter === null">마지막으로 수선한 동화의 챕터: 정보 없음</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>마지막으로 수선한 동화의 챕터: {{ userInfo.last_chapter }}</v-list-item-subtitle>
          <!-- 회원님의 스토리 클리어 정보 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.clear_stories.length === 0">수선 완료한 동화: 정보 없음</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>수선 완료한 동화: {{ userInfo.clear_stories }}</v-list-item-subtitle>
          <!-- 회원님의 챕터 클리어 정보 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.clear_chapters.length === 0">수선 완료한 동화의 챕터: 정보 없음</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>
            <div v-for="clear in userInfo.clear_chapters" :key="clear.id">
              수선 완료한 동화의 챕터: {{ clear.number }}
            </div>
          </v-list-item-subtitle>
          <!-- 회원님의 리뷰 정보 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.get_reviews.length === 0">리뷰: 정보 없음</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>리뷰: {{ userInfo.get_reviews }}</v-list-item-subtitle>
          <!-- 회원님의 리뷰 작성 정보 -->
          <v-list-item-subtitle class="my-2" v-if="userInfo.write_reviews.length === 0">작성한 리뷰: 정보 없음</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2" v-else>작성한 리뷰: {{ userInfo.write_reviews }}</v-list-item-subtitle>

        </v-list-item-content>
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    userInfo: Object,
  },
  data: () => ({
    play_hour: null,
    play_minute: null,
  }),
  mounted() {
    this.calculate()
  },
  methods: {
    calculate() {
      const hour = Math.floor(this.userInfo.total_play_time)
      const minute = this.userInfo.total_play_time - hour
      this.play_hour = hour
      this.play_minute = Math.ceil(minute * 60)
    },
  }
}
</script>

<style>

</style>