<template>
  <v-container>
    <v-btn v-if="!openUserList && userList.length===0" outlined block @click="showUserList" disabled>회원 목록 보기</v-btn>
    <v-btn v-if="!openUserList && userList.length!==0" outlined block @click="showUserList">회원 목록 보기</v-btn>
    <v-btn v-if="openUserList" depressed color="#FF7043" block @click="showUserList">회원 목록 닫기</v-btn>
    <AdminUserListDetail
      v-if="openUserList"
      :userList="userList"
    />
    <div v-if="!openUserList">
      <v-container>
        <v-card class="my-3" outlined>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle class="d-flex justify-center my-4">
                회원 목록을 펼쳐주세요.
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-container>
    </div>
  </v-container>
</template>

<script>
import AdminUserListDetail from "./AdminUserListDetail"
import baseURL from "../../../http-common"

export default {
  components: {
    AdminUserListDetail,
  },
  data: () => ({
    story: null,
    openUserList: false,
    userList: [],
    requestHeader: "",
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.getUserList()
  },
  methods: {
    showUserList() {
      this.openUserList = !this.openUserList
    },
    showStoryDetail() {
      if (this.story === undefined) {
        this.story = null
      }
      this.$emit("changeStory", this.story)
    },
    getUserList() {
      baseURL
      .get('/accounts/', this.requestHeader)
      .then((res) => {
        this.userList = res.data.data
      })
      .catch(() => {})
    },
  }
}
</script>

<style>

</style>



