<template>
  <v-container v-if="!show">
    <v-card class="my-3" v-for="(user, i) in userList" :key="i">
      <div v-if="userId !== user.id">
        <v-list-item @click="showUserInfo(i, user.id)">
          <v-list-item-content>
            <v-list-item-title> User {{ i + 1 }}. </v-list-item-title>
            <v-list-item-subtitle class="my-2">아이디: {{ user.username }}</v-list-item-subtitle>
            <v-flex text-right v-if="user.is_staff">관리자</v-flex>
            <v-flex text-right v-else-if="user.is_author">작가</v-flex>
            <v-flex text-right v-else>회원</v-flex>
          </v-list-item-content>
        </v-list-item>
      </div>
      <div v-else>
        <div class="mx-2 pt-1">
          <v-btn block outlined class="my-3" @click="closeUserInfo()">{{userInfo.username}} 님의 정보 닫기</v-btn>
        </div>
        <AdminUserInfo :userInfo="userInfo" />
      </div>
    </v-card>
  </v-container>
  <v-container v-else>
    <v-btn block outlined class="my-3" @click="closeUserInfo()">{{userInfo.username}} 님의 정보 닫기</v-btn>
    <AdminUserInfo :userInfo="userInfo" />
  </v-container>
</template>

<script>
import AdminUserInfo from "./AdminUserInfo"

export default {
  components: {
    AdminUserInfo,
  },
  props: {
    userList: Array,
  },
  data: () => ({
    requestHeader: "",
    show: false,
    userInfo: null,
    userId: null,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
  },
  methods: {
    showUserInfo(idx, id) {
      this.userInfo = this.userList[idx]
      this.userId = id
    },
    closeUserInfo() {
      this.userInfo = null
      this.userId = null
    },
  }
}
</script>

<style>

</style>