<template>
  <div class="go-top">
    <v-btn
      v-show="fab"
      depressed
      v-scroll="onScroll"
      fab
      x-small
      color="#ff9f6b"
      @click="toTop"
    >
      <v-icon class="white--text">mdi-chevron-up</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    fab: false
  }),

  methods: {
    onScroll(e) {
      if (typeof window === "undefined") return;
      const top = window.pageYOffset || e.target.scrollTop || 0;
      this.fab = top > 20;
    },
    toTop() {
      this.$vuetify.goTo(0);
    },
  }
};
</script>

<style>
.go-top {
  position: fixed;
  bottom: 60px;
  right: 5px;
}
</style>