<template>
  <div>
    <div class="row mx-0">
      <div v-for="accessories in sortAccessories" :key="accessories.id">
        <v-img 
          class="avatar-item"
          :src="server.back + accessories.image"
          @click="wearThisAccessories(accessories.id, accessories.wearImage)"
        ></v-img>
      </div>
      <div v-if="sortAccessories.length !== 0" @click="wearThisAccessories(null, '')">
        <v-img class="no-item" src="../../../../../public/img/empty-item.png"></v-img>
      </div>
    </div>
    <div v-if="sortAccessories.length === 0" class="info-font">
      <p class="text-center my-6 py-6">챕터 미션을 수행하여 아이템을 얻어보세요!</p>
    </div>
  </div>
</template>

<script>
import server from "../../../../server"

export default {
  props: {
    sortAccessories: Array,
  },
  data: () => ({
    server: "",
  }),
  mounted() {
    this.server = server
  },
  methods: {
    wearThisAccessories(id, wearImage) {
      this.$emit("wearAccessories", id, wearImage)
    },
  }
}
</script>

<style>
.item-accessories {
  width: 20vw;
  height: auto;
}
</style>