<template>
  <div>
    <div class="row mx-0">
      <div v-for="bag in sortBag" :key="bag.id">
        <v-img
          class="avatar-item"
          :src="server.back + bag.image"
          @click="wearThisBag(bag.id, bag.wearImage)"
        ></v-img>
      </div>
      <div v-if="sortBag.length !== 0" @click="wearThisBag(null, '')">
        <v-img class="no-item" src="../../../../../public/img/empty-item.png"></v-img>
      </div>
    </div>
    <div v-if="sortBag.length === 0" class="info-font">
      <p class="text-center my-6 py-6">챕터 미션을 수행하여 아이템을 얻어보세요!</p>
    </div>
  </div>
</template>

<script>
import server from "../../../../server"

export default {
  props: {
    sortBag: Array,
  },
  data: () => ({
    server: "",
  }),
  mounted() {
    this.server = server
  },
  methods: {
    wearThisBag(id, wearImage) {
      this.$emit("wearBag", id, wearImage)
    },
  }
}
</script>
<style>


</style>
