<template>
  <div>
    <div class="row mx-0">
      <div v-for="bottom in sortBottom" :key="bottom.id">
        <v-img
          class="avatar-item"
          :src="server.back + bottom.image"
          @click="wearThisBottom(bottom.id, bottom.wearImage)"
        ></v-img>
      </div>
      <div v-if="sortBottom.length !== 0" @click="wearThisBottom(null, '')">
        <v-img class="no-item" src="../../../../../public/img/empty-item.png"></v-img>
      </div>
    </div>
    <div v-if="sortBottom.length === 0" class="info-font">
      <p class="text-center my-6 py-6">챕터 미션을 수행하여 아이템을 얻어보세요!</p>
    </div>
  </div>
</template>

<script>
import server from "../../../../server"

export default {
  props: {
    sortBottom: Array,
  },
  data: () => ({
    server: "",
  }),
  mounted() {
    this.server = server
  },
  methods: {
    wearThisBottom(id, wearImage) {
      this.$emit("wearBottom", id, wearImage)
    },
  }
}
</script>

<style>
.item-bottom {
  width: 20vw;
  height: auto;
}
</style>