<template>
  <div>
    <div class="row mx-auto">
      <div v-for="hair in sortHair" :key="hair.id">
        <v-img
          class="avatar-item"
          :src="server.back + hair.image"
          @click="wearThisHair(hair.id, hair.wearImage)"
        ></v-img>
      </div>
      <div v-if="sortHair.length !== 0" @click="wearThisHair(null, '')">
        <v-img class="no-item" src="../../../../../public/img/empty-item.png"></v-img>
      </div>
    </div>
    <div v-if="sortHair.length === 0" class="info-font">
      <p class="text-center my-6 py-6">챕터 미션을 수행하여 아이템을 얻어보세요!</p>
    </div>
  </div>
</template>

<script>
import server from "../../../../server"

export default {
  props: {
    sortHair: Array,
  },
  data: () => ({
    server: "",
  }),
  mounted() {
    this.server = server
  },
  methods: {
    wearThisHair(id, wearImage) {
      this.$emit("wearHair", id, wearImage)
    },
  }
}
</script>