<template>
  <div>
    <div class="row mx-0">
      <div v-for="hat in sortHat" :key="hat.id">
        <v-img
          class="avatar-item"
          :src="server.back + hat.image"
          @click="wearThisHat(hat.id, hat.wearImage)"
        ></v-img>
      </div>
      <div v-if="sortHat.length !== 0" @click="wearThisHat(null, '')">
        <v-img class="no-item" src="../../../../../public/img/empty-item.png"></v-img>
      </div>
    </div>
    <div v-if="sortHat.length === 0" class="info-font">
      <p class="text-center my-6 py-6">챕터 미션을 수행하여 아이템을 얻어보세요!</p>
    </div>
  </div>
</template>

<script>
import server from "../../../../server"

export default {
  props: {
    sortHat: Array,
  },
  data: () => ({
    server: "",
  }),
  mounted() {
    this.server = server
  },
  methods: {
    wearThisHat(id, wearImage) {
      this.$emit("wearHat", id, wearImage)
    },
  }
}
</script>

<style>
.item-hat {
  width: 20vw;
  height: auto;
}
</style>