<template>
  <div>
    <div class="row mx-0">
      <div v-for="shoes in sortShoes" :key="shoes.id">
        <v-img
          class="avatar-item"
          :src="server.back + shoes.image"
          @click="wearThisShoes(shoes.id, shoes.wearImage)"
        ></v-img>
      </div>
      <div v-if="sortShoes.length !== 0" @click="wearThisShoes(null, '')">
        <v-img class="no-item" src="../../../../../public/img/empty-item.png"></v-img>
      </div>
    </div>
    <div v-if="sortShoes.length === 0" class="info-font">
      <p class="text-center my-6 py-6">챕터 미션을 수행하여 아이템을 얻어보세요!</p>
    </div>
  </div>
</template>

<script>
import server from "../../../../server"

export default {
  props: {
    sortShoes: Array,
  },
  data: () => ({
    server: "",
  }),
  mounted() {
    this.server = server
  },
  methods: {
    wearThisShoes(id, wearImage) {
      this.$emit("wearShoes", id, wearImage)
    },
  }
}
</script>

<style>
.item-shoes {
  width: 20vw;
  height: auto;
}
</style>