<template>
  <div>
    <div class="row mx-0">
      <div v-for="top in sortTop" :key="top.id">
        <v-img
          class="avatar-item"
          :src="server.back + top.image"
          @click="wearThisTop(top.id, top.wearImage)"
        ></v-img>
      </div>
      <div v-if="sortTop.length !== 0" @click="wearThisTop(null, '')">
        <v-img class="no-item" src="../../../../../public/img/empty-item.png"></v-img>
      </div>
    </div>
    <div v-if="sortTop.length === 0" class="info-font">
      <p class="text-center my-6 py-6">챕터 미션을 수행하여 아이템을 얻어보세요!</p>
    </div>
  </div>
</template>

<script>
import server from "../../../../server"

export default {
  props: {
    sortTop: Array,
  },
  data: () => ({
    server: "",
  }),
  mounted() {
    this.server = server
  },
  methods: {
    wearThisTop(id, wearImage) {
      this.$emit("wearTop", id, wearImage)
    },
  }
}
</script>

<style>
.item {
  width: 20vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 50%;
  margin-top:3px
}
</style>