<template>
  <v-container class="admin-mission-form">
    <v-layout justify-end>
      <div @click="closeFormDialog">
        <v-icon>mdi-close</v-icon>
      </div>
    </v-layout>
    <v-alert
      v-if="alert"
      outlined
      dense
      type="warning"
      class="d-flex justify-center mt-2"
    >
      <v-list-item-subtitle>
        미션이 등록된 페이지가 이미 존재합니다.
      </v-list-item-subtitle>
    </v-alert>
    <v-layout v-if="type==='등록'" class="mb-2" justify-center>
      미션을 {{ type }}하시겠습니까?
    </v-layout>
    <v-layout v-else class="mb-2" justify-center>
      미션 위치를 {{ type }}하시겠습니까?
    </v-layout>
    <v-container class="d-flex justify-center">
      <v-btn @click="missionPageSubmit" color="primary">{{ type }}</v-btn>
    </v-container>
  </v-container>
</template>

<script>
export default {
  props: {
    type: String,
    alert: Boolean,
    alertFalse: Function,
    closeDialog: Function,
    axiosFunction: Function,
  },
  data: () => ({
  }),
  methods: {
    closeFormDialog() {
      this.alertFalse()
      this.closeDialog()
    },
    missionPageSubmit() {
      this.axiosFunction()
    },
  },
}
</script>

<style>
.admin-mission-form {
  font-family: 'MapoPeacefull';
}
</style>