<template>
  <v-container v-if="server">
    <v-card outlined>
      <v-layout class="mt-4" justify-center>
        미션
      </v-layout>
      <v-container>
        <div v-if="pageMission && pageMissionId===pageId" class="text-center mb-4">
          {{pageMission}}
        </div>
        <div v-else class="text-center">
          미션이 없습니다.
        </div>
        <div v-if="pageMissionAudio && pageMissionId===pageId" class="d-flex justify-center">
          <audio controls>
            <source :src="server.back + pageMissionAudio" type="audio/mp3">
          </audio>
        </div>
        <div class="mt-4 mb-2 d-flex justify-center">
          <v-dialog
            v-model="dialog"
            v-if="pageMissionId!==pageId"
          >
            <template v-slot:activator="{ on }">
              <v-icon v-on="on" @click="alertTrue">mdi-plus</v-icon>
            </template>
            <v-card>
              <div v-if="!pageMissionId">
                <PageMissionForm
                  :type="type"
                  :alert="alert"
                  :alertFalse="alertFalse"
                  :closeDialog="closeDialog"
                  :axiosFunction="changeMission"
                />
              </div>
              <div v-else>
                <PageMissionForm
                  :type="type2"
                  :alert="alert"
                  :alertFalse="alertFalse"
                  :closeDialog="closeDialog"
                  :axiosFunction="changeMission"
                />
              </div>
            </v-card>
          </v-dialog>
        </div>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import PageMissionForm from "./PageMissionForm"
import baseURL from "../../../../http-common"
import server from "../../../../server"

export default {
  components: {
    PageMissionForm,
  },
  props: {
    pageId: Number,
    pageMissionId: Number,
    pageMission: String,
    pageMissionAudio: String,
    getBackgroundImage: Function,
  },
  data: () => ({
    dialog: false,
    type: "등록",
    type2: "변경",
    alert: false,
    server: null,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.server = server
  },
  methods: {
    closeDialog() {
      this.dialog = false
    },
    changeMission() {
      const fd = new FormData()
      fd.append("bgImgId", this.pageId)

      baseURL
      .put(`/chaptersMission/`, fd, this.requestHeader)
      .then(() => {
        this.$store.dispatch("getPage", this.pageId)
        this.getBackgroundImage()
        this.closeDialog()
      })
      .catch(() => {})
    },
    alertTrue() {
      if (this.pageMissionId) {
        this.alert = true
      }
    },
    alertFalse() {
      this.alert = false
    },
  }
}
</script>

<style>

</style>