<template>
  <div>
    <!-- 버튼 -->
    <div class="d-flex flex-row-reverse avatar-btns my-0">
      <v-btn
        class="item-btn item-save-btn"
        text
        @click="saveMyAvatar(
          hairInfo.id,
          hatInfo.id,
          topInfo.id,
          bottomInfo.id,
          shoesInfo.id,
          accessoriesInfo.id,
          bagInfo.id
        )"
      >저장</v-btn>
      <v-btn class="item-btn item-reset-btn " text @click="resetItem()">원래대로</v-btn>
      <v-btn class="item-btn item-clear-btn" text @click="clearAllItem()">초기화</v-btn>
    </div>
    <div class="avatar-background pt-8">
       <div class="item-position">
        <div>
          <v-img class="dressup-avatar" src="../../../../../Pictures/Avatar/실착용/몸.png"></v-img>
        </div>
      </div>
      <!-- 헤어 -->
      <div class="item-position">
        <div>
          <v-img class="wearing-hair" v-if="hairInfo.wearImage !== ''" :src="server.back + hairInfo.wearImage"></v-img>
        </div>
      </div>
      <!-- 모자 -->
      <div class="item-position">
        <div>
          <v-img class="wearing-hat" v-if="hatInfo.wearImage !== ''" :src="server.back + hatInfo.wearImage"></v-img>
        </div>
      </div>
      <!-- 신발 -->
      <div class="item-position">
        <div>
          <v-img class="wearing-shoes" v-if="shoesInfo.wearImage !== ''" :src="server.back + shoesInfo.wearImage"></v-img>
        </div>
      </div>
      <!-- 하의 -->
      <div class="item-position">
        <div>
          <v-img class="wearing-bottom" v-if="bottomInfo.wearImage !== ''" :src="server.back + bottomInfo.wearImage"></v-img>
        </div>
      </div>

      <!-- 상의 -->
      <div class="item-position">
        <div>
          <v-img class="wearing-top" v-if="topInfo.wearImage !== ''" :src="server.back + topInfo.wearImage"></v-img>
        </div>
      </div>
      <!-- 악세서리 -->
      <div class="item-position">
        <div>
          <v-img class="wearing-accessories" v-if="accessoriesInfo.wearImage !== ''" :src="server.back + accessoriesInfo.wearImage"></v-img>
        </div>
      </div>
      <!-- 가방 -->
      <div class="item-position">
        <div>
          <v-img class="wearing-bag" v-if="bagInfo.wearImage !== ''" :src="server.back + bagInfo.wearImage"></v-img>
        </div>
      </div>
      <!-- 아바타 -->
      <v-img class="dressup-avatar" src="../../../../public/img/blank.png"></v-img>
    </div>

    
  </div>
</template>

<script>
import server from "../../../server"
import baseURL from "../../../http-common"
import swal from "sweetalert"

export default {
  props: {
    hairInfo: Object,
    hatInfo: Object,
    topInfo: Object,
    bottomInfo: Object,
    shoesInfo: Object,
    accessoriesInfo: Object,
    bagInfo: Object,
    btnStatus: Boolean,
  },
  data: () => ({
    requestHeader: "",
    hair: null,
    hat: null,
    top: null,
    bottom: null,
    shoes: null,
    accessories: null,
    bag: null,
    items: [],
    server: "",
  }),
  mounted() {
    this.server = server
    this.requestHeader = this.$store.getters.requestHeader
  },
  methods: {
    saveMyAvatar(hair, hat, top, bottom, shoes, accessories, bag) {
      this.hair = hair
      this.hat = hat
      this.top = top
      this.bottom = bottom
      this.shoes = shoes
      this.accessories = accessories
      this.bag = bag
      this.sendItemInfo()
    },
    sendItemInfo() {
      this.items = []
      if (this.hair !== null) {
        this.items.push(this.hair)
      }
      if (this.hat !== null) {
        this.items.push(this.hat)
      }
      if (this.top !== null) {
        this.items.push(this.top)
      }      
      if (this.bottom !== null) {
        this.items.push(this.bottom)
      }
      if (this.shoes !== null) {
        this.items.push(this.shoes)
      }
      if (this.accessories !== null) {
        this.items.push(this.accessories)
      }
      if (this.bag !== null) {
        this.items.push(this.bag)
      }
      swal("아바타를 저장하시겠습니까?", {
        buttons: true,
        className: "dressup-alert"
      })
      .then((value) => {
        if (value !== null) {
          const items = new FormData()
          items.append("items", this.items)
          
          baseURL
          .post('accounts/item/wear/', items, this.requestHeader)
          .then((res) => {
            if (res.data.message === "아이템 착용 성공") {
              location.reload()
            }
          })
          .catch(() => {
          })
        }
      })
    },
    // 초기화
    clearAllItem() {
      this.$emit("clearItem")
    },
    // 원래대로
    resetItem() {
      this.$emit("callItem")
    }
  },
}
</script>

<style>
*{margin: 0; padding: 0;}

.avatar-background {
  background-color: rgba(255, 255, 255, 0.76);
  border-top: double;
  border-bottom: double;
  border-width: 5px;
  border-color: rgb(245, 178, 92);
}
.dressup-avatar {
  width: 100vw;
  height: auto;
  z-index: 1
}
.item-position {
  position: absolute;
}
.wearing-hair {
  width: 100vw;
  height: auto;
  z-index: 2;
}
.wearing-hat {
  width: 100vw;
  height: auto;
  z-index: 5;
}
.wearing-top {
  width: 100vw;
  height: auto;
  z-index: 4;
}
.wearing-bottom {
  width: 100vw;
  height: auto;
  z-index: 3;
}
.wearing-shoes {
  width: 100vw;
  height: auto;
  z-index: 2;
}
.wearing-accessories {
  width: 100vw;
  height: auto;
  z-index: 3;
}
.wearing-bag {
  width: 100vw;
  height: auto;
  z-index: 4;
}
.avatar-btns{
  margin:5px
}
.item-btn {
  border-style: solid;
  border-width: 1.5px 1.5px 0 1.5px;
  border-color: rgb(245, 178, 92);
  border-radius: 10px 10px 0 0;
  font-family: "KyoboHand";
  margin-right: 5px;
  max-height: 20px;
}
.item-save-btn {
  background-color: rgb(240, 100, 75);
}
.item-reset-btn {
  background-color: rgb(240, 169, 102);
}
.item-clear-btn {
  background-color: rgb(248, 236, 130);
}
.dressup-alert {
  font-family: 'KyoboHand';
}
</style>