<template>
  <v-container class="px-0 py-3">
    <v-col v-if="this.infoMessage !== ''" col="12">
      <p class="mb-0 info-font text-center">{{ infoMessage }}</p>
    </v-col>
    <v-row align="end" justify="center" class="name-font mx-0">
      <div class="name-toggle" v-for="inventory in inventoryList" :key="inventory.id">
        <div class="name-box px-0" @click="chooseInventory(inventory.id)" v-if="inventory.id !== inventoryId">
          <b class="my-auto">{{ inventory.name }}</b>
        </div>
        <div class="choose-box px-0" @click="chooseInventory(inventory.id)" v-if="inventory.id === inventoryId">
          <b>{{ inventory.name }}</b>
        </div>
      </div>
    </v-row>
    <div class="show-items">
      <Hair v-if="inventoryId === 1" :sortHair="sortHair" @wearHair="wearHair" />
      <Hat v-if="inventoryId === 2" :sortHat="sortHat" @wearHat="wearHat" />
      <Top v-if="inventoryId === 3" :sortTop="sortTop" @wearTop="wearTop" />
      <Bottom v-if="inventoryId === 4" :sortBottom="sortBottom" @wearBottom="wearBottom" />
      <Shoes v-if="inventoryId === 5" :sortShoes="sortShoes" @wearShoes="wearShoes" />
      <Accessories v-if="inventoryId === 6" :sortAccessories="sortAccessories" @wearAccessories="wearAccessories" />
      <Bag v-if="inventoryId === 7" :sortBag="sortBag" @wearBag="wearBag" />
    </div>
    <br/>
  </v-container>
</template>

<script>
import Hair from "./item/Hair"
import Hat from "./item/Hat"
import Top from "./item/Top"
import Bottom from "./item/Bottom"
import Shoes from "./item/Shoes"
import Accessories from "./item/Accessories"
import Bag from "./item/Bag"
import baseURL from "../../../http-common"

export default {
  components: {
    Hair,
    Hat,
    Top,
    Bottom,
    Shoes,
    Accessories,
    Bag,
  },
  data: () => ({
    requestHeader: "",
    inventoryList: [],
    inventoryId: null,
    sortHair: [],
    sortHat: [],
    sortTop: [],
    sortBottom: [],
    sortShoes: [],
    sortAccessories: [],
    sortBag: [],
    itemsIWear: [],
    infoMessage: "",
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.getInventory()
    this.getItem()
    this.infoMessage = "아래 카테고리를 눌러 아이템을 선택하세요!"
  },
  methods: {
    getInventory() {
      baseURL
      .get('accounts/sort/read/', this.requestHeader)
      .then((res) => {
        this.inventoryList = res.data.data
      })
      .catch(() => {
      })
    },
    chooseInventory(id) {
      this.inventoryId = id
      this.infoMessage = ""
    },
    getItem() {
      baseURL
      .get('accounts/item/read/user/', this.requestHeader)
      .then((res) => {
        for (var i=0; i < res.data.data.length; i++) {
          if (res.data.data[i].status === true) {
            this.itemsIWear.push({
              sortId: res.data.data[i].item.sort.id,
              id: res.data.data[i].id,
              img: res.data.data[i].item.wear_image
            })
          }
          if (res.data.data[i].item.sort.name === "헤어") {
            this.sortHair.push({
              id: res.data.data[i].id,
              image: res.data.data[i].item.image,
              name: res.data.data[i].item.name,
              wearImage: res.data.data[i].item.wear_image
            })
          } else if (res.data.data[i].item.sort.name === "모자") {
            this.sortHat.push({
              id: res.data.data[i].id,
              image: res.data.data[i].item.image,
              name: res.data.data[i].item.name,
              wearImage: res.data.data[i].item.wear_image
            })
          } else if (res.data.data[i].item.sort.name === "상의") {
            this.sortTop.push({
              id: res.data.data[i].id,
              image: res.data.data[i].item.image,
              name: res.data.data[i].item.name,
              wearImage: res.data.data[i].item.wear_image
            })
          } else if (res.data.data[i].item.sort.name === "하의") {
            this.sortBottom.push({
              id: res.data.data[i].id,
              image: res.data.data[i].item.image,
              name: res.data.data[i].item.name,
              wearImage: res.data.data[i].item.wear_image
            })
          } else if (res.data.data[i].item.sort.name === "신발") {
            this.sortShoes.push({
              id: res.data.data[i].id,
              image: res.data.data[i].item.image,
              name: res.data.data[i].item.name,
              wearImage: res.data.data[i].item.wear_image
            })
          } else if (res.data.data[i].item.sort.name === "악세서리") {
            this.sortAccessories.push({
              id: res.data.data[i].id,
              image: res.data.data[i].item.image,
              name: res.data.data[i].item.name,
              wearImage: res.data.data[i].item.wear_image
            })
          } else {
            this.sortBag.push({
              id: res.data.data[i].id,
              image: res.data.data[i].item.image,
              name: res.data.data[i].item.name,
              wearImage: res.data.data[i].item.wear_image
            })
          }
        }
        if (this.itemsIWear.length !== 0) {
          this.itemStatus()
        }
      })
      .catch(() => {
      })
    },
    itemStatus() {
      this.$emit("itemStatus", this.itemsIWear)
    },
    wearHair(id, wearImage) {
      this.$emit("wearHair", id, wearImage)
    },
    wearHat(id, wearImage) {
      this.$emit("wearHat", id, wearImage)
    },
    wearTop(id, wearImage) {
      this.$emit("wearTop", id, wearImage)
    },
    wearBottom(id, wearImage) {
      this.$emit("wearBottom", id, wearImage)
    },
    wearShoes(id, wearImage) {
      this.$emit("wearShoes", id, wearImage)
    },
    wearAccessories(id, wearImage) {
      this.$emit("wearAccessories", id, wearImage)
    },
    wearBag(id, wearImage) {
      this.$emit("wearBag", id, wearImage)
    },
  }
}
</script>

<style>
.name-box {
  text-align: center;
  background-color: rgba(252, 159, 82, 0.829);
  font-size: 4vw;
  width: 14vw;
  border-radius: 3vw 3vw 0vw 0vw;
  border-color: rgb(252, 133, 21);
  border-width: 0.2vw;
  border-style: solid;
}
.choose-box {
  text-align: center;
  background-color: rgb(248, 124, 41);
  font-size: 4.5vw;
  width: 15vw;
  height: 9vW;
  border-radius: 3vw 3vw 0vw 0vw;
  border-color: rgb(243, 119, 17);
  border-width: 0.4vw;
  border-style: solid;
}
.name-font {
  font-family: "KyoboHand" ;
}
.info-font {
  font-family: "KyoboHand" ;
  font-size: 5vw;
}
.avatar-item {
  width: 20vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(248, 190, 143);
  margin-top:3px
}
.no-item {
  width: 20vw;
  height: 20vW;
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(248, 190, 143);
  margin-top:3px
}
.show-items {
  min-height: 40vw;
}
</style>