<template>
  <div class="apply-author-form">
    <div class="apply-author-title my-2 d-flex justify-center">
      <div v-if="explainStatus" class="apply-author-explanation">
        <v-container>
          <div class="d-flex justify-end">
            <v-icon @click="changeExplanationStatus">mdi-close</v-icon>
          </div>
          <div class="d-flex justify-center mb-2">
            <span>&#8251; 안내 사항 &#8251;</span>
          </div>
          <div class="apply-author-explanation-content d-flex justify-center">
            승인에는 2~3일의 시간이 소요됩니다.
          </div>
        </v-container>
      </div>
      <span>
        작가 등록 신청
      </span>
    </div>
    <div @click="changeExplanationStatus" class="apply-author-question-mark d-flex justify-center align-center">
      <b>?</b>
    </div>
    <v-form lazy-validation>
      <v-text-field
        v-model="formData.title"
        label="제목"
        :rules="phoneRules"
        outlined
        dense
        required
        class="pt-2"
      />
      <v-textarea
        v-model="formData.description"
        label="줄거리"
        outlined
        dense
        required
      />
      <v-file-input
        v-model="formData.files"
        label="참고 자료"
        accept="image/png, image/jpeg"
        prepend-icon="mdi-camera"
        clearable
        outlined
        dense
      />
      <v-container class="pt-0">
        <div class="mb-1 apply-author-colleague">전화번호</div>
        <div class="row">
          <div class="col-3 pa-0">
            <v-text-field
              v-model="phoneStart"
              label="앞번호"
              :rules="phoneStartRules"
              outlined
              dense
              required
            />
          </div>
          <div class="col-1 pa-0 d-flex justify-center">
            -
          </div>
          <div class="col pa-0">
            <v-text-field
              v-model="phoneMiddle"
              label="중간번호"
              :rules="phoneMiddleRules"
              outlined
              dense
              required
            />
          </div>
          <div class="col-1 pa-0 d-flex justify-center">
            -
          </div>
          <div class="col pa-0">
            <v-text-field
              v-model="phoneEnd"
              label="끝번호"
              :rules="phoneEndRules"
              outlined
              dense
              required
            />
          </div>
        </div>
      </v-container>
      <v-container class="pt-0">
        <div class="mb-1 apply-author-colleague">이메일</div>
        <div class="row">
          <div class="col pa-0">
            <v-text-field
              v-model="emailStart"
              label="이메일 ID"
              :rules="emailStartRules"
              outlined
              dense
              required
            />
          </div>
          <div class="col-2 py-0 d-flex justify-center">
            @
          </div>
          <div class="col-5 pa-0">
            <v-text-field
              v-model="emailEnd"
              label="직접 입력"
              :rules="emailEndRules"
              outlined
              dense
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col pa-0"></div>
          <div class="col-5 pa-0">
            <v-select
              v-model="emailEnd"
              :items="emailSelect"
              label="이메일"
              dense
              outlined
              class="apply-author-form-font"
            />
          </div>
        </div>
      </v-container>
      <v-alert
        outlined
        dense
        type="error"
        class="d-flex justify-center mb-6"
        v-if="alert"
      >
        <v-list-item-subtitle v-for="(error, i) in errors" :key="i">
          {{ error }}
        </v-list-item-subtitle>
      </v-alert>
    </v-form>
  </div>
</template>

<script>
export default {
  props: {
    alert: Boolean,
  },
  data: () => ({
    explainStatus: false,
    formData: {
      title: "",
      description: "",
      files: null,
      phone: "",
      email: "",
    },
    phoneStart: "010",
    phoneMiddle: "",
    phoneEnd: "",
    phoneRules: [v => !!v || "필수 입력 항목입니다."],
    phoneStartRules: [
      v => !!v || "필수 입력 항목입니다.",
      v => v.length == 3 || "3자리 수를 적어주세요",
    ],
    phoneMiddleRules: [
      v => !!v || "필수 입력 항목입니다.",
      v => v.length == 4 || "4자리 수를 적어주세요",
    ],
    phoneEndRules: [
      v => !!v || "필수 입력 항목입니다.",
      v => v.length == 4 || "4자리 수를 적어주세요",
    ],
    emailStartRules: [v => !!v || "필수 입력 항목입니다."],
    emailEndRules: [v => !!v || "필수 입력 항목입니다."],
    emailStart: "",
    emailEnd: "",
    emailSelect: ["email.com", "gmail.com", "naver.com"],
    errors: [],
    submit: false,
  }),
  methods: {
    changeExplanationStatus() {
      this.explainStatus = !this.explainStatus
    },
    checkForm() {
      this.errors = []
      if (this.formData.title.length <= 0) {
        this.errors.push("제목을 입력해주세요.")
      }
      if (this.formData.description.length <= 0) {
        this.errors.push("줄거리를 입력해주세요.")
      }
      if (this.formData.file === null) {
        this.errors.push("파일을 올려주세요.")
      }
      if (this.phoneStart.length !== 3) {
        this.errors.push("전화번호를 입력해주세요.")
      }
      else if (this.phoneMiddle.length !== 4) {
        this.errors.push("전화번호를 입력해주세요.")
      }
      else if (this.phoneEnd.length !== 4) {
        this.errors.push("전화번호를 입력해주세요.")
      }
      else if (isNaN(Number(this.phoneStart))) {
        this.errors.push("전화번호를 입력해주세요.")
      }
      else if (isNaN(Number(this.phoneMiddle))) {
        this.errors.push("전화번호를 입력해주세요.")
      }
      else if (isNaN(Number(this.phoneEnd))) {
        this.errors.push("전화번호를 입력해주세요.")
      }
      else {
        this.formData.phone = this.phoneStart + this.phoneMiddle + this.phoneEnd
      }
      if (this.emailStart.length <= 0) {
        this.errors.push("이메일을 입력해주세요.")
      }
      else if (this.emailEnd.length <= 0) {
        this.errors.push("이메일을 입력해주세요.")
      }
      else {
        this.formData.email = this.emailStart + "@" + this.emailEnd
      }
      if (this.errors.length === 0) {
        this.submit = true
        this.$emit("submitStatus", this.formData, this.submit)
      }
    },
  }
}
</script>

<style>
.apply-author-title {
  position: relative;
}
.apply-author-form {
  position: relative;
  width: 65vw;
}
.apply-author-colleague {
  font-size: 15px;
}
.apply-author-question-mark {
  position: absolute;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  left: 0px;
  top: 15px;
}
.apply-author-explanation {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 35px;
  width: 130%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding-bottom: 40px;
}
.apply-author-explanation-content {
  font-size: 15px;
}
.apply-author-form-font {
  font-family: 'KyoboHand';
}
</style>