<template>
  <v-dialog
    v-model="confirm"
    width="75%"
  >
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" @click="checkValid" class="mt-3" color="primary" block>
        확인
      </v-btn>
    </template>
    <v-card v-if="submit" class="confirm-style">
      <v-container>
        <v-card-text class="d-flex justify-center">
          정말 {{ type }}하시겠습니까?
        </v-card-text>
        <v-card-actions class="d-flex justify-center">
          <v-dialog
            v-model="success"
            width="100%"
          >
            <template v-slot:activator="{ on }">
              <v-btn class="mx-2" v-on="on" @click="changeValues" color="primary">
                확인
              </v-btn>
            </template>
            <v-card class="confirm-style">
              <v-container>
                <v-layout justify-center>
                  {{ type }}되었습니다.
                </v-layout>
              </v-container>
            </v-card>
          </v-dialog>
          <v-btn class="mx-2" @click="closeConfirm">취소</v-btn>
        </v-card-actions>
      </v-container>
    </v-card>
    <v-card v-else class="confirm-style">
      <v-container>
        <v-layout class="mb-4" justify-center>
          입력값을 확인해주세요.
        </v-layout>
        <v-layout justify-center>
          <v-btn @click="closeConfirm" color="secondary">닫기</v-btn>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    checkForm: Function,
    submit: Boolean,
    changeValue: Number,
    closeDialog: Function,
    type: String,
    axiosFunction: Function,
    getData: Function,
  },
  data: () => ({
    confirm: false,
    success: false,
  }),
  methods: {
    closeConfirm() {
      this.confirm = false
    },
    changeValues() {
      this.axiosFunction(this.changeValue)
      setTimeout(() => {
        this.closeConfirm()
        this.closeDialog()
        this.success = false
        this.getData()
      }, 1500)
    },
    checkValid() {
      this.checkForm()
    },
  }
}
</script>

<style>
.confirm-style {
  font-family: 'MapoPeacefull';
}
</style>