<template>
  <v-dialog
    v-model="dialog"
    width="60%"
  >
    <template v-slot:activator="{ on }">
      <div v-if="type === '버튼'">
        <v-btn v-on="on" color="error" outlined block>페이지 삭제</v-btn>
      </div>
      <v-btn v-else-if="type === '흰색'" icon>
        <v-icon v-on="on" class="mx-2 white--text">mdi-delete</v-icon>
      </v-btn>
      <v-btn v-else icon>
        <v-icon v-on="on" class="mx-2">mdi-delete</v-icon>
      </v-btn>
    </template>
    <v-card class="delete-style">
      <v-container>
        <v-card-text class="d-flex justify-center">
          정말 삭제하시겠습니까?
        </v-card-text>
        <v-card-actions class="d-flex justify-center">
          <v-dialog
            v-model="success"
            width="100%"
          >
            <template v-slot:activator="{ on }">
              <v-btn class="mx-2" v-on="on" @click="deleteObject" color="error">
                삭제
              </v-btn>
            </template>
            <v-card class="delete-style">
              <v-container>
                <v-layout justify-center>
                  삭제되었습니다.
                </v-layout>
              </v-container>
            </v-card>
          </v-dialog>
          <v-btn class="mx-2" @click="closeDialog">취소</v-btn>
        </v-card-actions>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: {
    type: String,
    deleteValue: Number,
    axiosFunction: Function,
    getData: Function,
  },
  data: () => ({
    dialog: false,
    success: false,
  }),
  methods: {
    closeDialog() {
      this.dialog = false
    },
    deleteObject() {
      this.axiosFunction(this.deleteValue)
      setTimeout(() => {
        this.closeDialog()
        this.success = false
        this.getData()
      }, 1500)
    },
  }
}
</script>

<style>
.delete-style {
  font-family: 'MapoPeacefull';
}
</style>