<template>
  <v-dialog v-model="dialog">
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" v-if="type ==='생성'" block outlined>
        챕터 추가
      </v-btn>
      <v-btn outlined small v-on="on" v-if="type ==='수정'" @click="showData">
        <v-icon class="mdi-18px">mdi-pencil</v-icon>
        수정
      </v-btn>
    </template>

    <v-card class="chapter-form">
      <v-container>
        <v-layout justify-end>
          <div @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </div>
        </v-layout>

        <v-flex text-center mb-6>
          챕터 {{ type }}
        </v-flex>

        <div class="d-flex flex-column align-center">
          <v-form lazy-validation>
            <v-list-item-title class="my-3">챕터 번호</v-list-item-title>
            <v-text-field
              v-model="form.number"
              :rules="numberRules"
              type="number"
              label="Number"
              required
              filled
              dense
            />

            <v-list-item-title class="my-3">제목</v-list-item-title>
            <v-text-field
              v-model="form.title"
              :rules="titleRules"
              :counter="20"
              label="Title"
              required
              filled
              dense
            />

            <v-list-item-title class="my-3">질문</v-list-item-title>
            <v-text-field
              v-model="form.mission"
              :rules="missionRules"
              :counter="100"
              label="Mission"
              required
              filled
              dense
            />

            <v-list-item-title class="my-3">음성 파일</v-list-item-title>
            <v-file-input
              v-model="form.record"
              accept="audio/*"
              prepend-icon="mdi-headset"
              :rules="recordRules"
              label="Record"
              outlined
              dense
            />

            <v-list-item-title class="my-3">챕터 BGM</v-list-item-title>
            <v-file-input
              v-model="form.bgm"
              accept="audio/*"
              prepend-icon="mdi-headset"
              label="BGM"
              outlined
              dense
            />

            <div class="mt-8 mb-2">
              <Confirm
                :checkForm="checkForm"
                :submit="submit"
                :closeDialog="closeDialog"
                :type="type"
                :axiosFunction="axiosFunction"
                :getData="getChapterList"
              />
            </div>

          </v-form>
        </div>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import Confirm from "../../main/form/Confirm"

export default {
  components: {
    Confirm,
  },
  props: {
    type: String,
    chapterAxios: Function,
    chapterId: Number,
    chapterNumber: Number,
    chapterTitle: String,
    chapterMission: String,
    getChapterList: Function,
  },
  data: () => ({
    dialog: false,
    form: {
      number: "",
      title: "",
      mission: "",
      record: null,
      bgm: null,
    },
    errors: [],
    submit: false,
    numberRules: [v => !!v || "필수 입력 항목입니다."],
    titleRules: [v => !!v || "필수 입력 항목입니다."],
    missionRules: [v => !!v || "필수 입력 항목입니다."],
    recordRules: [v => !!v || "필수 입력 항목입니다."],
  }),
  methods: {
    closeDialog() {
      this.dialog = false
    },
    emitData() {
      this.$emit("chapterForm", this.form)
      this.$emit("idToModify", this.chapterId)
    },
    checkForm() {
      this.errors = []
      if (this.form.number.length <= 0) {
        this.errors.push("챕터의 번호를 입력해주세요.")
      }
      if (this.form.title.length <= 0) {
        this.errors.push("챕터의 제목을 입력해주세요.")
      }
      if (this.form.mission.length <= 0) {
        this.errors.push("질문을 입력해주세요.")
      }
      if (this.form.record === null) {
        this.errors.push("질문의 음성파일을 추가해주세요.")
      }
      if (this.errors.length === 0) {
        this.submit = true
      }
      if (this.submit === true) {
        this.emitData()
      }
    },
    axiosFunction() {
      this.checkForm()
      if (this.submit) {
        this.chapterAxios()
      }
    },
    showData() {
      this.form.number = this.chapterNumber
      this.form.title = this.chapterTitle
      this.form.mission = this.chapterMission
    },
  }
}
</script>

<style>
.chapter-form {
  font-family: 'MapoPeacefull';
}
</style>