<template>
  <v-dialog v-model="dialog">
    <template v-slot:activator="{ on }">
      <v-btn class="mr-2" outlined small v-on="on">
        <v-icon class="mdi-18px">mdi-plus-thick</v-icon>
        장면추가
      </v-btn>
    </template>

    <v-card class="chapter-scene-form">
      <v-container>
        <v-layout justify-end>
          <div @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </div>
        </v-layout>

        <v-flex text-center mb-6>
          장면 {{ type }}
        </v-flex>

        <div class="d-flex flex-column align-center">
          <v-form lazy-validation>
            <v-list-item-title class="my-3">장면 번호</v-list-item-title>
            <v-text-field
              v-model="form.number"
              :rules="numberRules"
              type="number"
              label="number"
              required
              filled
              dense
            />

            <v-list-item-title class="my-3">그림 추가</v-list-item-title>
            <v-file-input
              v-model="form.image"
              accept="image/*"
              prepend-icon="mdi-camera"
              label="Image"
              outlined
              dense
            />

            <div class="mt-8 mb-2">
              <Confirm
                :checkForm="checkForm"
                :submit="submit"
                :closeDialog="closeDialog"
                :type="type"
                :axiosFunction="axiosFunction"
                :getData="getChapterList"
              />
            </div>

          </v-form>
        </div>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import Confirm from "../../main/form/Confirm"

export default {
  components: {
    Confirm,
  },
  props: {
    type: String,
    sceneAxios: Function,
    chapterId: Number,
    getChapterList: Function,
  },
  data: () => ({
    dialog: false,
    form: {
      number: "",
      image: null,
    },
    errors: [],
    submit: false,
    numberRules: [v => !!v || "필수 입력 항목입니다."],
  }),
  methods: {
    closeDialog() {
      this.dialog = false
    },
    emitData() {
      this.$emit("sceneForm", this.form)
      this.$emit("idToModify", this.chapterId)
    },
    checkForm() {
      this.errors = []
      if (this.form.number.length <= 0) {
        this.errors.push("챕터의 번호를 입력해주세요.")
      }
      if (this.errors.length === 0) {
        this.submit = true
      }
      if (this.submit === true) {
        this.emitData()
      }
    },
    axiosFunction() {
      this.checkForm()
      if (this.submit) {
        this.sceneAxios()
      }
    },
  }
}
</script>

<style>
.chapter-scene-form {
  font-family: 'MapoPeacefull';
}
</style>