<template>
  <v-bottom-navigation
    class="bottom-nav"
    grow
    fixed
    dark
    background-color="#f2aa83"
  >
    <v-btn @click="goBack">
      <span class="nav-font">뒤로</span>
      <v-icon>mdi-undo</v-icon>
    </v-btn>
    <v-btn @click="removeChapterHistory" to="/">
      <span class="nav-font">메인 페이지</span>
      <v-icon>mdi-home</v-icon>
    </v-btn>
    <v-btn @click="removeChapterHistory" to="/story">
      <span class="nav-font">이야기 속으로</span>
      <v-icon>mdi-book-open</v-icon>
    </v-btn>
    <v-btn @click="removeChapterHistory" to="/mypage">
      <span class="nav-font">마이 페이지</span>
      <v-icon>mdi-account</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
export default {
  methods: {
    goBack() {
      this.removeChapterHistory()
      this.$router.go(-1)
    },
    removeChapterHistory() {
      this.$store.dispatch("nullGameChapter")
      this.$store.dispatch("nullMissionStatus")
      this.$store.dispatch("nullAnswer")      
      this.$store.dispatch("nullAnswerId")      
    },
  }
}
</script>

<style>
.nav-font {
  font-family: 'KyoboHand';
}

</style>