<template>
  <div class="logo text-center my-0">
    <b @click="goHome()">
      <img src="../../../../public/img/logo.png" width="240px" alt="">
    </b>
  </div>
</template>

<script>
import router from "../../../router"

export default {
  methods: {
    goHome() {
      if (this.$store.getters.isTeamPage) {
        this.$router.go(-1)
      } else {
        const path = "/"
        if (this.$route.path !== path) {
          router.push("/")
        }
      }
    },
  }
}
</script>

<style>
.logo {
  font-family: 'KyoboHand';
  font-size: 2rem;
  cursor: pointer;
}
</style>