<template>
  <v-content>
    <div id="app-view">
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </div>
  </v-content>
</template>

<script>
export default {

}
</script>

<style>

</style>