<template>
  <v-container v-if="server">
    <v-card outlined>
      <v-layout class="mt-4" justify-center>
        스크립트 목록
      </v-layout>
      <v-container v-if="pageScripts.length !== 0">
        <v-expansion-panels dense>
          <v-expansion-panel
            v-for="(script, i) in pageScripts"
            :key="i"
          >
            <v-expansion-panel-header>{{i+1}}. {{ script.name }}의 대사</v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="mb-4 d-flex justify-center">
                {{ script.content }}
              </div>
              <div class="d-flex justify-center">
                <audio controls>
                  <source :src="server.back + script.record" type="audio/mp3">
                </audio>
              </div>
              <div class="mt-4 d-flex justify-space-around">
                <v-dialog
                  v-model="dialog"
                >
                  <template v-slot:activator="{ on }">
                    <v-icon v-on="on" @click="changeUpdateData(script.id, script.name, script.content)">mdi-pencil</v-icon>
                  </template>
                  <v-card>
                    <v-container class="pb-0 admin-script-form">
                      <v-layout class="mb-2 mt-4" justify-center>
                        스크립트
                      </v-layout>
                      <v-alert
                        outlined
                        dense
                        type="warning"
                        class="d-flex justify-center"
                      >
                        <v-list-item-subtitle>
                          이름의 기본값은 narration 입니다.
                        </v-list-item-subtitle>
                        <v-list-item-subtitle v-if="!formData.name">
                          이름을 작성해주세요.
                        </v-list-item-subtitle>
                      </v-alert>
                      <v-container>
                        <v-form lazy-validation>
                          <v-row>
                            <v-col>
                              <v-text-field
                                v-model="formData.name"
                                :counter="10"
                                label="Name"
                                outlined
                                dense
                                required
                              />
                            </v-col>
                            <v-col>
                              <v-file-input
                                v-model="formData.record"
                                accept="audio/mp3"
                                label="Record"
                                truncate-length="10"
                                prepend-icon="mdi-headset"
                                outlined
                                dense
                                required
                              />
                            </v-col>
                          </v-row>
                          <div class="mb-0">
                            <v-textarea
                              v-model="formData.content"
                              :rules="contentRules"
                              label="Content"
                              outlined
                              dense
                              required
                            />
                          </div>
                          <v-row>
                            <v-col>
                              <Confirm
                                :changeValue="selectPageId"
                                :checkForm="checkForm"
                                :submit="submit"
                                :closeDialog="closeScriptForm"
                                :type="type2"
                                :axiosFunction="changeScript"
                                :getData="getBackgroundImage"
                              />
                            </v-col>
                            <v-col>
                              <v-btn class="mt-3" outlined block @click="closeScriptForm">취소</v-btn>
                            </v-col>
                          </v-row>
                        </v-form>
                      </v-container>
                    </v-container>
                  </v-card>
                </v-dialog>
                <Delete
                  :deleteValue="script.id"
                  :axiosFunction="deleteScript"
                  :getData="getBackgroundImage"
                />
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-container>
      <v-container v-else>
        <div class="ml-2 mt-1">
          스크립트가 없습니다.
        </div>
      </v-container>
      <div v-if="pageId">
        <div v-if="showStatus">
          <hr class="mt-4 mb-2 mx-12">
          <PageScriptForm
            :pageId="pageId"
            :type="type"
            :scriptFormStatus="showScriptForm"
            :scriptAxios="createScript"
            :getBackgroundImage="getBackgroundImage"
            @changeFormData="changeFormData"
          />
        </div>
        <v-container>
          <v-btn v-if="!showStatus" @click="showScriptForm" outlined block>스크립트 생성</v-btn>
        </v-container>
      </div>
    </v-card>
  </v-container>
</template>

<script>
import PageScriptForm from "./PageScriptForm"
import Confirm from "../../../main/form/Confirm"
import Delete from "../../../main/form/Delete"
import baseURL from "../../../../http-common"
import server from "../../../../server"

export default {
  components: {
    PageScriptForm,
    Confirm,
    Delete,
  },
  props: {
    pageId: Number,
    pageScripts: Array,
    getBackgroundImage: Function,
  },
  data: () => ({
    formData: {
      name: "",
      record: null,
      content: "",
    },
    selectPageId: null,
    contentRules: [v => !!v || "대사는 필수입니다."],
    script: null,
    showStatus: false,
    type: "생성",
    type2: "수정",
    dialog: false,
    name: "",
    record: null,
    content: "",
    requestHeader: "",
    server: null,
    errors: [],
    submit: false,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.server = server
  },
  methods: {
    deleteScript(id) {
      baseURL
      .delete(`/scripts/${id}/`, this.requestHeader)
      .then(() => {})
      .catch(() => {})
    },
    showScriptForm() {
      this.showStatus = !this.showStatus
    },
    closeScriptForm() {
      this.dialog = false
    },
    changeStatus(status) {
      this.showStatus = status
    },
    createScript() {
      const fd = new FormData()
      fd.append("name", this.name)
      fd.append("record", this.record)
      fd.append("content", this.content)

      baseURL
      .post(`/scripts/${this.pageId}/`, fd, this.requestHeader)
      .then(() => {
        this.$store.dispatch("getPage", this.pageId)
      })
      .catch(() => {})
    },
    changeScript(id) {
      const fd = new FormData()
      fd.append("name", this.formData.name)
      fd.append("record", this.formData.record)
      fd.append("content", this.formData.content)

      baseURL
      .put(`/scripts/${id}/`, fd, this.requestHeader)
      .then(() => {
        this.$store.dispatch("getPage", this.pageId)
        this.formData.record = null
      })
      .catch(() => {})
    },
    changeFormData(formData) {
      this.name = formData.name
      this.record = formData.record
      this.content = formData.content
    },
    changeUpdateData(id, name, content) {
      this.selectPageId = id
      this.formData.name = name
      this.formData.content = content
    },
    checkForm() {
      this.errors = []
      if (this.type === "수정") {
        if (this.formData.name.length <= 0) {
          this.errors.push("이름을 입력해주세요.")
        }
      }
      if (this.formData.record === null) {
        this.errors.push("음성 파일을 올려주세요.")
      }
      if (this.formData.content.length <= 0) {
        this.errors.push("대사를 입력해주세요.")
      }
      if (this.errors.length === 0) {
        this.submit = true
      }
    },
  }
}
</script>

<style>

</style>