<template>
  <v-container class="pb-0 admin-script-form">
    <v-layout class="mb-2 mt-4" justify-center>
      스크립트 {{ type }}
    </v-layout>
    <v-alert
      outlined
      dense
      type="warning"
      class="d-flex justify-center"
    >
      <v-list-item-subtitle>
        이름의 기본값은 narration 입니다.
      </v-list-item-subtitle>
      <v-list-item-subtitle v-if="!formData.name && type === '수정'">
        이름을 작성해주세요.
      </v-list-item-subtitle>
    </v-alert>
    <v-container>
      <v-form lazy-validation>
        <v-row>
          <v-col>
            <v-text-field
              v-model="formData.name"
              :counter="10"
              label="Name"
              outlined
              dense
              required
            />
          </v-col>
          <v-col>
            <v-file-input
              v-model="formData.record"
              accept="audio/mp3"
              label="Record"
              truncate-length="10"
              prepend-icon="mdi-headset"
              outlined
              dense
              required
            />
          </v-col>
        </v-row>
        <div class="mb-0">
          <v-textarea
            v-model="formData.content"
            :rules="contentRules"
            label="Content"
            outlined
            dense
            required
          />
        </div>
        <v-row>
          <v-col>
            <Confirm
              :changeValue="scriptId"
              :checkForm="checkForm"
              :submit="submit"
              :closeDialog="closeDialog"
              :type="type"
              :axiosFunction="axiosFunction"
              :getData="getBackgroundImage"
            />
          </v-col>
          <v-col>
            <v-btn class="mt-3" outlined block @click="resetData">취소</v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-container>
  </v-container>
</template>

<script>
import Confirm from "../../../main/form/Confirm"

export default {
  components: {
    Confirm,
  },
  props: {
    pageId: Number,
    type: String,
    scriptId: Number,
    scriptName: String,
    scriptContent: String,
    scriptFormStatus: Function,
    scriptAxios: Function,
    getBackgroundImage: Function,
  },
  data: () => ({
    formData: {
      name: "",
      record: null,
      content: "",
    },
    name: "",
    content: "",
    contentRules: [v => !!v || "대사는 필수입니다."],
    dialog: false,
    errors: [],
    submit: false,
  }),
  methods: {
    closeDialog() {
      this.dialog = false
      this.scriptFormStatus()
    },
    axiosFunction(id) {
      this.checkForm()
      if (this.submit) {
        this.scriptAxios(id)
      }
    },
    checkForm() {
      this.errors = []
      if (this.type === "수정") {
        if (this.formData.name.length <= 0) {
          this.errors.push("이름을 입력해주세요.")
        }
      }
      if (this.formData.record === null) {
        this.errors.push("음성 파일을 올려주세요.")
      }
      if (this.formData.content.length <= 0) {
        this.errors.push("대사를 입력해주세요.")
      }
      if (this.errors.length === 0) {
        this.submit = true
        this.$emit("changeFormData", this.formData)
      }
    },
    resetData() {
      this.formData.name = this.scriptName
      this.formData.content = this.scriptContent
      this.scriptFormStatus()
    },
    clearData() {
      this.name = null
      this.content = null
      this.formData.name = null
      this.formData.content = null
    },
  }
}
</script>

<style>
.admin-script-form {
  font-family: 'MapoPeacefull';
}
</style>