<template>
  <v-dialog
    v-model="dialog"
  >
    <template v-slot:activator="{ on }">
      <div class="d-flex justify-end">
        <v-icon v-if="imageType" v-on="on" class="white--text">mdi-pencil</v-icon>
        <v-icon v-else v-on="on" class="mr-4">mdi-plus</v-icon>
      </div>
    </template>
    <v-card class="admin-backgroundimage-form">
      <v-container>
        <v-layout justify-end>
          <div @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </div>
        </v-layout>
        <div v-if="imageType" class="text-center mb-4">
          배경 이미지 {{ type }}
        </div>
        <div v-else class="text-center mb-4">
          배경 이미지 {{ type2 }}
        </div>
        <v-alert
          v-if="!image"
          outlined
          dense
          type="warning"
          class="d-flex justify-center"
        >
          <v-list-item-subtitle>
            이미지를 선택하지 않았습니다.
          </v-list-item-subtitle>
        </v-alert>
        <div>
          <v-form lazy-validation>
            <v-file-input
              v-model="image"
              accept="image/png, image/jpeg"
              prepend-icon="mdi-camera"
              label="Image"
              clearable
              outlined
              dense
            />
            <div class="my-2">
              <Confirm
                v-if="imageType"
                :checkForm="checkForm"
                :submit="submit"
                :closeDialog="closeDialog"
                :type="type"
                :axiosFunction="changeBackgroundImage"
                :getData="getBackgroundImage"
              />
              <Confirm
                v-else
                :checkForm="checkForm"
                :submit="submit"
                :closeDialog="closeDialog"
                :type="type2"
                :axiosFunction="changeBackgroundImage"
                :getData="getBackgroundImage"
              />
            </div>
          </v-form>
        </div>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import Confirm from "../../../main/form/Confirm"
import baseURL from "../../../../http-common"

export default {
  props: {
    pageId: Number,
    imageType: Boolean,
    getBackgroundImage: Function,
  },
  components: {
    Confirm,
  },
  data: () => ({
    dialog: false,
    type: "변경",
    type2: "추가",
    image: null,
    errors: [],
    submit: false,
    claerImage: "",
    requestHeader: "",
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
  },
  methods: {
    closeDialog() {
      this.dialog = false
    },
    changeBackgroundImage() {
      const fd = new FormData()
      if (this.image === null) {
        fd.append("image", this.claerImage)
      } else {
        fd.append("image", this.image)
      }

      baseURL
      .put(`/bgImages/${this.pageId}/`, fd, this.requestHeader)
      .then(() => {
        this.$store.dispatch("getPage", this.pageId)
      })
      .catch(() => {})

    },
    checkForm() {
      this.errors = []
      if (this.imageType === false) {
        if (this.image === null) {
          this.errors.push("이미지 파일을 올려주세요.")
        }
        if (this.image === undefined) {
          this.errors.push("이미지 파일을 올려주세요.")
        }
      }
      if (this.errors.length === 0) {
        this.submit = true
      }
    },
  }
}
</script>

<style>
.admin-backgroundimage-form {
  font-family: 'MapoPeacefull';
}
</style>