<template>
  <v-container v-if="server">
    <v-card outlined>
      <v-container v-if="pageImage">
        <v-img :aspect-ratio="1/1" :src="server.back + pageImage">
          <v-row align="end" class="textbox white--text px-4 py-1 fill-height">
            <v-col>
              <div>{{ pageNumber }}페이지의 배경 이미지</div>
            </v-col>
            <v-col cols="2">
              <BackgroundImageChange
                :pageId=pageId
                :imageType="imageType"
                :getBackgroundImage="getBackgroundImage"
              />
            </v-col>
          </v-row>
        </v-img>
      </v-container>
      <v-container v-else>
        <div class="d-flex justify-space-between">
          <span class="ml-2 mt-1">
            배경 이미지가 없습니다.
          </span>
        </div>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import BackgroundImageChange from "./BackgroundImageChange"
import server from "../../../../server"

export default {
  components: {
    BackgroundImageChange,
  },
  props: {
    pageId: Number,
    pageNumber: Number,
    pageImage: String,
    getBackgroundImage: Function,
  },
  data: () => ({
    imageType: true,
    server: null,
  }),
  mounted() {
    this.server = server
  }
}
</script>

<style>
.textbox{
  box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 72px);
}
</style>