<template>
  <v-dialog v-model="dialog">
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" class="mx-1" small depressed color="primary">
        아이템 {{ type }}
      </v-btn>
    </template>
    <v-card class="item-form">
      <v-container>
        <v-layout justify-end>
          <div @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </div>
        </v-layout>
        <v-alert
          v-if="alert"
          outlined
          dense
          type="error"
          class="mt-1 mb-4"
        >
          모든 항목을 작성해주세요.
        </v-alert>
        <v-container>
          <v-form lazy-validation>
            <v-select
              v-model="formData.sort"
              :items="sortList"
              item-text="name"
              item-value="id"
              label="분류"
              dense
            />
            <v-text-field
              v-model="formData.name"
              :rules="nameRules"
              label="아이템 이름"
              dense
              required
            />
            <v-file-input
              v-model="formData.image"
              accept="image/png, image/jpeg"
              prepend-icon="mdi-camera"
              label="아이템 이미지"
              clearable
              outlined
              dense
            />
            <v-file-input
              v-model="formData.wearImage"
              accept="image/png, image/jpeg"
              prepend-icon="mdi-camera"
              label="아이템 실착용 이미지"
              clearable
              outlined
              dense
            />
          </v-form>
          <v-btn block depressed color="primary" @click="submitItem">
            {{ type }}
          </v-btn>
        </v-container>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    type: String,
    itemId: Number,
    itemName: String,
    sortList: Array,
    axiosFunction: Function,
  },
  data: () => ({
    dialog: false,
    formData: {
      sort: null,
      name: "",
      image: null,
      wearImage: null,
    },
    name: null,
    nameRules: [v => !!v || "필수 입력 항목입니다."],
    submit: false,
    alert: false,
  }),
  updated() {
    if (this.type === "수정") {
      if (this.name !== this.itemName) {
        this.name = this.itemName
        this.updateFormData()
      }
    }
  },
  methods: {
    closeDialog() {
      this.dialog = false
      this.alert = false
      this.formData.sort = null
      this.formData.image = null
      this.formData.wearImage = null
      if (this.type === "등록") {
        this.formData.name = ""
      }
      else {
        this.formData.name = this.itemName
      }
    },
    checkForm() {
      this.submit = false
      this.errors = []
      if (this.formData.sort === null) {
        this.errors.push("분류를 선택해주세요.")
      }
      if (this.formData.name.length <= 0) {
        this.errors.push("아이템 이름을 입력해주세요.")
      }
      if (this.formData.image === null) {
        this.errors.push("이미지를 넣어주세요.")
      }
      if (this.formData.wearImage === null) {
        this.errors.push("이미지를 넣어주세요.")
      }
      if (this.errors.length === 0) {
        this.submit = true
        this.$emit("changeFormData", this.formData)
      }
    },
    submitItem() {
      this.alert = false
      this.checkForm()
      if (this.submit) {
        this.axiosFunction(this.itemId)
      } else {
        this.alert = true
      }
    },
    updateFormData() {
      this.formData.name = this.itemName
    },
  }
}
</script>

<style>
.item-form {
  font-family: 'MapoPeacefull';
}
</style>