<template>
  <v-container v-if="maxChapterLength !== 0 && server" class="chapter-page">
    <div v-for="(chapter, i) in chapterList" :key="i" class="my-4" data-aos="fade-right">
      <div
        v-if="chapter && i < lockChapterIndex && chapterImageList[i] !== null && chapterAnswerStatusList[i]"
        class="chapter row mb-1"
        @click="goToGame(i+1, chapter.id, chapter.bgm)"
      >
        <div class="col-5">
          <div id="bookmark" v-if="chapter.id === lastPlayChapter" class="last-play-chapter">
            <v-img width="30vw" src="../../../../public/img/avatar3.png">
              <span class="last-play-chapter-text">
                내 위치
              </span>
            </v-img>
          </div>
          <img :src="server.back+chapterImageList[i].image" class="chapter-img">
        </div>
        <div class="col-6 align-self-center chapter-box" :order="`${i%2}`">
          <div class="chapter-info">
            <h2 class="ml-2">Chapter {{ i+1 }}</h2>
            <h4 class="ml-4">{{ chapter.title }}</h4>
          </div>
          <div class="chapter-progress">
            <p><v-icon>mdi-brush</v-icon> {{ chapter.mission }}</p>
          </div>
        </div>
      </div>
      <div v-else class="chapter row mb-1">
        <div class="col-5">
          <img v-if="chapterImageList[i] !== null" :src="server.back+chapterImageList[i].image" class="chapter-img lock" >
          <img v-else :src="server.back+storyImage" class="chapter-img lock" >
        </div>
        <div class="col-6 align-self-center chapter-box lock" :order="`${i%2}`">
          <div class="chapter-info">
            <h2 class="ml-2">Chapter {{ i+1 }}</h2>
            <h3 class="ml-4">{{ chapter.title }}</h3>
          </div>
          <div class="chapter-progress">
            <v-icon>mdi-lock</v-icon>
          </div>
        </div>
      </div>
    </div>
  </v-container>
  <v-container v-else-if="maxChapterLength === 0 && server" class="chapter-page">
    <div class="my-4" data-aos="fade-right">
      <div class="chapter row mb-1">
        <div class="col-5">
          <img :src="server.back+storyImage" class="chapter-img lock" >
        </div>
        <div class="col-6 align-self-center chapter-box lock" order="0">
          <div class="chapter-info">
            <h3 class="ml-4">챕터가 아직</h3>
            <h3 class="ml-6">열리지 않았습니다.</h3>
          </div>
          <div class="chapter-progress">
            <v-icon>mdi-lock</v-icon>
          </div>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
import '../../../../public/css/dist/aos.css'
import server from "../../../server"

export default {
  props: {
    chapterList: Array,
    lastPlayChapter: Number,
    lockChapterIndex: Number,
    chapterImageList: Array,
    maxChapterLength: Number,
    chapterAnswerStatusList: Array,
  },
  data: () => ({
    storyImage: null,
    server: null,
  }),
  mounted() {
    this.storyImage = this.$store.getters.gameStoryImageSrc
    this.server = server
  },
  methods: {
    goToGame(index, chapterId, bgm) {
      this.$emit("saveChapterValue", index, chapterId, bgm)
    },
  },
}
</script>

<style>
div {
  font-family: 'KyoboHand';
}
.chapter {
  flex-flow: row;
}

.chapter-img[order="0"] {
  border-color: #ccafdd;
  border-image-source: url("../../../../public/img/flower4.png");
  border-image-slice: 230;
}
.chapter-img {
  position: relative;
  object-fit: cover;
  width: 180px;
  height: 180px;
  top: 0px;
  padding: 0 0;
  display: block;
  margin: auto;
  border-radius: 50% 50% 50% 50%;
  background-color: rgb(124, 104, 63);
  /* chapter-img 테두리 */
  border-color: rgb(124, 104, 63);
  border-style: solid;
  border-width: 1.2px 1.2px 1.2px 1.2px;

}
.chapter-img.lock {
   filter: brightness(50%);
}
.chapter-box {
  /* background-color: #ff9999; */
  background-color: #f7a29c;

  box-shadow: 5px 10px rgb(90, 76, 47);
  /* chapter-box 테두리 */
  border-color: rgb(124, 104, 63);
  border-style: solid;
  border-width: 1.2px 1.2px 1.2px 1.2px;
}
.chapter-box.lock {
   filter: brightness(50%);
}
.chapter-box[order="0"] {
  float: left;
  transform: rotate(7deg);
}
.chapter-box[order="1"] {
  float: left;
  transform: rotate(-8deg);
}
.chapter-info {
  background-color: #444f5a;
  color: white;
}
.chapter-progress {
  color:rgb(240, 240, 240);
  margin: 5px 0 0 5px
}
.last-play-chapter {
  position: absolute;
  left: -3.3vw;
  top: -7.5vh;
  font-family: 'KyoboHand';
}
.last-play-chapter-text {
  position: absolute;
  left: 13vw;
  top: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: white;
  border-radius: 40% 40% 40% 40%;
  border-color: black;
  border-style: solid;
  border-width: 1.15px 1.1px 1.1px 1.1px;
  font-size: 4.5vw;
}
</style>