<template>
  <div class="mb-2">
    <div class="d-flex justify-space-between">
      <div class="book-mark-hint" v-if="hintStatus">
        <v-container>
          <div class="book-mark-hint-title">
            HINT!
          </div>
          <div class="book-mark-hint-content">
            고양이를 클릭하면 잠겨있지 않은 마지막 챕터를 플레이할 수 있습니다.
          </div>
        </v-container>
      </div>
      <div class="question-mark ml-3 d-flex justify-center align-center" @touchstart="touchStart" @touchend="touchEnd">
        <b>?</b>
      </div>
      <span>난이도: {{ difficulty }}</span>
    </div>
    <div class="tab">
      <div class="d-flex justify-center">
        <div class="mt-2 mb-3">
          <b v-if="$store.getters.playerName" class="highlight">{{ $store.getters.playerName }}</b>
          <span v-else class="highlight inline"> 
          <v-img class="d-inline-block" src="../../../../public/img/star1.png" max-width="11px"/>
            동화수선공
          <v-img class="d-inline-block" src="../../../../public/img/star.png" max-width="11px"/>
          </span>
          님의 진행상황
        </div>
      </div>
    </div>
    <div class="mx-auto info-box tabcontent" id="Progress" >
      <div class="mx-5 tab-box">
        <p class="text-center" >총 {{ maxChapterLength }}단계 중 <b class="highlight">{{ playedChapterLength }}단계</b> 클리어</p>
        <div class="progress">
          <img src="../../../../public/img/run.png" class="loading-img floater" :style="{left: progress + '%'}" @click="goToGame">
          <div class="progress-bar">
            <div class="progress-bar-origin"></div>
            <div class="progress-bar-status" :style="{'width': progress + '%'}"></div>
          </div>
        </div>
        
        <div class="progress-text text-center mt-3">
          <h4 class="mx-auto progress-status">
            <p v-if="progress === 100">모든 챕터 완료!</p>
            <p v-else>{{100-progress}}% 남았습니다! 고고!</p>
          </h4>
        </div>
      </div>
    </div>
    <span class="clova d-flex justify-end">클로바더빙으로 제작한 AI 보이스가 포함되어 있습니다!</span>
  </div>
</template>

<script>
import "../../../../public/css/dist/aos.css"

export default {
  props: {
    playedChapterLength: Number,
    maxChapterLength: Number,
    progress: Number,
    myNewPlayChapterId: Number,
    myNewPlayChapterIndex: Number,
    myNewPlayChapterBgm: String,
  },
  data: () => ({
    gameStoryDifficulty: null,
    difficulty: null,
    difficultyList: ["쉬움", "보통", "어려움"],
    hintStatus: false,
  }),
  mounted() {
    this.gameStoryDifficulty = this.$store.getters.gameStoryDifficulty
    this.difficulty = this.difficultyList[this.gameStoryDifficulty]
  },
  methods: {
    touchStart() {
      this.hintStatus = true
    },
    touchEnd() {
      this.hintStatus = false
    },
    goToGame() {
      if (this.myNewPlayChapterIndex && this.myNewPlayChapterId) {
        this.$emit("saveChapterValue", this.myNewPlayChapterIndex, this.myNewPlayChapterId, this.myNewPlayChapterBgm)
      }
    },
  }
}
</script>

<style>
.progress-outline {
  padding: 1.5px 1.5px 1.5px 1.5px;
  background-color: rgb(124, 104, 63);
}
.progress-outline2 {
  padding: 0 1.5px 1.5px 1.5px;
  background-color: rgb(124, 104, 63);
}
.loading-img {
  position: relative;
  width: 12vw;
  margin-left: -7vw;
  margin-top: 2vh;
}
.info-box {
  overflow-block: auto;
  position: relative;
  background-color: #bf9ac8;
}
.tab {
  overflow: hidden;
  background-color: #7fbde1;
  position: relative;
  border-color: rgb(97, 83, 57);
  border-style: solid;
  border-width: 1.5px;
}
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.3s;
  font-size: 17px;
}
.tab .close {
  position: absolute;
  right: 0px;
}
.tabcontent {
  padding: 6px 12px;
  border-top: none;
  border-color: rgb(97, 83, 57);
  border-style: solid;
  border-width: 0 1.5px 1.5px 1.5px;
}
.progress-bar {
  position: relative;
}
.progress-bar-origin {
  position: relative;
  height: 10px;
  background-color:#ffbdd9;
  border-color: rgb(97, 83, 57);
  border-style: solid;
  border-width: 1px;
}
.progress-bar-status {
  position: absolute;
  top: 0px;
  height: 10px;
  background-color: #eb5797;
  border-color: rgb(97, 83, 57);
  border-style: solid;
  border-width: 1.5px 1.5px 1.5px 1.5px;
}
.progress-status {
  background-color: #fcf38d;
  width: 45vw;
}
.tab-box {
  position: relative;
}
.progress {
  position: relative;
  top: -25px;
  margin-bottom: 20px;
}
.progress-text {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%)
}
.highlight {
  background-color: #fcf38d;
  padding-left: 1vw;
  padding-right: 1vw;
}
.question-mark {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  font-size: 4vw;
  margin-bottom: 1vh;
}
.book-mark-hint {
  position: absolute;
  z-index: 1;
  margin-left: 10vw;
  width: 80vw;
  height: 15vh;
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
}
.book-mark-hint-title {
  font-size: 5vw;
}
.book-mark-hint-content {
  font-size: 4vw;
  margin: 0 5px;
}
.clova {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
</style>
