<template>
  <div v-if="storyId">
    <div v-if="chapterId">
      <div v-if="!loading">
        <div v-if="myDrawings">
          <div v-if="myDrawings.length !== 0">
            <div class="drawing-social my-5">
              <Social :drawingId=drawingId :myDrawings="myDrawings"/>
            </div>
            <div class="carousel-frame">
              <v-carousel
                v-model="drawingId"
                width="100%"
                height="100%"
                hide-delimiters
                hide-delimiter-background
                delimiter-icon="mdi-minus"
                class="drawing-carousel"
              >
                <!-- loading 느리게 -->
                <v-carousel-item
                  v-for="(myDrawing, i) in myDrawings"
                  :key="i"
                  :src="server.back + myDrawing.image"
                  class="drawing-carousel-item"
                >
                  <div class="drawing-explain">
                    "{{myDrawing.answer.ko_name}}" - {{myDrawing.timestamp}}
                  </div>
                </v-carousel-item>
              </v-carousel>
            </div>
            
          </div>
          <div v-else>
            <v-layout justify-center class="mt-12">
              작품이 없습니다.
            </v-layout>
            <v-layout justify-center class="mt-1">
              챕터를 클리어하여 작품을 완성해주세요.
            </v-layout>
          </div>
        </div>
        <div v-else>
          <v-layout justify-center class="mt-12">
            작품이 없습니다.
          </v-layout>
          <v-layout justify-center class="mt-1">
            챕터를 클리어하여 작품을 완성해주세요.
          </v-layout>
        </div>
      </div>
      <div v-else>
        <v-layout justify-center class="mt-3">
          나의 작품을 불러오는 중입니다.
        </v-layout>
      </div>
    </div>
    <div v-else>
      <v-layout justify-center class="mt-3">
        챕터를 선택해주세요.
      </v-layout>
    </div>
  </div>
  <div v-else>
    <v-layout justify-center class="mt-3">
      스토리와 챕터를 선택해주세요.
    </v-layout>
  </div>
</template>

<script>
import Social from "./Social"
import baseURL from "../../../http-common"
import server from "../../../server"

export default {
  components: {
    Social,
  },
  props: {
    storyId: Number,
    chapterId: Number,
  },
  data: () => ({
    requestHeader: "",
    myDrawings: null,
    story: null,
    chapter: null,
    drawingId: null,
    drawingImg: null,
    server: null,
    loading: false,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.story = this.storyId
    this.chapter = this.chapterId
    this.server = server
    this.getMyDrawings()
  },
  updated() {
    this.updateStoryId()
  },
  methods: {
    getMyDrawings() {
      this.loading = true
      if (this.story && this.chapter) {
        baseURL
        .get(`/accounts/${this.story}/${this.chapter}/collection/`, this.requestHeader)
        .then((res) => {
          this.myDrawings = res.data.data
          setTimeout(() => {
            this.loading = false
          }, 1000)
        })
        .catch(() => {})
      }
    },
    clickImg(id, img) {
      this.drawingId = id
      this.drawingImg = img
    },
    updateStoryId() {
      if (this.story !== this.storyId) {
        this.story = this.storyId
        this.getMyDrawings()
      } else if (this.chapter !== this.chapterId) {
        this.chapter = this.chapterId
        this.getMyDrawings()
      }
    },
  }
}
</script>

<style>
.drawing-card {
  background-color: black;
}
.carousel-frame {
  position: relative;
}
.drawing-carousel {
  background-color: white;
  border-color: rgb(92, 76, 48);
  border-style: solid;
  border-width: 1.5px 1.5px 1.5px 1.5px;
}
.drawing-carousel-item {
  position: relative;
}
.my-drawing-card {
  background-color: white;
  border-color: rgb(92, 76, 48);
  border-style: solid;
  border-width: 1.5px 1.5px 1.5px 1.5px;

}
.drawing-explain {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgba(0, 0, 0, 0.05);
}
.drawing-social {
  position: relative;
  width: 100%;
}
</style>