<template>
  <v-container class="select-gallery py-0">
    <div class="select-gallery-card px-0">
      <v-container class="pb-0 mb-0">
        <v-layout justify-center>
          스토리와 챕터를 선택해주세요.
        </v-layout>
        <v-row align="center">
          <v-col class="d-flex pb-0" cols="6">
            <v-select
              v-model="story"
              :items="storyList"
              item-text="title"
              item-value="id"
              label="Story"
              dense
              outlined
              color="black"
              no-data-text="아직 데이터가 없습니다."
              class="select-gallery"
              @change="updateStorySelection"
            />
          </v-col>

          <v-col class="d-flex pb-0" cols="6">
            <v-select
              v-if="chapterList"
              v-model="chapter"
              :items="chapterList"
              item-text="title"
              item-value="id"
              label="Chapter"
              dense
              outlined
              color="black"
              no-data-text="스토리가 없습니다."
              class="select-gallery"
              @change="updateChapterSelection"
            />
            <v-select
              v-else
              disabled
              label="Chapter"
              dense
              outlined
              no-data-text="챕터가 없습니다."
              class="select-gallery"
            />
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-container>
</template>

<script>
export default {
  props: {
    storyList: Array,
    storyId: Number,
    chapterList: Array,
    chapterId: Number,
  },
  data: () => ({
    requestHeader: "",
    story: null,
    chapter: null,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
  },
  methods: {
    updateStorySelection() {
      this.$emit("changeStoryId", this.story)
      this.chapter = null
    },
    updateChapterSelection() {
      this.$emit("changeChapterId", this.chapter)
    },
  },
}
</script>

<style>
.select-gallery {
  font-family: 'KyoboHand';
  padding-right: 0;
  padding-left: 0;
}
.select-gallery-card {
  background-color: rgb(255, 255, 255);
  border-color: rgb(116, 93, 66);
  border-style: solid;
  border-width: 1.5px 1.5px 1.5px 1.5px;
}
</style>