<template>
<div class="">
  <div v-if="myDrawings" color="#F06292">
    <div class="d-flex justify-center">
      <span class="social-heart" @click="heart(myDrawings[drawingId].id)">
        <v-icon class="mdi-18px" dark>mdi-heart-multiple-outline</v-icon>
        원픽 등록
      </span>
    </div>
  </div>
</div>
</template>

<script>
import swal from 'sweetalert'
import baseURL from "../../../http-common"

export default {
  components: {
  },
  props: {
    drawingId: Number,
    myDrawings: Array,
  },
  methods: {
    heart(collectionId) {
      swal({
        text: "원픽으로 설정하시겠습니까?",
        className: "social-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "확인",
            value: true,
            visible: true,
            closeModal: true,
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader
          baseURL
          .get(`/accounts/one-pick/${collectionId}/`, requestHeader)
          .then(() => {
            swal({
              text: "원픽으로 설정되었습니다.",
              className: "social-alert",
              timer: 1500,
            })
          })
          .catch(() => {})
        }
      })
    },
    remove(collectionId) {
      swal({
        text: "정말 삭제하시겠습니까?",
        className: "remove-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "삭제",
            value: true,
            visible: true,
            closeModal: true,
            className: "remove-alert-confirm",
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader
          baseURL
          .delete(`/accounts/collection/${collectionId}/`, requestHeader)
          .then(() => {
            location.reload()
          })
          .catch(() => {})
        }
      })
    }
  }

}
</script>

<style>
.social-card {
  position: relative;
  width: 100%;
  height: 10vw;
  background-color: white;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  font-size: 4vw;
}
.social-alert {
  font-family: 'KyoboHand';
}
.remove-alert-confirm {
  background-color: #d33;
}
.social-heart {
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: rgba(223, 89, 152, 0.781);
  border-radius: 5px;
  padding: 0 12px 0 8px;
  color: rgba(255, 255, 255, 0.932);
}
.social-remove {
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: rgba(124, 43, 43, 0.685);
  border-radius: 5px;
  padding: 0 8px;
  color: rgb(37, 35, 32);
}
</style>