<template>
  <v-container>
    <v-btn v-if="!openStoryList && storyList.length===0" outlined block @click="showStoryList" disabled>스토리 목록 보기</v-btn>
    <v-btn v-if="!openStoryList && storyList.length!==0" color="#c96338" outlined block @click="showStoryList">스토리 목록 보기</v-btn>
    <v-btn v-if="openStoryList" depressed color="#eb865b"  dark block @click="showStoryList">스토리 목록 닫기</v-btn>
    <AdminStoryDetail
      v-if="openStoryList"
      :storyList="storyList"
      :getStoryList="getStoryList"
    />
    <div v-if="!openStoryList">
      <v-container>
        <v-card class="my-3" outlined>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle v-if="storyList.length===0" class="d-flex justify-center my-4">
                스토리를 생성해주세요.
              </v-list-item-subtitle>
              <v-list-item-subtitle v-else class="d-flex justify-center my-4">
                스토리 목록을 펼쳐주세요.
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-container>
    </div>
  </v-container>
</template>

<script>
import AdminStoryDetail from "./AdminStoryDetail"
import baseURL from "../../../http-common"

export default {
  components: {
    AdminStoryDetail,
  },
  data: () => ({
    story: null,
    openStoryList: false,
    storyList: [],
    requestHeader: "",
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.getStoryList()
  },
  methods: {
    showStoryList() {
      this.openStoryList = !this.openStoryList
    },
    showStoryDetail() {
      if (this.story === undefined) {
        this.story = null
      }
      this.$emit("changeStory", this.story)
    },
    getStoryList() {
      baseURL
      .get("/stories/", this.requestHeader)
      .then((res) => {
        this.storyList = res.data.data
      })
      .catch(() => ({}))
    },
  }
}
</script>

<style>

</style>