<template>
  <v-container v-if="server">
    <v-card class="my-3" v-for="(story, i) in storyList" :key="i">
      <v-list-item @click="goToAdminChapter(i+1, story.id, story.title)">
        <v-list-item-content>
          <v-list-item-title> Story {{ i+1 }}. </v-list-item-title>
          <v-list-item-subtitle class="my-2">제목: {{ story.title }}</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2">난이도: {{ difficultyList[story.difficulty] }}</v-list-item-subtitle>
          <v-list-item-subtitle class="my-2">테마 색상: <span :style="{'backgroundColor': story.color}">{{ story.color }}</span></v-list-item-subtitle>
          <v-list-item-subtitle class="my-2">사진:</v-list-item-subtitle>
          <div class="admin-story-image-container">
            <img class="admin-story-image" :src="server.back+story.image">
          </div>
        </v-list-item-content>
      </v-list-item>
      <div class="d-flex justify-end pb-2">
        <StoryForm
          :changeValue="story.id"
          :storyTitle="story.title"
          :storyDifficulty="story.difficulty"
          :type="type"
          :axiosFunction="changeStory"
          :getStoryList="getStoryList"
          @changeFormData="changeFormData"
        />
        <div @click="change(story.id)">
          <Delete
            :deleteValue="story.id"
            :axiosFunction="deleteStory"
            :getData="getStoryList"
          />
        </div>
      </div>
    </v-card>
  </v-container>
</template>

<script>
import StoryForm from "./StoryForm"
import Delete from "../../main/form/Delete"
import router from "../../../router"
import baseURL from "../../../http-common"
import server from "../../../server"

export default {
  components: {
    StoryForm,
    Delete,
  },
  props: {
    storyList: Array,
    getStoryList: Function,
  },
  data: () => ({
    type: "수정",
    storyId: null,
    difficultyList: ["쉬움", "보통", "어려움"],
    title: "",
    image: null,
    difficulty: null,
    color: null,
    requestHeader: "",
    server: null,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.server = server
  },
  methods: {
    goToAdminChapter(n, id, title) {
      this.$store.dispatch("getStory", id)
      this.$store.dispatch("getStoryTitle", title)
      router.push(`/manage-story/${n}/chapter`)
    },
    changeStory(id) {
      this.storyId = id

      const fd = new FormData()
      fd.append("title", this.title)
      fd.append("image", this.image)
      fd.append("difficulty", this.difficulty)
      fd.append("color", this.color)

      baseURL
      .put(`/stories/${id}/`, fd, this.requestHeader)
      .then(() => {})
      .catch(() => {})
    },
    deleteStory(id) {
      baseURL
      .delete(`/stories/${id}/`, this.requestHeader)
      .then(() => {})
      .catch(() => {})
    },
    changeFormData(formData) {
      this.title = formData.title
      this.image = formData.image
      this.difficulty = formData.difficulty
      this.color = formData.color
    },
  }
}
</script>

<style>
.admin-story-image-container {
  position: relative;
  width: 100%;
}
.admin-story-image {
  position: relative;
  width: 100%;
}
.admin-story-avatar {
  position: relative;
  z-index: 1;
}
</style>