<template>
  <v-dialog
    v-model="dialog"
  >
    <template v-slot:activator="{ on }">
      <v-container v-if="type==='생성'">
        <v-btn @click="resetStoryForm" v-on="on" depressed color="#9fd6a8" block>스토리 {{ type }}</v-btn>
      </v-container>
      <v-icon v-if="type==='수정'" v-on="on">mdi-pencil</v-icon>
    </template>
    <v-card class="story-form">
      <v-container>
        <v-layout justify-end>
          <div @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </div>
        </v-layout>
        <div class="text-center mb-6">
          스토리 {{ type }}
        </div>
        <div class="d-flex flex-column align-center">
          <v-container class="pa-0">
            <v-form lazy-validation>
              <v-list-item-title class="my-3">제목 {{ type }}</v-list-item-title>
              <v-text-field
                v-model="formData.title"
                :rules="titleRules"
                :counter="20"
                label="Title"
                required
                filled
                dense
              />
              <v-list-item-title class="my-3">이미지 {{ type }}</v-list-item-title>
              <v-file-input
                v-model="formData.image"
                accept="image/*"
                prepend-icon="mdi-camera"
                label="Image"
                placeholder="정방형 사진을 넣어주세요."
                outlined
                dense
              />
              <v-list-item-title class="my-3">난이도 {{ type }}</v-list-item-title>
              <div class="d-flex justify-center">
                <v-radio-group
                  v-model="formData.difficulty"
                  row
                >
                  <v-radio
                    v-for="(difficulty, i) in difficultyList"
                    :key="i"
                    :label="difficulty"
                    :value="i"
                  />
                </v-radio-group>
              </div>
              <v-list-item-title class="my-3">테마 색상 {{ type }}</v-list-item-title>
              <div class="d-flex justify-center">
                <v-color-picker
                  v-model="allTypeColor"
                  class="ma-2"
                  hide-inputs
                />
              </div>
              <div class="mt-8 mb-2">
                <Confirm
                  :checkForm="checkForm"
                  :submit="submit"
                  :changeValue="changeValue"
                  :closeDialog="closeDialog"
                  :type="type"
                  :axiosFunction="axiosFunction"
                  :getData="getStoryList"
                />
              </div>
            </v-form>
          </v-container>
        </div>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import Confirm from "../../main/form/Confirm"

export default {
  components: {
    Confirm,
  },
  props: {
    changeValue: Number,
    storyTitle: String,
    storyDifficulty: Number,
    type: String,
    axiosFunction: Function,
    getStoryList: Function,
  },
  data: () => ({
    dialog: false,
    formData: {
      title: "",
      image: null,
      difficulty: null,
      color: null,
    },
    allTypeColor: null,
    difficultyList: ["쉬움", "보통", "어려움"],
    titleRules: [v => !!v || "필수 입력 항목입니다."],
    errors: [],
    submit: false,
  }),
  mounted() {
    this.getData()
  },
  methods: {
    closeDialog() {
      this.dialog = false
    },
    checkForm() {
      this.errors = []
      if (this.formData.title.length <= 0) {
        this.errors.push("제목을 입력해주세요.")
      }
      if (this.formData.image === null) {
        this.errors.push("이미지를 올려주세요.")
      }
      if (this.formData.difficulty === null) {
        this.errors.push("난이도를 선택해주세요.")
      }
      if (this.hex === null) {
        this.errors.push("색상을 선택해주세요.")
      }
      if (this.errors.length === 0) {
        this.formData.color = this.allTypeColor.hex
        this.submit = true
        this.$emit("changeFormData", this.formData)
      }
    },
    getData() {
      if (this.type == "수정") {
        this.formData.title = this.storyTitle
        this.formData.difficulty = this.storyDifficulty
      }
    },
    resetStoryForm() {
      this.formData.title = ""
      this.formData.image = null
      this.formData.difficulty = null
      this.formData.color = null
      this.allTypeColor = null
    },
  }
}
</script>

<style>
.story-form {
  font-family: 'MapoPeacefull';
}
</style>