<template>
  <div>
    <div class="item-position">
      <div>
        <v-img class="profile-avatar" :aspect-ratio="1/1" src="../../../../../Pictures/Avatar/실착용/몸.png"></v-img>
      </div>
    </div>
    <!-- 헤어 -->
    <div class="item-position">
      <div>
        <v-img class="wear-hair" :aspect-ratio="1/1" v-if="hairImg !== ''" :src="server.back + hairImg"></v-img>
      </div>
    </div>
    <!-- 모자 -->
    <div class="item-position">
      <div>
        <v-img class="wear-hat" v-if="hatImg !== ''" :src="server.back + hatImg"></v-img>
      </div>
    </div>
    <!-- 신발 -->
    <div class="item-position">
      <div>
        <v-img class="wear-shoes" v-if="shoesImg !== ''" :src="server.back + shoesImg"></v-img>
      </div>
    </div>
    <!-- 하의 -->
    <div class="item-position">
      <div>
        <v-img class="wear-bottom" v-if="bottomImg !== ''" :src="server.back + bottomImg"></v-img>
      </div>
    </div>
    <!-- 상의 -->
    <div class="item-position">
      <div>
        <v-img class="wear-top" v-if="topImg !== ''" :src="server.back + topImg"></v-img>
      </div>
    </div>
    <!-- 악세서리 -->
    <div class="item-position">
      <div>
        <v-img class="wear-accessories" v-if="accessoriesImg !== ''" :src="server.back + accessoriesImg"></v-img>
      </div>
    </div>
    <!-- 가방 -->
    <div class="item-position">
      <div>
        <v-img class="wear-bag" v-if="bagImg !== ''" :src="server.back + bagImg"></v-img>
      </div>
    </div>
    <!-- 아바타 -->
    <v-img class="profile-avatar" src="../../../../public/img/blank.png"></v-img>   
  </div>
</template>

<script>
import baseURL from "../../../http-common"
import server from "../../../server"

export default {
  data: () => ({
    requestHeader: "",
    server: "",
    hairImg: "",
    hatImg: "",
    topImg: "",
    bottomImg: "",
    shoesImg: "",
    accessoriesImg: "",
    bagImg: "",
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.server = server
    this.getMyAvatar()
  },
  methods: {
    getMyAvatar() {
      baseURL
      .get('accounts/item/read/user/', this.requestHeader)
      .then((res) => {
        for (var i=0; i < res.data.data.length; i++) {
          if (res.data.data[i].status === true) {
            if (res.data.data[i].item.sort.name === "헤어") {
              this.hairImg = res.data.data[i].item.wear_image
            }
            if (res.data.data[i].item.sort.name === "모자") {
              this.hatImg = res.data.data[i].item.wear_image
            }
            if (res.data.data[i].item.sort.name === "상의") {
              this.topImg = res.data.data[i].item.wear_image
            }
            if (res.data.data[i].item.sort.name === "하의") {
              this.bottomImg = res.data.data[i].item.wear_image
            }
            if (res.data.data[i].item.sort.name === "신발") {
              this.shoesImg = res.data.data[i].item.wear_image
            }
            if (res.data.data[i].item.sort.name === "악세서리") {
              this.accessoriesImg = res.data.data[i].item.wear_image
            }
            if (res.data.data[i].item.sort.name === "가방") {
              this.bagImg = res.data.data[i].item.wear_image
            }
          }
        }
      })
    }
  },
}
</script>

<style>
.profile-avatar {
  width: 27vw;
  height: auto;
  z-index:0;
}
.item-position {
  position: absolute;
}
.wear-hair {
  width: 27vw;
  height: auto;
  z-index: 1;
}
.wear-hat {
  width: 27vw;
  height: auto;
  z-index: 2;
}
.wear-top {
  width: 27vw;
  height: auto;
  z-index: 2;
}
.wear-bottom {
  width: 27vw;
  height: auto;
  z-index: 1;
}
.wear-shoes {
  width: 27vw;
  height: auto;
  z-index: 1;
}
.wear-accessories {
  width: 27vw;
  height: auto;
  z-index: 2;
}
.wear-bag {
  width: 27vw;
  height: auto;
  z-index: 3;
}
</style>