<template>
  <v-container v-if="server" class="one-pick">
    <div class="text-center mb-3">
      <v-icon color="red lighten-2">mdi-heart-circle-outline</v-icon>
      내 원픽
      <v-icon color="red lighten-2">mdi-heart-circle-outline</v-icon>
    </div>
    <div v-if="onePick" class="one-pick-status">
      <v-container class="one-pick-frame d-flex align-center">
        <v-card height="65vw" width="65vw" class="one-pick-card">
          <div class="one-pick-image">
            <v-img width="60vw" :src="server.back + onePick.image"/>
          </div>
          <div class="d-flex justify-center">
            <span class="one-pick-detail">
              - {{ onePick.answer.ko_name }} -
            </span>
          </div>
        </v-card>
      </v-container>
    </div>
    <div v-else>
      <div class="d-flex justify-center mt-6 one-pick-explain">
        나의 원픽을 설정해주세요.
      </div>
      <div class="d-flex justify-center mt-2 one-pick-explain">
        나의 원픽은 갤러리에서 설정할 수 있습니다.
      </div>
    </div>
  </v-container>
</template>

<script>
import server from "../../../server"

export default {
  props: {
    onePick: Object,
  },
  data: () => ({
    image: "",
    server: null,
  }),
  mounted() {
    this.server = server
  },
}
</script>

<style>
.one-pick {
  font-family: 'KyoboHand';
  font-size: 1.2rem;
  min-height: 55vh;
}
.one-pick-explain {
  font-size: 1rem;
}
.one-pick-status {
  position: relative;
}
.one-pick-frame {
  position: relative;
  background-color: black;
  width: 75vw;
  height: 75vw;
  background-color: #9d50b985;
  border-radius: 5px;
  border-style: solid;
  border-width: 4px;
  border-color: #68387988;
  box-shadow: 5px 5px #301b38e0;
}
.one-pick-outline {
  width: 70vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%)
}
.one-pick-card {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.one-pick-image {
  width: 60vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.one-pick-detail {
  position: relative;
  top: -3vw;
  font-size: 5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgba(188, 151, 201, 0.3);
  border-radius: 15px;
}
</style>