<template>
  <v-container v-if="userDataSet">
    <div class="profile-title">
      <span>나의 프로필</span>
    </div>
    <v-card class="profile-card">
      <v-card-text class="d-inline-flex profile-text">
        <div class="profile-image text-center">
          <v-card outlined color="#bc97c9" class="my-avatar" @click="goToCollection">
            <v-container class="pa-1">
              <div class="my-avatar-image">
                <MyCostume />
              </div>
            </v-container>
          </v-card>
          <div class="change-item-btn" @click="goToCollection">아이템 바꾸기</div>
        </div>
        <div class="profile-all-info">
          <div class="d-inline-flex profile-info">
            <span v-if="userDataSet.name" class="profile-name">
              {{ userDataSet.name }}
              <v-icon v-if="userDataSet.gender === 0" color="blue" small class="gender-icon">{{ genderList[userDataSet.gender] }}</v-icon>
              <v-icon v-else color="pink" small class="gender-icon">{{ genderList[userDataSet.gender] }}</v-icon>
            </span>
            <span v-else class="profile-name">
              동화수선공  
              <v-icon v-if="userDataSet.gender === 0" color="blue" small class="gender-icon">{{ genderList[userDataSet.gender] }}</v-icon>
              <v-icon v-else color="pink" small class="gender-icon">{{ genderList[userDataSet.gender] }}</v-icon>
            </span>
          </div>
          <div class="ml-3 mt-2">
            <div class="profile-subtext">
              <v-icon class="mdi-18px">mdi-star-face</v-icon>
              ID: {{ userDataSet.username }}
            </div>
            <div class="profile-subtext mt-2">
              <div v-if="userDataSet.age">
                <v-icon class="mdi-18px">mdi-cake</v-icon>

                나이: {{ userDataSet.age }}살
              </div>
              <div v-else>
                <v-icon class="mdi-18px">mdi-cake</v-icon>
                나이: 비공개
              </div>
              </div>
          </div>
        </div>
      </v-card-text>
    </v-card>
    <div class="profile-play-info">
      <span>플레이 정보</span>
    </div>
    <v-card class="profile-sub-info">
      <div class="ml-3 mb-3 profile-subtext">
        <div>
          <v-icon class="mdi-18px">mdi-timer</v-icon>
          동화 수선 시간: {{ play_hour }}시간 {{ play_minute }}분
        </div>
        <div class="mt-2">
          <v-icon class="mdi-18px">mdi-gesture</v-icon>
          동화 수선 횟수: {{ userDataSet.total_play_cnt }}회
        </div>
      </div>
      <div to="/gallary">
        <v-btn color="#bc97c9" class="white--text to-my-gallery" small to="/gallery" block>
          <span>
            갤러리 보러가기
          </span>
        </v-btn>
      </div>
    </v-card>
  </v-container>
</template>

<script>
import router from "../../../router"
import MyCostume from "./MyCostume"

export default {
  components: {
    MyCostume
  },
  props: {
    userDataSet: Object,
    play_hour: Number,
    play_minute: Number,
  },
  data: () => ({
    genderList: ["mdi-gender-male", "mdi-gender-female"],
    image: "",
  }),
  methods: {
    goToCollection() {
      router.push("/my-avatar")
    },
  }
}
</script>

<style>
.profile-title {
  margin: 0 18px;
  background-color: #a978bb;
  font-size: 21px;
  text-align: center;
  width: 140px;
  color: white;
  border-radius: 15px 15px 0 0;
}
.profile-play-info{
  margin: 18px 18px 0 18px;
  background-color: #cbacd6;
  font-size: 21px;
  text-align: center;
  width: 140px;
  color: white;
  border-radius: 15px 15px 0 0;
}
.profile-card{
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255) !important;
}
.profile-image {
  width: 30vw;
  margin-right: 5vw;
  margin-top: 1vh;
}
.profile-all-info {
  margin-top: 1vh;
}
.profile-info {
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.profile-name {
  margin-right: 1vw;
}
.profile-text {
  font-size: 5vw;
  padding-bottom: 10px;
}
.profile-subtext {
  font-size: 4vw;
}
.profile-sub-info{
  padding: 15px;
  background-color: rgb(255, 255, 255) !important;

}
.my-avatar {
  height: 29.5vw;
}
.my-avatar-image {
  background-color: white;
}
.gender-icon {
  position: relative;
  left: -0.25rem;
}
.to-my-gallery {
  font-size: 14px !important;
  margin-top: 5px
}
.collection-info {
  font-family: 'KyoboHand';
}
.swal-modal {
  width: 80vw;
}
.swal-title {
  font-size: 1.25rem;
}
.change-item-btn {
  cursor: pointer;
  font-size: 14px;
  background-color: rgba(231, 214, 245, 0.692);
  margin-top: 7px;
  border-radius:10px;
  color: rgb(132, 84, 177);
}
</style>