<template >
  <v-container v-if="server">
    <div class="all-story-list" v-for="(story, i) in storyList" :key="i">
      <div class="story-item" data-aos="fade-up">
        <div class="frame" :data-color="`${i%3}`" >
          <v-img :aspect-ratio="1/1" class="section d-flex mx-auto" :src="server.back + story.image" @click="goToGameChapter(i+1, story.id, story.difficulty, story.image)">
            <div v-if="movecurtain">
              <img class="fadeIn curtain-right" src="../../../../public/img/curtain-right3.png">
              <img class="fadeIn curtain-left" src="../../../../public/img/curtain-left3.png">
            </div>
            <div v-if="!movecurtain & storyIndex == i+1">
              <img class="curtain-right-animation"  src="../../../../public/img/curtain-right1.png">
              <img class="curtain-left-animation" src="../../../../public/img/curtain-left1.png">
            </div>
            <div v-if="!movecurtain & storyIndex != i+1">
              <img class="curtain-right" src="../../../../public/img/curtain-right3.png">
              <img class="curtain-left" src="../../../../public/img/curtain-left3.png">
            </div>
          </v-img>
        </div>
        <div class="enter-story d-flex justify-center">
          <div class="section__item text-center" @click="goToGameChapter(i+1, story.id, story.difficulty, story.image)" data-aos="zoom-in">
            <a class="sm-link sm-link_bg sm-link12 d-block" :data-color="`${i%3}`">
              <p class="sm-link__label" :style="{'color': story.color}">{{ story.title }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
import router from "../../../router"
import AOS from 'aos'
import '../../../../public/css/dist/aos.css'
import server from "../../../server"


export default {
  props: {
    storyList: Array,
  },
  data: () => ({
    movecurtain: true,
    storyIndex: "",
    server: null,
  }),
  mounted() {
    this.myAOS()
    this.server = server
  },
  methods: {
    myAOS(){
      AOS.init({
        easing: 'ease-out-back',
        duration: 1500
      });
    },
    goToGameChapter(index, storyId, difficulty, image) {
      this.movecurtain = !this.movecurtain
      this.storyIndex = index
      this.$store.dispatch("getGameStory", storyId)
      this.$store.dispatch("getGameStoryDifficulty", difficulty)
      this.$store.dispatch("getStoryImage", image)
      setTimeout(() => {
        router.push(`/story/${index}/chapter`)
      }, 1500)
    },
  },
}
</script>

<style>
.all-story-list {
  margin-bottom: 100px;
}
.enter-story {
  position: relative;
}
.section {
  font-family: 'KyoboHand';
}
.frame:before {
  content: '';
  display:block;
  padding-top:100%
}
.frame {
  font-family: 'KyoboHand';
  position: relative;
  margin: auto;
  display: flex;
  width: 85vw;
  height: 85vw;
  text-align: center;
  text-transform: uppercase;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position:center center;
  border: 30px solid transparent;
  border-image-repeat: round;
}
/* FOR문에서 CSS 다르게 적용하기 */
.frame[data-color="0"] {
  border-color: #ccafdd;
  border-image-source: url("../../../../public/img/flower4.png");
  border-image-slice: 365;   
}
.frame[data-color="1"] {
  border-color: #ffa1accc;
  border-image-source: url("../../../../public/img/flower3.png");
  border-image-slice: 175;   
}
.frame[data-color="2"] {
  border-color: #fff6bef1 ;
  border-image-source: url("../../../../public/img/flower6.png");
  border-image-slice: 180;   
}
.section__item {
  position: relative;
  margin: auto;
  margin-top: 2vw;
}
.curtain-right {
  height:100%; 
  width: 50%;
  position:absolute; 
  top:0px; 
  right:-1px;
}
.curtain-left {
  height:100%; 
  width: 50%;
  position:absolute; 
  top:0px; 
  left:-1px;
}
.curtain-right-animation {
  animation-duration: 2s;
  animation-name: to-right;
  height:100%; 
  width: 50%;
  position:absolute; 
  top:0px; 
  right:-2px;
  opacity: 0.7;
}
@keyframes to-right{
  from {}
  to { right:-23px; }
  0% {opacity: 0.1}
  50% {opacity: 0.8}
  100% {width:48%}
}
.curtain-left-animation {
  animation-duration: 2s;
  animation-name: to-left;
  height:100%; 
  width: 50%;
  position:absolute; 
  top:0px; 
  left:-2px;
  opacity: 0.7;
}
@keyframes to-left{
  from {}
  to { left:-23px; }
  0% {opacity: 0.1}
  50% {opacity: 0.8}
  100% {width:48%}
}
.sm-link {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 100px;
  border: solid;
  border-color: rgba(247, 237, 210, 0.808);
  border-width: 1.5px;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.sm-link {
  font-size: 5vw;
  letter-spacing: 1.5px;
}
.sm-link[data-color="0"] {
  background: #fdfdfdd3;
}
.sm-link[data-color="1"] {
  background: #fdfdfdd3;
}
.sm-link[data-color="2"] {
  background: #fdfdfdd3;
}
.sm-link_bg {
  --uismLinkLineColor: var(--smLinkLineColor, #000);  
  --uismLinkTextColorHover: var(--smLinkTextColorHover, rgb(255, 255, 255));    
  --uismLinkPadding: var(--smLinkPadding, 5px);
  padding: var(--uismLinkPadding);
  transition: color .3s ease-out;
}
.sm-link_bg::before, 
.sm-link_bg::after {
  content: "";
  background-color: var(--uismLinkLineColor); 
  opacity: 0;
  position: absolute; 
  transition: transform .2s ease-out, opacity .2s ease-out .03s;
}
.sm-link_bg .sm-link__label {
  position: relative;
  z-index: 2;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 5vw;
}
.sm-link_bg:hover::before, 
.sm-link_bg:hover::after {
  opacity: 1;
  transition-duration: 1s, 1s;
  transition-delay: 0s, 0s;
}
.sm-link_bg:hover {
  color: var(--uismLinkTextColorHover);
}

.sm-link12::before,
.sm-link12::after {
  width: 51%;
  height: 100%;
  top: 0; 
}
.sm-link12::before {
  left: 0;
  transform: translate3d(100%, 0, 0) rotate(45deg);
}
.sm-link12::after {
  right: 0;
  transform: translate3d(-100%, 0, 0) rotate(45deg);
}
.sm-link12:hover::before, 
.sm-link12:hover::after {
  transform: translate3d(0, 0, 0);
}
.sm-link {
  --smLinkPadding: 10px 15px;
  --smLinkLineWeight: 5px;
  --smLinkLineColor: #e1d0ec;
  --smLinkTextColor: #a8d3da;
  --smLinkTextColorHover: #ffd105;
}
</style>