<template>
  <v-container class="select-page">
    <v-card outlined>
      <v-container class="pb-0 mb-0">
        <v-layout justify-center>
          페이지를 선택해주세요.
        </v-layout>
        <v-select
          v-model="page"
          :items="pageList"
          item-text="number"
          item-value="id"
          label="Page"
          dense
          return-object
          no-data-text="페이지가 아직 없습니다."
          class="select-page"
          @change="updatePage"
        />
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: {
    pageList: Array,
    getBackgroundImage: Function,
    closeNumberForm: Function,
  },
  data: () => ({
    requestHeader: "",
    page: {},
  }),
  methods: {
    updatePage() {
      this.$store.dispatch("getPage", this.page.id)
      this.$emit("changePage", this.page)
      this.getBackgroundImage()
      this.closeNumberForm()
    },
  }
}
</script>

<style>
.select-page {
  font-family: 'KyoboHand';
}
</style>