<template>
  <div>
    <v-dialog
      v-model="dialog"
    >
      <template v-slot:activator="{ on }">
        <div class="signup-btn" v-on="on" block>
          <span>
            회원가입
          </span>
        </div>
      </template>
      <v-card>
        <Signup :closeDialog="closeDialog"/>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Signup from "./Signup"

export default {
  components: {
    Signup,
  },
  data: () => ({
    dialog: false
  }),
  methods: {
    closeDialog() {
      this.dialog = false
    },
  }
}
</script>

<style>
.dialog-font-size {
  font-size: 1.15rem;
}
.signup-btn {
  position: relative;
  top: 10px;
  text-align: center;
  padding: 5px 0;
  margin-top: 15px;
  border-width: 5px;
  border-style: double;
  border-color: rgb(247, 245, 243);
  background-color: #bfd472;
}
</style>