<template>
  <v-container class="login-font py-0">
    <div class="login-container">
      <div class="d-flex justify-center device-alert">
        &#8251; 모바일 디바이스에 최적화 되어있습니다.
      </div>
      <div class="login-bg">
        <div class="text-center mb- login-text">
          로그인
        </div>
        <v-container class="login-box">
          <v-expand-transition>
            <div v-show="alert">
              <v-card
                outlined
                class="border"
                color="transparent"
              >
                <v-alert
                  outlined
                  dense
                  type="error"
                  class="d-flex justify-center mb-4"
                >
                  <v-list-item-subtitle class="alert-content">
                    ID와 PASSWORD를 확인해주세요.
                  </v-list-item-subtitle>
                </v-alert>
              </v-card>
            </div>
          </v-expand-transition>
          <v-form lazy-validation>
            <v-text-field
              v-model="credential.username"
              :rules="nameRules"
              :counter="20"
              label="ID"
              required
            />
            <v-text-field
              v-model="credential.password"
              :rules="passwordRules"
              :counter="20"
              label="PASSWORD"
              required
              type="password"
              @keyup.enter="login"
            />
          </v-form>
        </v-container>
      </div>  
    </div>
    <div class="login-btn" block @click="login">
      <span>
        로그인
      </span>
    </div>
  </v-container>
</template>

<script>
import baseURL from "../../../http-common"

export default {
  data: () => ({
    credential: {
      username: "",
      password: "",
    },
    nameRules: [v => !!v || "ID는 필수입니다."],
    passwordRules: [v => !!v || "PASSWORD는 필수입니다."],
    alert: false,
  }),
  methods: {
    login() {
      baseURL
      .post("/api-token-auth/", this.credential)
      .then(res => {
        this.$store.dispatch("login", res.data.token)
        this.startPlay(res.data.token)
      })
      .catch(()=>{
        this.alert = true
        setTimeout(() => {
          this.alert = false
        }, 3000)
      })
    },
    startPlay(token) {
      if (token) {
        const requestHeader = {
          headers: {
            Authorization: `JWT ${token}`
          }
        }
        baseURL
        .get(`/accounts/start-play/`, requestHeader)
        .then((res) => {
          this.$store.dispatch("startStay", res.data.data)
          location.reload()
        })
        .catch(() => {})
      }
    },
  }
}
</script>

<style>
.border{
  border-color: white !important;
}
.login-container {
  position: relative;
  top: 25px;
}
.login-bg {
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 10px;
}
.login-text {
  font-size: 30px;
  color: black;
}
.login-font {
  font-size: 1.2rem;
}
.login-btn{
  position: relative;
  top: 20px;
  font-size: 20px;
  text-align: center;
  padding: 5px 0;
  margin-top: 15px;
  border-width: 5px;
  border-style: double;
  border-color: rgb(247, 245, 243);
  background-color: #f7e161;
}
.login-box {
  padding-top: 10px;
  padding-bottom:30px;
}
.alert-content {
  margin-left: -8px;
  font-size: 3.5vw;
}
.device-alert {
  font-size: 15px;
}
</style>