<template>
  <v-container class="signup-font">
    <v-layout justify-end>
      <div @click="closeSignupDialog">
        <v-icon>mdi-close</v-icon>
      </div>
    </v-layout>
    <div class="text-center">
      회원가입
    </div>
    <v-container>
      <v-alert
        outlined
        dense
        type="error"
        class="d-flex justify-center"
        v-if="alert || (errors.length !== 0)"
      >
        <v-list-item-subtitle v-if="alertUserName">
          동일한 아이디가 존재합니다.
        </v-list-item-subtitle>
        <v-list-item-subtitle v-if="alertAge">
          나이를 입력해주세요.
        </v-list-item-subtitle>
        <v-list-item-subtitle v-if="alertGender">
          성별정보를 입력해주세요.
        </v-list-item-subtitle>
        <v-list-item-subtitle v-for="(error, i) in errors" :key="i">
          {{ error }}
        </v-list-item-subtitle>
      </v-alert>
      <v-form lazy-validation>
        <v-row>
          <v-col>
            <v-text-field
              v-model="credential.username"
              :rules="usernameRules"
              :counter="20"
              label="ID"
              required
            />
          </v-col>
          <v-col>
            <v-text-field
              v-model="credential.name"
              :rules="nameRules"
              :counter="20"
              label="별명"
              required
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="credential.password"
              :rules="passwordRules"
              :counter="20"
              label="PASSWORD"
              required
              type="password"
            />
          </v-col>
          <v-col>
            <v-text-field
              v-model="passwordCheck"
              :rules="passwordCheckRules"
              :counter="20"
              label="PASSWORD 확인"
              required
              type="password"
            />
          </v-col>
        </v-row>
        <v-row class="mt-4">
          <v-col>
            <header class="d-flex justify-center">
              성별
            </header>
            <div class="d-flex justify-center">
              <v-radio-group
                v-model="credential.gender"
                :rules="genderRules"
                dense
                row
              >
                <v-radio
                  v-for="(gender, i) in genderList"
                  :key="i"
                  :label="gender"
                  :value="i"
                />
              </v-radio-group>
            </div>
          </v-col>
          <v-col cols="auto">
            <v-divider vertical></v-divider>
          </v-col>
          <v-col>
            <header class="d-flex justify-center">
              나이
            </header>
            <div class="d-flex justify-center">
              <v-text-field
                v-model="credential.age"
                :rules="ageRules"
                label="나이"
                required
                type="number"
                @keyup.enter="signup"
              />
            </div>
          </v-col>
        </v-row>

        <div class="signup-button" block @click="signup">
          <span>
            회원가입
          </span>
        </div>
      </v-form>
    </v-container>
  </v-container>
</template>

<script>
import baseURL from '../../../http-common'

export default {
  data: () => ({
    credential: {
      username: "",
      password: "",
      name: "",
      age: "",
      gender: "",
    },
    passwordCheck: "",
    genderList: ["남", "여"],
    usernameRules: [
      v => !!v || "필수 항목입니다.",
      v => v.length >= 4 || "ID는 4자리 이상이어야 합니다.",
    ],
    passwordRules: [
      v => !!v || "필수 항목입니다.",
      v => v.length >= 4 || "비밀번호는 4자리 이상이어야 합니다.",
    ],
    passwordCheckRules: [
      v => !!v || "필수 항목입니다.",
      v => v.length >= 4 || "비밀번호는 4자리 이상이어야 합니다.",
    ],
    nameRules: [v => !!v || "필수 항목입니다."],
    genderRules: [v => -1 < v < 2 || "필수 항목입니다."],
    ageRules: [
      v => !!v || "필수 항목입니다.",
      v => v > 0 || "0 또는 음수값은 입력할 수 없습니다.",
    ],
    errors: [],
    submit: false,
    alert: false,
    alertUserName: false,
    alertAge: false,
    alertGender: false,
  }),
  props: {
    closeDialog: Function
  },
  methods: {
    closeSignupDialog() {
      this.alert = false
      this.errors = []
      this.credential.username = ""
      this.credential.password = ""
      this.passwordCheck = ""
      this.credential.name = ""
      this.credential.age = ""
      this.credential.gender = ""
      this.closeDialog()
    },
    signup() {
      this.checkForm()
      if (this.submit) {
        baseURL
        .post("/accounts/signup/", this.credential)
        .then(() => {
          this.closeDialog()
          location.reload()
        })
        .catch((error) => {
          this.alert = true
          if (error.response.data.username) {
            this.alertUserName = true
          }
          if (error.response.data.age) {
            this.alertAge = true
          }
          if (error.response.data.gender) {
            this.alertGender = true
          }
        })
      }
    },
    checkForm() {
      this.errors = []
      if (this.credential.username.length < 4) {
        this.errors.push("ID는 4자리 이상이어야 합니다.")
      }
      if (this.credential.password.length < 4) {
        this.errors.push("비밀번호는 4자리 이상이어야 합니다.")
      }
      if (this.credential.password !== this.passwordCheck) {
        this.errors.push("비밀번호가 서로 다릅니다.")
      }
      if (this.credential.name.length <= 0) {
        this.errors.push("이름은 필수값입니다.")
      }
      if (this.credential.gender.length <= 0) {
        this.errors.push("성별은 필수값입니다.")
      }
      if (this.credential.age.length <= 0) {
        this.errors.push("나이는 필수값입니다.")
      }
      else if (this.credential.age <= 0) {
        this.errors.push("나이에 0 또는 음수값은 입력할 수 없습니다.")
      }
      if (this.errors.length === 0) {
        this.submit = true
      }
    },
  }
}
</script>

<style>
.signup-font {
  font-family: 'KyoboHand';
  font-size: 1.2rem;
  background-color: #fffdfa;
}
.signup-button {
  font-size: 1.15rem;
  text-align: center;
  padding: 5px 0;
  margin-top: 15px;
  background-color: #bfd472;
  border-width: 5px;
  border-style: double;
  border-color: #94b037;
}
</style>