<template>
  <v-app id="app">
    <Logo v-if="!$store.getters.gameChapterId && !$store.getters.isTutorial" />
    <RouteView />
    <br>
    <br>
    <BottomNav v-if="isAuthenticated && !$store.getters.gameChapterId && !$store.getters.isTutorial && !$store.getters.straightNextChapter" class="pt-2" />
  </v-app>
</template>

<script>
import Logo from "@/components/main/app/Logo"
import RouteView from "@/components/main/app/RouteView"
import BottomNav from "@/components/main/app/BottomNav"

export default {
  name: 'App',

  components: {
    Logo,
    RouteView,
    BottomNav,
  },

  data: () => ({
    isAuthenticated: "",
  }),

  mounted() {
    this.isAuthenticated = this.$store.getters.isAuthenticated
  },

};
</script>

<style>
#app {
  background-color: #fede8d;
}
@font-face { font-family: 'KyoboHand'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BMHANNAAir'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HangeulNuri-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MapoPeacefull'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); font-weight: normal; font-style: normal; }
</style>