<template>
  <v-container>
    <div class="d-flex justify-center">
      신청서 목록
    </div>
    <ApplicationList v-if="!loading" :applicationList="applicationList" />
    <div v-else class="d-flex justify-center mt-12">
      신청서를 불러오는 중입니다.
    </div>
  </v-container>
</template>

<script>
import ApplicationList from "./ApplicationList"
import baseURL from "../../../http-common"

export default {
  components: {
    ApplicationList
  },
  props: {
    isStaff: Boolean,
  },
  data: () => ({
    applicationList: [],
    loading: false,
  }),
  mounted() {
    this.getApplication()
  },
  methods: {
    getApplication() {
      if (this.isStaff) {
        this.loading = true
        const requestHeader = this.$store.getters.requestHeader
  
        baseURL
        .get("application/read/", requestHeader)
        .then((res) => {
          this.applicationList = res.data.data
          this.loading = false
        })
        .catch(() => {})
      }
    },
  }
}
</script>

<style>

</style>