<template>
  <v-container v-if="applicationList.length !== 0">
    <div class="row mb-2" v-for="(application, j) in applicationList" :key="j">
      <div class="admin-application-list-number col-2">
        {{j+1}}번
      </div>
      <div class="col-9 admin-application-list" @click="goToAdminAuthorApplication(application.id)">
        <div>
          "{{ application.title }}"
        </div>
        <div class="admin-application-list-id d-flex justify-end">
          ID: {{ application.user.username }}
        </div>
      </div>
    </div>
  </v-container>
  <v-container v-else class="d-flex justify-center">
    <div class="mt-12">
      신청서가 없습니다.
    </div>
  </v-container>
</template>

<script>
import router from "../../../router"
import server from "../../../server"

export default {
  props: {
    applicationList: Array,
  },
  data: () => ({
    server: null,
  }),
  mounted() {
    this.server = server
  },
  methods: {
    goToAdminAuthorApplication(id) {
      router.push(`/manage-application/${id}`)
    },
  }
}
</script>

<style>
.admin-application-list {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  min-height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
}
.admin-application-list-number {
  display: flex;
  align-items: center;
}
.admin-application-list-id {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
</style>