<template>
  <v-container>
    <v-dialog
      v-model="dialog"
    >
      <template v-slot:activator="{ on }">
        <div class="d-flex justify-center">
          <v-icon v-if="pageAnswers.length===0" v-on="on">mdi-plus</v-icon>
          <v-icon v-else v-on="on" class="white--text">mdi-pencil</v-icon>
        </div>
      </template>
      <v-card class="admin-keyword-form">
        <v-container>
          <v-layout justify-end>
            <div @click="closeDialog">
              <v-icon>mdi-close</v-icon>
            </div>
          </v-layout>
          <div class="text-center mb-4">
            키워드 {{ type }}
          </div>
          <v-container>
            <v-form lazy-validation>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="formData.ko_name"
                    :rules="nameRules"
                    label="Keyword (한글)"
                    dense
                    required
                  />
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="formData.en_name"
                    :rules="nameRules"
                    label="Keyword (영어)"
                    dense
                    required
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-file-input
                    v-model="formData.image"
                    accept="image/png, image/jpeg"
                    prepend-icon="mdi-camera"
                    label="Image"
                    clearable
                    outlined
                    dense
                  />
                </v-col>
              </v-row>
              <div class="my-2">
                <Confirm
                  :checkForm="checkForm"
                  :submit="submit"
                  :changeValue="changeValue"
                  :closeDialog="closeDialog"
                  :type="type"
                  :axiosFunction="axiosFunction"
                  :getData="getBackgroundImage"
                />
              </div>
            </v-form>
          </v-container>
        </v-container>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import Confirm from "../../../main/form/Confirm"

export default {
  components: {
    Confirm,
  },
  props: {
    changeValue: Number,
    type: String,
    answerKeyword: String,
    answerKeywordEn: String,
    pageAnswers: Array,
    axiosFunction: Function,
    getBackgroundImage: Function,
  },
  data: () => ({
    formData: {
      ko_name: "",
      en_name: "",
      image: null,
    },
    ko_name: "",
    en_name: "",
    nameRules: [v => !!v || "필수 입력 항목입니다."],
    dialog: false,
    submit: false,
  }),
  mounted() {
    this.getData()
  },
  updated() {
    if (this.answerKeyword !== this.ko_name || this.answerKeywordEn !== this.en_name) {
      this.ko_name = this.answerKeyword
      this.en_name = this.answerKeywordEn
      this.getData()
    }
  },
  methods: {
    closeDialog() {
      this.dialog = false
    },
    checkForm() {
      this.errors = []
      if (this.formData.ko_name === undefined) {
        this.errors.push("키워드를 입력해주세요.")
      }
      else if (this.formData.ko_name.length <= 0) {
        this.errors.push("키워드를 입력해주세요.")
      }
      if (this.formData.en_name === undefined) {
        this.errors.push("키워드를 입력해주세요.")
      }
      else if (this.formData.en_name.length <= 0) {
        this.errors.push("키워드를 입력해주세요.")
      }
      if (this.formData.image === null) {
        this.errors.push("이미지 파일을 올려주세요.")
      }
      if (this.errors.length === 0) {
        this.submit = true
        this.$emit("changeFormData", this.formData)
      }
    },
    getData() {
      this.formData.ko_name = this.answerKeyword
      this.formData.en_name = this.answerKeywordEn
    },
  },
}
</script>

<style>
.admin-keyword-form {
  font-family: 'MapoPeacefull';
}
</style>