<template>
  <v-container v-if="server">
    <v-card outlined>
      <div class="d-flex justify-center mt-4">
        키워드
      </div>
      <div class="d-flex justify-center">
        <v-container fluid>
          <v-row v-if="pageAnswers.length!==0" align="center" justify="center">
            <div v-for="(answer, i) in pageAnswers" :key="i" class="mx-1">
              <v-card outlined>
                <v-container>
                  <div class="d-flex justify-center mb-1">
                    힌트 이미지
                  </div>
                  <v-img max-width="250" :src="server.back + answer.image">
                    <v-row align="end" class="textbox white--text px-4 py-1 fill-height">
                      <v-col>
                        <div>{{ answer.ko_name }} ({{ answer.en_name }})</div>
                      </v-col>
                      <v-col class="pb-0" cols="1">
                        <PageAnswerForm
                          :changeValue="answer.id"
                          :type="type2"
                          :answerKeyword="answer.ko_name"
                          :answerKeywordEn="answer.en_name"
                          :pageAnswers="pageAnswers"
                          :axiosFunction="changeKeyword"
                          :getBackgroundImage="getBackgroundImage"
                          @changeFormData="changeFormData"
                        />
                      </v-col>
                      <v-col class="pb-1 mr-2" cols="2">
                        <Delete
                          :type="type3"
                          :deleteValue="answer.id"
                          :axiosFunction="deleteKeyword"
                          :getData="getBackgroundImage"
                        />
                      </v-col>
                    </v-row>
                  </v-img>
                </v-container>
              </v-card>
            </div>
          </v-row>
          <v-row v-else align="center" justify="center">
            <div class="mx-1">
              키워드가 없습니다.
            </div>
          </v-row>
        </v-container>
      </div>
      <v-container>
        <PageAnswerForm
          v-if="pageAnswers.length===0"
          :type="type"
          :pageAnswers="pageAnswers"
          :axiosFunction="createKeyword"
          :getBackgroundImage="getBackgroundImage"
          @changeFormData="changeFormData"
        />
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import PageAnswerForm from "./PageAnswerForm"
import Delete from "../../../main/form/Delete"
import baseURL from "../../../../http-common"
import server from "../../../../server"

export default {
  components: {
    PageAnswerForm,
    Delete,
  },
  props: {
    pageId: Number,
    pageAnswers: Array,
    answerList: Array,
    getBackgroundImage: Function,
  },
  data: () => ({
    type: "생성",
    type2: "수정",
    type3: "흰색",
    dialog: false,
    requestHeader: "",
    ko_name: "",
    en_name: "",
    image: null,
    server: null,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.server = server
  },
  methods: {
    createKeyword() {
      const fd = new FormData()
      fd.append("ko_name", this.ko_name)
      fd.append("en_name", this.en_name)
      fd.append("image", this.image)

      baseURL
      .post(`/answers/${this.pageId}/`, fd, this.requestHeader)
      .then(() => {
        this.$store.dispatch("getPage", this.pageId)
      })
      .catch(() => {})
    },
    changeKeyword(id) {
      const fd = new FormData()
      fd.append("ko_name", this.ko_name)
      fd.append("en_name", this.en_name)
      fd.append("image", this.image)

      baseURL
      .put(`/answers/${id}/`, fd, this.requestHeader)
      .then(() => {
        this.$store.dispatch("getPage", this.pageId)
      })
      .catch(() => {})
    },
    deleteKeyword(id) {
      baseURL
      .delete(`/answers/${id}/`, this.requestHeader)
      .then(() => {
        this.$store.dispatch("getPage", this.pageId)
      })
      .catch(() => {})
    },
    changeFormData(formData) {
      this.ko_name = formData.ko_name
      this.en_name = formData.en_name
      this.image = formData.image
    },
  },
}
</script>

<style>
.textbox{
  box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 72px);
}
</style>