<template>
  <div>
    <!-- Tools -->
    <div class="text-right">
      <!-- Hint -->
      <v-btn icon @click="hint">
        <v-icon>mdi-puzzle</v-icon>
      </v-btn>
      <!-- Eraser -->
      <!-- <input id="eraser" type="checkbox"> -->
      <!-- Redraw -->
      <v-btn icon @click="erase">
        <v-icon>mdi-refresh</v-icon>
      </v-btn>
    </div>
    <!-- Drawing Area -->
    <div id="canvas-div" class="text-center">
      <canvas id="canvas" width="300px" height="300px" class="canvas canvasStyle"></canvas>
      <!-- 붓 크기 -->
      <!-- <div class="btn-group" style = 'margin-top:40px; '>
        <input type="range" min="7" max="20" value="7" class="slider" id="myRange" style ='margin-top:20px;'>
      </div> -->

      <!-- 그림 제출 -->
      <v-btn class="floater mt-5" color="#7E57C2" dark @click="getFrame">그림 제출</v-btn>
      <!-- 그림 제출 시연용 -->
      <!-- <v-btn class="floater mt-5" color="#7E57C2" dark @click="demoNextPage">그림 제출</v-btn> -->
    </div>
    <v-overlay
      :value="overlay"
      :opacity="opacity"
    >
      <div @click="closeOverlay" class="canvas-overlay">
        <div class="canvas-overlay-text text-center">
          <img src="../../../../public/img/bookloading.gif" style="width:100px" alt="">
          <p class="book-loading mt-0">
            동화를 수선하는 중입니다.
          </p>
        </div>
      </div>
    </v-overlay>
  </div>
</template>

<script>
import { fabric } from 'fabric'
import * as tf from "@tensorflow/tfjs"
import baseURL from '../../../http-common'
import swal from 'sweetalert'
import server from "../../../server"

export default {
  props: {
    answerData: Object,
    goTo: Function,
  },
  data: () => ({
    model: null,
    canvas: null,
    mousePressed: false,
    coords: [],
    requestHeader: "",
    imageStr: "",
    server: null,
    overlay: false,
    opacity: 0.5,
  }),
  mounted() {
    this.server = server
    var canvas = new fabric.Canvas('canvas', {
      backgroundColor: "white",
      isDrawingMode: 1,
      freeDrawingBrushColor: "black",
      width: document.getElementById('canvas-div').clientWidth,
      height: document.getElementById('canvas-div').clientWidth,
      });
    this.canvas = canvas;
    canvas.selection = false; // disable group selection
    canvas.freeDrawingBrush.width = 7;
    canvas.renderAll();

    // mouse event
    var vm = this;
    canvas.on('mouse:up', function() {
      vm.mousePressed = false;
    });
    canvas.on('mouse:down', function() {
      vm.mousePressed = true;
    });
    canvas.on('mouse:move', function() {
      vm.recordCoor()
    });

    // brush width
    // var slider = document.getElementById('myRange');
    // slider.oninput = function() {
    //   canvas.freeDrawingBrush.width = this.value;
    // };
    
    // eraser
    // document.getElementById('eraser').onchange = function() {
    //   vm.canvas.freeDrawingBrush.color = this.checked ? 'white' : 'black';
    //   // vm.canvas.freeDrawingBrush.width = this.checked ? slider.value*2 : slider.value;
    // }

    this.requestHeader = this.$store.getters.requestHeader
  },
  methods: {
    getMinBox() {
      //get coordinates 
      var coorX = this.coords.map(function(p) {
          return p.x
      });
      var coorY = this.coords.map(function(p) {
          return p.y
      });

      //find top left and bottom right corners 
      var min_coords = {
          x: Math.min.apply(null, coorX),
          y: Math.min.apply(null, coorY)
      }
      var max_coords = {
          x: Math.max.apply(null, coorX),
          y: Math.max.apply(null, coorY)
      }

      //return as strucut 
      return {
        min: min_coords,
        max: max_coords
      }
    },
    getImageData() {
      //get the minimum bounding box around the drawing 
      const mbb = this.getMinBox()

      //get image data according to dpi 
      const dpi = window.devicePixelRatio
      const imgData = this.canvas.contextContainer.getImageData(mbb.min.x * dpi, mbb.min.y * dpi,
                                                    (mbb.max.x - mbb.min.x) * dpi, (mbb.max.y - mbb.min.y) * dpi);
      return imgData
    },
    dataURLtoFile(dataurl, fileName) {
      var arr = dataurl.split(','),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]), 
        n = bstr.length, 
        u8arr = new Uint8Array(n);
          
      while(n--){
        u8arr[n] = bstr.charCodeAt(n);
      }
      
      return new File([u8arr], fileName, {type:mime});
    },
    getFrame() {
      if (this.coords.length >= 2) {
        setTimeout(() => {
          this.overlay = true
        }, 500)
        swal("그림을 제출하시겠습니까?", {
          buttons: {
            cancel: true,
            confirm: true,
          }
        })
        .then((value) => {
          if (value !== null) {
            //get the image data from the canvas 
            const imgData = this.getImageData()
    
            // preprocess
            var data = this.preprocess(imgData)
            this.imageStr = data.join(",");
    
            // dataurl to file
            const img = this.canvas.toDataURL() // base64 encode
            const date_string = new Date().getTime()
            var file = this.dataURLtoFile(img, `${date_string}.png`);

            const fd = new FormData()
            fd.append('imgData', this.imageStr)
            fd.append('image', file)
    
            let config = {
              header : {
                'Content-Type' : 'multipart/form-data'
              }
            }

            baseURL
            .post(`answers/${this.answerData.id}/check/`, fd, this.requestHeader, config)
            .then((res) => {
              const isthisright = res.data.message
              this.emitData(isthisright)
            })
            .catch(()=> {})
          }
          else {
            this.closeOverlay()
          }
        })
      }
    },
    emitData(data) {
      this.$emit("getDrawingData", data)
    },
    recordCoor() {
      var pointer = this.canvas.getPointer();
      var posX = pointer.x;
      var posY = pointer.y;
      if (posX >= 0 && posY >= 0 && this.mousePressed) {
        this.coords.push(pointer)
      }
    },
    erase() {
      this.canvas.clear();
      this.canvas.backgroundColor = '#ffffff';
      this.coords = [];
    },
    preprocess(imgData) {
      return tf.tidy(() => {
        //convert to a tensor 
        let tensor = tf.browser.fromPixels(imgData, 1)

        //resize 
        const resized = tf.image.resizeBilinear(tensor, [28, 28]).toFloat()

        //normalize 
        const offset = tf.scalar(255.0);
        const normalized = tf.scalar(1.0).sub(resized.div(offset));
        
        //We add a dimension to get a batch shape 
        var batched = normalized.expandDims(0)

        // 1차원배열
        batched = tf.reshape(batched, [784])
        batched = batched.arraySync()
        return batched
      })
    },
    hint() {
      const img = server.back + this.answerData.image
      swal({
        title: this.answerData.ko_name,
        icon: img,
      });
    },
    wrongAnswer() {
      this.erase()
    },
    closeOverlay() {
      this.overlay = false
    },
    demoNextPage() {
      setTimeout(() => {
        this.overlay = true
      }, 1000)
      swal({
        className: "demo-canvas",
        text: "그림을 제출하시겠습니까?",
        buttons: {
          cancel: true,
          confirm: true,
        }
      })
      .then((value) => {
        if (value !== null) {
          setTimeout(() => {
            swal("정답입니다!", "", "success")
            this.goTo()
          }, 1500)
        }
        else {
          this.closeOverlay()
        }
      })
    },
  }
};
</script>

<style scoped>
.canvasStyle {
  background-color: rgba(255, 255, 255, 0.712);
  border-style: double;
  border-width: 5px;
  border-color: rgba(203, 181, 238, 0.644);
}
#canvasSize {
  height: 50vh;
}
.canvas-overlay {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.canvas-overlay-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
div {
  font-family: "BMHANNAAir" ;
}
.demo-canvas {
  font-family: "KyoboHand";
}
</style>
