<template>
  <div>
    <v-flex text-center my-3>{{ answer }}을/를 그려볼까요?</v-flex>
    <Canvas
      :answerData="answerData"
      :goTo="goTo"
      @getDrawingData="getDrawingData"
      ref="wrong"
    />
  </div>
</template>

<script>
import Canvas from "./Canvas"
import swal from 'sweetalert';

export default {
  components: {
    Canvas,
  },
  props: {
    answer: String,
    answerData: Object,
    goTo: Function,
  },
  data: () => ({
    drawingData: "",
    value: "",
  }),
  methods: {
    getDrawingData(data) {
      // 여기에서 정답 여부 확인하기
      this.drawingData = data
      if (this.drawingData === "success") {
        swal("정답입니다!", "", "success");
        this.goTo()
      } else {
        swal("다시 도전해보세요!", "", "error");
        this.thisIsWrongAnswer()
        this.reopenCanvas()
      }
    },
    thisIsWrongAnswer() {
      this.$refs.wrong.wrongAnswer()
    },
    reopenCanvas() {
      this.$refs.wrong.closeOverlay()
    },
  },
}
</script>

<style>

</style>