<template>
  <div v-if="server" class="game-bg d-flex justify-center">
    <v-img height="81.5vh" class="game-bg-img" :src="server.back+bgImgSrc"/>
  </div>
</template>

<script>
import server from "../../../server"

export default {
  props: {
    bgImgSrc: String,
  },
  data: () => ({
    server: null,
  }),
  mounted() {
    this.server = server
  },
}
</script>

<style>
.game-bg {
  position: relative;
  width: 100vw;
}

</style>