<template>
  <v-container v-if="server" class="party-container">
    <v-card width="100vw" height="100vw" class="party pulse" color="black">
    </v-card>
    <div class="party-text zoomer">
      <div class="d-flex justify-center">
        <span class="party-title">
          Mission Complete!
        </span>
      </div>
      <div class="party-subtitle d-flex justify-center">
        <span>
          챕터 페이지로 돌아갑니다.
        </span>
      </div>
      <div class="d-flex justify-center mt-6">
        <span class="party-btn mx-2" @click="closeEndPageOverlay">
          확인
        </span>
        <span class="party-btn2 mx-2" @click="gostraightToNextChapter">
          다음 챕터로
        </span>
      </div>
    </div>
    <v-overlay
      :value="overlay"
      :opacity="opacity"
    >
      <div class="game-play-item slideDown">
        <div class="game-play-item-card" v-if="!loading && getItem !== '이미 획득한 아이템'">
          <img src="../../../../public/img/deco.png" class="deco-img"  alt="">
          <div class='text-center my-auto pt-12'>
            <div class="black--text game-play-item-card-title">
              <span style="color:#db6e6e">★ 아이템 획득 ★</span>
            </div>
            <img class="game-play-item-image wiggle" :src="server.back + getItem.image">
            <div class="black--text mt-2">- {{ getItem.name }} -</div>
            <v-btn color="#f5d56e" class="mt-8" small style="color:#4f0606" @click="closeOverlay">확인</v-btn>
          </div>

        </div>
      </div>
    </v-overlay>
  </v-container>
</template>

<script>
import baseURL from "../../../http-common"
import server from "../../../server"

export default {
  props: {
    closeEndPageOverlay: Function,
    gostraightToNextChapter: Function,
  },
  data: () => ({
    server: null,
    getItem: null,
    loading: false,
    overlay: false,
    opacity: 0.5,
  }),
  mounted() {
    this.server = server
    this.saveClearChapter()
  },
  methods: {
    saveClearChapter() {
      this.loading = true
      const requestHeader = this.$store.getters.requestHeader
      const chapterId = this.$store.getters.gameChapterId
      const answerId = this.$store.getters.answerId
      baseURL
      .get(`/chapters/clear/${chapterId}/${answerId}/`, requestHeader)
      .then((res) => {
        this.getItem = res.data.item_data
        if (this.getItem !== '이미 획득한 아이템') {
          this.overlay = true
        }
        this.loading = false
      })
      .catch(() => {})
    },
    closeOverlay() {
      this.overlay = false
    },
  }
}
</script>

<style>
.party-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'KyoboHand';
}
.party {
  margin-bottom: 10px;
  position: relative;
  top: 10vh;
  background-size: 80%;
  background-image: url("../../../../public/img/party.gif");
  background-position: center;
  opacity: 0.7;
}
.party-text {
  position: relative;
  display: flex;
  justify-content: center;
  color: rgb(240, 238, 238);
  flex-direction: column;
}
.party-title {
  font-size: 10vw;
  color: rgb(207, 204, 204);
}
.party-subtitle {
  font-size: 6vw;
}
.party-btn {
  font-size: 5vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-top: 1vh;
  border-radius: 6px;
  background-color: rgb(153, 98, 153);
}
.party-btn2 {
  font-size: 5vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-top: 1vh;
  border-radius: 6px;
  background-color: rgb(241, 112, 112);
}
.game-play-item {
  position: relative;
}
.game-play-item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:90vw;
  height:70vh;
  background-color: #faf8f0;
  border-style: double;
  border-color: rgb(253, 156, 156);
  border-width: 10px;
  border-radius: 25px;
}
.game-play-item-card-title {
  position: relative;
  font-size: 20px;
  margin-top: 70px;
}
.game-play-item-image {
  position: relative;
  width: 130px;
  height: 130px;
}
.deco-img {
  position:fixed; 
  width:85%; 
}

</style>