<template>
  <div class="bg-page">
    <div v-if="missionId!==bgImgId">
      <div class="image">        
        <GameBgImg
          :bgImgSrc="bgImgSrc"
        />
        <div class="script">
          <div class="script-container" v-for="(bgImgScript, i) in bgImgScripts" :key="i">
            <div v-if="i+1 === myLocationScript">
              <GamePlayScript
                v-if="myLocationScript < bgImgScripts.length"
                :bgImgScript="bgImgScript"
                :myLocationScript="myLocationScript"
                :bgImgAnswers="bgImgAnswers"
                :goTo="goToNextScript"
              />
              <GamePlayScript
                v-else-if="myLocationPage < lastPageNumber"
                :bgImgScript="bgImgScript"
                :myLocationScript="myLocationScript"
                :bgImgAnswers="bgImgAnswers"
                :goTo="goToNextPage"
              />
              <GamePlayScript
                v-else
                :bgImgScript="bgImgScript"
                :myLocationScript="myLocationScript"
                :bgImgAnswers="bgImgAnswers"
                :goTo="goToEndPage"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <GamePlayMission
      v-else-if="missionId === bgImgId"
      :answerData="answerData"
      :missionData="missionData"
      :goTo="goToNextPage"
    />
  </div>
</template>

<script>
import GameBgImg from "./GameBgImg"
import GamePlayScript from "./GamePlayScript"
import GamePlayMission from "./GamePlayMission"

export default {
  components: {
    GameBgImg,
    GamePlayScript,
    GamePlayMission,
  },
  props: {
    missionId: Number,
    bgImgId: Number,
    bgImgNumber: Number,
    bgImgSrc: String,
    bgImgScripts: Array,
    bgImgAnswers: Array,
    answerData: Array,
    missionData: Object,
    goToNextPage: Function,
    myLocationPage: Number,
    lastPageNumber: Number,
    goToEndPage: Function,
  },
  data: () => ({
    myLocationScript: 1,
  }),
  methods: {
    goToNextScript() {
      this.myLocationScript = this.myLocationScript + 1
    },
  }
}
</script>

<style>
.bg-page {
  position: relative;
}
.image {
  position: fixed;
  top: 0px;
}
.script {
  position: fixed;
  bottom: 0px;
}
</style>