<template>
  <div v-if="server" class="missionFont">
    <v-flex text-center mt-2><h1>동화 수선실</h1></v-flex>
    <div v-if="!showDrawingArea" class="imgDiv">
      <v-img class="thinkingPyororong" src="../../../../public/img/미션_뾰로롱.png">
        <div class="textDiv" v-if="pickAnswer === ''">
          <v-icon color="purple">mdi-lock-question</v-icon>
        </div>
        <div class="textDiv" v-else>
          <b class="d-flex justify-center">
            {{ pickAnswer }}
          </b>
        </div>
      </v-img>
    </div>
    <v-container v-if="!showDrawingArea" >
      <div class="mission-box">
        <v-icon class="mdi-18px" >mdi-brush</v-icon>
        <b>  MISSION  </b>
        <v-icon class="mdi-18px" >mdi-brush</v-icon>
      </div>
      <div class="mission-container">
        <v-flex text-center my-3 v-if="pickAnswer!==''"><h4>{{ mission }}</h4></v-flex>
        <v-flex class="mx-2" text-center my-3 v-else><h4>{{ missionData.mission }}</h4></v-flex>
        <v-container class="pt-0">
          <v-flex text-center class="mission-choice">아래에서 선택해줄래?</v-flex>
          <v-flex row mx-0 my-3>
            <v-flex justify-between text-center v-for="answer in answerData" :key="answer.id">
              <v-btn outlined color="purple" small class="choice-btn" @click="chooseAnswer(answer.ko_name, answer.id), replaceString()">{{ answer.ko_name }}</v-btn>
            </v-flex>
          </v-flex>
        </v-container>

        <v-flex text-center>
          <audio autoplay>
            <!-- autoplay - 음악 자동 재생 -->
            <!-- controls - 음악 플레이어 UI 화면에 표시 -->
            <source :src="server.back + missionData.record" type="audio/mp3">
          </audio>
        </v-flex>
      </div>
      <v-flex text-center my-3>
        <v-btn class="floater" @click="missionStart()" color="#7E57C2" dark> 수선 시작! </v-btn>
      </v-flex>
    </v-container>

    <div v-else>
      <v-container >
        <DrawingGamePlay
          :answer="$store.getters.getAnswer"
          :answerData="pickAnswerList"
          :goTo="goTo"
        />
        <div class="text-center mt-5">
          <div>
            <v-btn @click="changeMission" small outlined color="#7E57C2" dark>
              <v-icon class="mdi-18px mdi-flip-h">mdi-share-outline</v-icon>
               <span>
                 다른 키워드 선택
               </span>
            </v-btn>
          </div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
import DrawingGamePlay from "./DrawingGamePlay"
import server from "../../../server"
import swal from 'sweetalert'

export default {
  components: {
    DrawingGamePlay,
  },
  props: {
    missionData: Object,
    answerData: Array,
    goTo: Function,
  },
  data: () => ({
    mission: "",
    pickAnswer: "",
    pickAnswerId: null,
    pickAnswerList: {},
    showDrawingArea: false,
    server: null,
  }),
  mounted() {
    // 미션 페이지에 들어오면 store의 값을 true로 변경 (Skip에 사용)
    this.$store.dispatch("getAfterMissionStatus")
    this.server = server
  },
  methods: {
    chooseAnswer(name, id) {
      this.pickAnswer = name
      this.pickAnswerId = id
    },
    replaceString() {
      const sentence = this.missionData.mission
      if (this.pickAnswer == "") {
        this.mission = sentence
      } else {
        this.mission = sentence.replace("?", this.pickAnswer)
      }
    },
    missionStart() {
      if (this.pickAnswer === "") {
        this.$store.dispatch("nullAnswer")
        this.$store.dispatch("nullAnswerId")
        swal("키워드를 선택해주세요!", "", "warning");
      } else {
        this.$store.dispatch("getAnswer", this.pickAnswer)
        this.$store.dispatch("getAnswerId", this.pickAnswerId)
        this.showDrawingArea = true
        for (let i = 0; i < this.answerData.length; i++) {
          if (this.pickAnswer === this.answerData[i].ko_name) {
            this.pickAnswerList = this.answerData[i]
          }
        }
      }
    },
    changeMission() {
      this.showDrawingArea = false
    },
  },
}
</script>

<style>
.missionFont {
  font-family: "KyoboHand" ;
}
.imgDiv {
  position: relative;
}
.thinkingPyororong {
  width: 70vw;
  margin-left: 20vw;
}
.textDiv {
  position: absolute;
  font-family: 'KyoboHand';
  top: 8vw;
  margin-left: 15vw;
  font-size: 5vw;
  left: 50%;
  transform: translateX(-50%);
}
.mission-choice {
  margin-bottom: 25px;
  font-size: 15px;
}
.choice-btn {
  font-size: 16px !important ;
  font-weight: bold;
}
.mission-box {
  text-align: center;
  margin-top: 10px;
  background-color: rgba(203, 181, 238, 0.644);
  font-size: 18px;
  width: 140px;
  margin-left: 10px;
  padding-top: 2px;
  border-radius: 15px 15px 0 0;

}
.mission-container {
  background-color: rgba(255, 255, 255, 0.712);
  padding-top: 15px;
  border-style: double;
  border-width: 5px;
  border-color: rgba(203, 181, 238, 0.644);
}
</style>