<template>
  <div class="quit-button">
    <v-img src="../../../../public/img/setting.png" class="quit" @click="openOverlay"/>
    <v-overlay
      :value="overlay"
      :opacity="opacity"
    >
      <div class="d-flex flex-column overlay-container">  
        <v-btn
          class="my-6"
          large
          outlined
          @click="closeOverlay"
        >
          취소
        </v-btn>
        <v-btn
          class="my-6"
          large
          color="red"
          @click="endPage"
        >
          게임종료
        </v-btn>
      </div>
    </v-overlay>
  </div>
</template>

<script>
import swal from 'sweetalert';

export default {
  props: {
    goToChapterList: Function,
  },
  data: () => ({
    overlay: false,
    opacity: 0.9,
  }),
  methods: {
    endPage() {
      swal({
        title: "정말 종료하시겠습니까?",
        text: "진행 상황은 저장되지 않습니다.",
        className: "quit-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
            className: "quit-cancel",
          },
          confirm: {
            text: "종료",
            value: true,
            visible: true,
            closeModal: true,
            className: "quit-submit",
          }
        }
      })
      .then((value) => {
        if (value) {
          this.$store.dispatch("cancelStraightNextChapter")
          this.$store.dispatch("nullNextChapterIndex")
          this.$store.dispatch("nullNextChapterId")
          this.$store.dispatch("nullNextChapterBgm")
          this.closeOverlay()
          this.goToChapterList()
        }
      })
    },
    openOverlay() {
      this.overlay = !this.overlay
    },
    closeOverlay() {
      this.overlay = false
    },
  }
}
</script>

<style>
.quit-button {
  font-family: 'HangeulNuri-Bold';
}
.quit {
  position: fixed;
  width: 1.7rem;
  top: 2.5vh;
  right: 3vw;
}
.overlay-container {
  width: 40vw;
}
.quit-alert {
  font-family: 'KyoboHand';
}
.quit-submit {
  background-color: #d33;
}
</style>