<template>
  <div class="skip" @click="skipPage">
    <span class="white--text skip-button">
      넘어갈래요
    </span>
  </div>
</template>

<script>
import swal from 'sweetalert';

export default {
  props: {
    goToMissionPage: Function,
    goToEndPage: Function,
  },
  methods: {
    skipPage() {
      swal({
        text: "스토리를 스킵하시겠습니까?",
        className: "skip-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "스킵",
            value: true,
            visible: true,
            closeModal: true,
          }
        }
      })
      .then((value) => {
        if (value) {
          if (this.$store.getters.gameMissionStatus === false) {
            this.$store.dispatch("getAfterMissionStatus")
            this.goToMissionPage()
          }
          else {
            this.$store.dispatch("nullMissionStatus")
            this.goToEndPage()
          }
        }
      })
    },
  }
}
</script>

<style>
.skip {
  position: fixed;
  right: 2vw;
  top: 4vh;
  font-family: 'KyoboHand';
  background-color: rgba(61, 57, 48, 0.603);
  border-style: solid;
  border-color: white;
  padding: 0 5px;
  border-radius: 3px;
}
.skip-button {
  margin: 3vw;
  font-size: 4.5vw;
}
.skip-alert {
  font-family: 'KyoboHand';
}
</style>