<template>
  <div class="palette">
    <div class="d-flex justify-center">
      <div class="project-info" v-if="projectInfo">
        <v-container class="project-info-container">
          <div class="d-flex justify-end">
            <v-icon @click="closeProjectInfo">mdi-close</v-icon>
          </div>
          <div class="project-info-title pb-0">
            <b>프로젝트 참고 사이트 및 저작권</b>
          </div>
          <div class="ml-1 mb-4">
            해당 항목을 클릭하면 홈페이지로 넘어갑니다.
          </div>
          <div class="project-info-content">
            <div class="mb-6">
              <div>
                <b>1. AI</b>
              </div>
              <a class="project-info-content-a ml-2" href="https://github.com/googlecreativelab/quickdraw-dataset" target="_blank">
                그림 데이터셋
              </a>
            </div>
            <div>
              <div>
                <b>2. 이상한 나라의 앨리스</b>
              </div>
              <a class="project-info-content-a ml-2" href="https://www.youtube.com/watch?v=fb61qWcPVV8&app=desktop" target="_blank">
                그림
              </a>
              <a class="project-info-content-a ml-2" href="https://namu.wiki/w/%EC%9D%B4%EC%83%81%ED%95%9C%20%EB%82%98%EB%9D%BC%EC%9D%98%20%EC%95%A8%EB%A6%AC%EC%8A%A4" target="_blank">
                스토리
              </a>
              <a class="project-info-content-a ml-2" href="https://clova.ai/voice" target="_blank">
                대사
              </a>
              <a class="project-info-content-a ml-2" href="https://gongu.copyright.or.kr/" target="_blank">
                배경음악
              </a>

              <p class="project-info-content-a ml-2 mb-0 mt-6">BGM 저작권</p>
              <div class="bgm-text mt-1">
                <span class="mb-0 col-4">
                  출처: 공유마당
                  ch1. 구름(홍난파)(편곡 정동률)
                  ch2. LOVE IN VIETNAM(김재영)
                  ch3. Fly With Me(김성원)
                  ch4. Korea(김현정)
                  ch5. Enter the Sunrise(김성원)
                  ch6. I Am(김성원)
                  ch7. Butterfly(김진희,김정식,김민기,김한영)
                  ch8. 군사놀이 오케스트라(장윤석)
                  ch9. Did you know(김재성)
                  ch10. Dark Waltz (김재성)
                  ch11. Bed(유민규)
                  ch12. Buterfly's Dream(김정식)
                  ch13. Opening(김현정)
                  ch14. Fantasy(김성원)
                  ch15. Story of the queen( 김현정)
                  ch16. 참새의 미뉴에트(박유진)
                  ch17. The Beauty of Epic World (김정식)
                  ch18. Experience(김성원)
                  ch19. Storm (이성준)
                  ch20. Eternal Sunshine(권민호,김정식,김민기,김한영)
                </span>
              </div>
            </div>
          </div>
        </v-container>
      </div>
    </div>
    <v-container class="palette-container">
      <div class="d-flex justify-start">
        <div class="about-us-question-mark d-flex justify-center align-center" @click="openProjectInfo">
          <b>?</b>
        </div>
      </div>
      <div class="palette-info">
        <div>
          팀장: 김기범
        </div>
        <div>
          팀원: 김규리, 윤서영, 정은지, 최수빈
        </div>
      </div>
    </v-container>
    <div class="egg-container">

      <div class="egg-pink">
        <img v-if="show === 0" v-show="status" :src="image1" class="egg-pink-image" @touchstart="touchStart" @touchend="touchEnd" @click="showText">
        <img v-if="show === 0" v-show="!status" :src="image2" class="egg-pink-image" @touchstart="touchStart" @touchend="touchEnd">
        <div v-if="show === 0" v-show="textStatus" class="egg-pink-text">
          {{ text }}
        </div>
      </div>

      <div class="egg-orange">
        <img v-if="show === 1" v-show="status" :src="image3" class="egg-orange-image" @touchstart="touchStart" @touchend="touchEnd" @click="showText">
        <img v-if="show === 1" v-show="!status" :src="image4" class="egg-orange-image" @touchstart="touchStart" @touchend="touchEnd">
        <div v-if="show === 1" v-show="textStatus" class="egg-orange-text">
          {{ text }}
        </div>
      </div>

      <div class="egg-green">
        <img v-if="show === 2" v-show="status" :src="image5" class="egg-green-image" @touchstart="touchStart" @touchend="touchEnd" @click="showText">
        <img v-if="show === 2" v-show="!status" :src="image6" class="egg-green-image" @touchstart="touchStart" @touchend="touchEnd">
        <div v-if="show === 2" v-show="textStatus" class="egg-green-text text-center">
          {{ text }}
        </div>
      </div>

      <div class="egg-blue">
        <img v-if="show === 3" v-show="status" :src="image7" class="egg-blue-image" @touchstart="touchStart" @touchend="touchEnd" @click="showText">
        <img v-if="show === 3" v-show="!status" :src="image8" class="egg-blue-image" @touchstart="touchStart" @touchend="touchEnd">
        <div v-if="show === 3" v-show="textStatus" class="egg-blue-text">
          {{ text }}
        </div>
      </div>

      <div class="egg-purple">
        <img v-if="show === 4" v-show="status" :src="image9" class="egg-purple-image" @touchstart="touchStart" @touchend="touchEnd" @click="showText">
        <img v-if="show === 4" v-show="!status" :src="image10" class="egg-purple-image" @touchstart="touchStart" @touchend="touchEnd">
        <div v-if="show === 4" v-show="textStatus" class="egg-purple-text">
          {{ text }}
        </div>
      </div>

    </div>
    <div class="palette-go-home d-flex justify-center">
      <span class="palette-go-home-text" @click="goHome">
        홈으로 돌아가기
      </span>
    </div>
    <div class="about-us-footer d-flex justify-center">
      <span>
        &copy; 팔레트
      </span>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    show: null,
    broken: false,
    image1: require("../../public/img/aboutus/pink.png"),
    image2: require("../../public/img/aboutus/pink-broken.png"),
    image3: require("../../public/img/aboutus/orange.png"),
    image4: require("../../public/img/aboutus/orange-broken.png"),
    image5: require("../../public/img/aboutus/green.png"),
    image6: require("../../public/img/aboutus/green-broken.png"),
    image7: require("../../public/img/aboutus/blue.png"),
    image8: require("../../public/img/aboutus/blue-broken.png"),
    image9: require("../../public/img/aboutus/purple.png"),
    image10: require("../../public/img/aboutus/purple-broken.png"),
    status: true,
    projectInfo: false,
    text: null,
    textStatus: false,
    clickImage: false,
    textList1: [
      "김기범 팀장은 어릴때 연극을 해서 기립박수를 받은적이 있다.",
      "김규리 팀원은 트와이스 짱팬이다. 사나를 가장 좋아한다.",
      "윤서영 팀원은 이번 프로젝트때 원없이 그림을 그렸다.",
      "정은지 팀원은 로맨틱 성공적이다. 고양이 캔도 따준다.",
      "최수빈 팀원은 얼굴에 동그라미가 8개나 있다. 그래서 땡글이로 통한다.",
    ],
    textList2: [
      "좋은 팀원들과 멋진 결과 만들 수 있어서 행복했습니다.",
      "게임 만들어보고 싶었는데 꿈을 이룬것 같아요 >.<",
      "우리 팀원들 너무 고맙습니다♥",
      "좋은 팀을 만나 많이 배워갑니다",
      "튜토리얼 너무 힘들었어요",
    ],
    textList3: [
      "광주 운영 프로님들 사랑합니다!",
      "돈 많은 백수가 꿈이에요!",
      "여왕니미닭! 여왕님!",
      "교정기 탈출!",
      "병정은 바로 나",
    ],
    textList4: [
      "오창희쌤, 박영준쌤 보고싶어요~",
      "유상진 컨설턴트님, 박경민 컨설턴트님, 최호근 컨설턴트님 감사합니다!",
      "게임속에 이스터에그가 숨겨져있어요! 찾아보세요.",
      "가영 코치님, 사홍 코치님 감사합니다♥",
      "팀장이 제일 늦게 섭외되었다는 사실!",
    ],
    textList5: [
      "원래 팀 이름이 말랑말랑이었다는 사실! 말랑카우에서 따온 말이랍니다~",
      "돌고래는 최대한 대충 그려보세요.",
      "저희도 이렇게 멋진 웹을 만들지 몰랐답니다.",
      "어서 코로나가 진정되었으면 좋겠네요.",
      "벌써 싸피를 수료하다니 참 시간 빠르군요!",
    ],
  }),
  mounted() {
    this.getRandomNumber()
  },
  methods: {
    getRandomNumber() {
      this.show = Math.round(Math.random()*4)
    },
    touchStart() {
      this.status = false
    },
    touchEnd() {
      this.status = true
    },
    showText() {
      const number = Math.round(Math.random()*4)
      if (!this.clickImage) {
        this.clickImage = true
        if (this.show === 0) {
          this.text = this.textList1[number]
        } else if (this.show === 1) {
          this.text = this.textList2[number]
        } else if (this.show === 2) {
          this.text = this.textList3[number]
        } else if (this.show === 3) {
          this.text = this.textList4[number]
        } else {
          this.text = this.textList5[number]
        }
        this.textStatus = true
      }
    },
    goHome() {
      this.$router.go(-1)
    },
    openProjectInfo() {
      this.projectInfo = true
    },
    closeProjectInfo() {
      this.projectInfo = false
    },
  }
}
</script>

<style>
.palette {
  position: relative;
  font-family: 'KyoboHand';
}
.palette-container {
  position: relative;
  width: 70vw;
}
.palette-info {
  position: relative;
  padding: 4vw;
  background-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 1px;
  font-size: 4vw;
}
.palette-go-home {
  position: fixed;
  bottom : 40px;
  width: 100%;
  font-size: 20px;
}
.palette-go-home-text {
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}
.about-us-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 20px;
  background-color: #fdc79d;
  font-size: 15px;
  font-family: 'KyoboHand';
}
.egg-text {
  position: relative;
  height: 10vh;
}
.egg-container {
  position: relative;
  height: 50vh;
}
.egg-pink {
  position: absolute;
  top: 0vh;
  left: 10vw;
}
.egg-pink-image {
  width: 25vw;
  height: 25vw;
}
.egg-pink-text {
  position: absolute;
  top: 2vh;
  left: 24vw;
  width: 50vw;
  min-height: 10vh;
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  padding: 12px;
}
.egg-orange {
  position: absolute;
  top: 27vh;
  left: 59vw;
}
.egg-orange-image {
  width: 25vw;
  height: 25vw;
}
.egg-orange-text {
  position: absolute;
  top: 4vh;
  left: -40vw;
  width: 40vw;
  min-height: 15vh;
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  padding: 12px;
}
.egg-green {
  position: absolute;
  top: 12vh;
  left: 42vw;
}
.egg-green-image {
  width: 25vw;
  height: 25vw;
}
.egg-green-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -7vh;
  left: -5vw;
  width: 33vw;
  height: 6.5vh;
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  padding: 12px;
}
.egg-blue {
  position: absolute;
  top: 1vh;
  left: 65vw;
}
.egg-blue-image {
  width: 25vw;
  height: 25vw;
}
.egg-blue-text {
  position: absolute;
  top: 3vh;
  left: -50vw;
  width: 50vw;
  min-height: 10vh;
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  padding: 12px;
}
.egg-purple {
  position: absolute;
  top: 25vh;
  left: 15vw;
}
.egg-purple-image {
  width: 25vw;
  height: 25vw;
}
.egg-purple-text {
  position: absolute;
  top: 1vh;
  left: 24vw;
  width: 40vw;
  min-height: 15vh;
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  padding: 12px;
}
.about-us-question-mark {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 50%;
  width: 4.5vw;
  height: 4.5vw;
  font-size: 3vw;
  margin-bottom: 0.5vh;
}
.project-info {
  position: absolute;
  z-index: 1;
  margin-top: 8vw;
  width: 90vw;
  height: 70vh;
  background-color: white;
  border-style: solid;
  border-width: 1.5px;
  font-size: 4vw;
}
.project-info-container {
  position: relative;
  width: 100%;
}
.project-info-title {
  position: relative;
  font-size: 20px;
  padding: 5px;
}
.project-info-content {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.project-info-content-a {
  text-decoration: none;
}
.bgm-text {
  font-size: 8px;
}
</style>