<template>
  <v-container v-if="isStaff" class="admin-author-application">
    <div v-if="userApplication" class="admin-author-application-container">
      <div class="admin-author-main-font mb-2">
        <b>{{ userApplication.user.username }}</b>님의 작가 지원서
      </div>
      <div class="admin-author-font">
        연락처: {{ userApplication.phone.substring(0, 3) }}-{{ userApplication.phone.substring(3, 7) }}-{{ userApplication.phone.substring(7, 11) }}
      </div>
      <div class="admin-author-font mb-2">
        이메일: {{ userApplication.email }}
      </div>
      <div class="admin-author-application-content">
        <v-container>
          <div class="my-2">
            제목: <b>{{ userApplication.title }}</b>
          </div>
          <div class="mt-2">
            줄거리:
          </div>
          <div class="mb-2 admin-author-application-description">
            <b>{{ userApplication.description }}</b>
          </div>
          <div class="mt-2">
            참고 자료:
          </div>
          <div class="d-flex justify-center">
            <img class="mt-1 admin-author-application-image" :src="server.back + userApplication.files">
          </div>
          <div v-if="status === 'approve'" class="d-flex justify-center mt-2">
            승인된 신청서입니다.
          </div>
          <div v-else-if="status === 'disapprove'" class="d-flex justify-center mt-2">
            거절된 신청서입니다.
          </div>
          <div v-else class="d-flex justify-center mt-2">
            <span class="admin-author-application-accept mx-4" @click="authorAccept">승인</span>
            <span class="admin-author-application-refuse mx-4" @click="authorRefuse">거절</span>
          </div>
          <div v-if="userApplication.status !== 'approve'" class="d-flex justify-center">
            <span @click="cancelApplication(userApplication.id)" class="admin-author-application-cancel">
              지원서 삭제
            </span>
          </div>
        </v-container>
      </div>
    </div>
  </v-container>
  <v-container v-else class="admin-author-application-disconnect">
    관리자만 접근할 수 있습니다.
  </v-container>
</template>

<script>
import baseURL from "../http-common"
import server from "../server"
import swal from 'sweetalert'

export default {
  data: () => ({
    isStaff: null,
    userApplication: null,
    server: null,
    status: null,
  }),
  mounted() {
    this.server = server
    this.staffStatus()
  },
  methods: {
    staffStatus() {
      this.isStaff = this.$store.getters.isStaff
      this.getAuthorApplication()
    },
    getAuthorApplication() {
      const requestHeader = this.$store.getters.requestHeader

      baseURL
      .get(`application/read/${this.$route.params.id}/`, requestHeader)
      .then((res) => {
        this.userApplication = res.data.data
        this.status = res.data.data.status
      })
      .catch(() => {})
    },
    updateData() {
      this.getAuthorApplication()
    },
    authorAccept() {      
      swal({
        text: "승인하시겠습니까?",
        className: "admin-author-application-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "확인",
            value: true,
            visible: true,
            closeModal: true,
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader

          baseURL
          .get(`application/response/${this.$route.params.id}/1/`, requestHeader)
          .then(() => {
            swal({
              text: "등록되었습니다.",
              className: "admin-author-application-alert",
              timer: 1500,
            })
            .then(() => {
              this.updateData()
            })
          })
          .catch(() => {})
        }
      })
    },
    authorRefuse() {
      swal({
        text: "거절하시겠습니까?",
        className: "admin-author-application-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "확인",
            value: true,
            visible: true,
            closeModal: true,
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader

          baseURL
          .get(`application/response/${this.$route.params.id}/0/`, requestHeader)
          .then(() => {
            swal({
              text: "거절되었습니다.",
              className: "admin-author-application-alert",
              timer: 1500,
            })
            .then(() => {
              this.updateData()
            })
          })
          .catch(() => {})
        }
      })
    },
    cancelApplication(id) {
      swal({
        title: "신청서를 삭제하시겠습니까?",
        text: "신청서가 삭제됩니다.",
        className: "admin-author-application-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "확인",
            value: true,
            visible: true,
            closeModal: true,
            className: "admin-author-application-alert-cancel",
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader
          
          baseURL
          .delete(`/application/delete/${id}/`, requestHeader)
          .then(() => {
            swal({
              text: "삭제되었습니다.",
              className: "admin-author-application-alert",
              timer: 1500,
            })
            .then(() => {
              this.$router.go(-1)
            })
          })
          .catch(() => {})
        }
      })
    },
  }
}
</script>

<style>
.admin-author-application {
  font-family: 'MapoPeacefull';
}
.admin-author-application-disconnect {
  font-family: 'MapoPeacefull';
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-author-application-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin-author-application-content {
  position: relative;
  width: 90vw;
  min-height: 50vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.admin-author-application-description {
  font-size: 14px;
  padding: 5px;
}
.admin-author-application-image {
  width: 180px;
  padding: 5px;
}
.admin-author-application-accept {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #7ebcde;
  border-radius: 5px;
}
.admin-author-application-refuse {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f49bc2;
  border-radius: 5px;
}
.admin-author-application-alert {
  font-family: 'MapoPeacefull';
}
.admin-author-main-font {
  font-size: 20px;
}
.admin-author-font {
  font-size: 13px;
}
.admin-author-application-cancel {
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(255, 186, 174);
  border-radius: 5px;
}
.admin-author-application-alert {
  font-family: 'MapoPeacefull';
}
.admin-author-application-alert-cancel {
  font-family: 'MapoPeacefull';
  background-color: #d33;
}
</style>