<template>
  <div v-if="isStaff" class="admin-sort">
    <div class="admin-sort-list mb-6">
      <div class="d-flex justify-center">
        아이템 분류
      </div>
      <div v-if="sortList.length !== 0">
        <div class="admin-sort-list-name mx-1" v-for="(sort, i) in sortList" :key="i">
          <v-chip class="ma-2 green darken-4 white--text" @click="openChangeSortFormDialog(sort.name, sort.id)">
            {{ sort.name }}
          </v-chip>
        </div>
      </div>
      <div v-else class="d-flex justify-center my-2 admin-sort-no-data">
        아이템이 없습니다.
      </div>
      <div class="d-flex justify-center">
        <div v-if="sortChangeForm" class="admin-sort-change-form">
          <div class="admin-sort-change">
            <v-layout justify-end class="mb-3">
              <div @click="closeChangeSortFormDialog">
                <v-icon>mdi-close</v-icon>
              </div>
            </v-layout>
            <div>
              <v-alert
                v-if="alert2"
                outlined
                dense
                type="error"
                class="mt-1 mb-4"
              >
                필수 항목입니다.
              </v-alert>
              <v-form lazy-validation>
                <v-text-field
                  v-model="sortName"
                  :rules="sortRules"
                  label="Sort"
                  dense
                  required
                />
              </v-form>
            </div>
            <div class="d-flex justify-end">
              <div class="mb-4">
                <v-btn class="mx-1" small outlined @click="changeSort">
                  이름 수정
                </v-btn>
                <v-btn class="mx-1" small depressed color="error" @click="deleteSort">
                  삭제
                </v-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
      <v-dialog
        v-model="dialog"
      >
        <template v-slot:activator="{ on }">
          <div class="d-flex justify-center mt-2">
            <v-btn outlined small v-on="on">아이템 추가</v-btn>
          </div>
        </template>
        <v-card class="admin-sort">
          <v-container>
            <div class="ma-4">
              <v-layout justify-end>
                <div @click="closeDialog">
                  <v-icon>mdi-close</v-icon>
                </div>
              </v-layout>
              <v-alert
                v-if="alert"
                outlined
                dense
                type="error"
                class="mt-1 mb-4"
              >
                필수 항목입니다.
              </v-alert>
              <v-form lazy-validation>
                <v-text-field
                  v-model="sortName"
                  :rules="sortRules"
                  label="Sort"
                  dense
                  required
                />
                <v-btn color="primary" class="mt-2" block depressed @click="createSort">
                  확인
                </v-btn>
              </v-form>
            </div>
          </v-container>
        </v-card>
      </v-dialog>

    </div>
    <div class="admin-sort-item-list mt-6">
      <div class="d-flex justify-center mb-2">
        아이템 리스트
      </div>
      <div v-for="(story, j) in storyList" :key="j">
        <div class="d-flex justify-center mb-2">
          <span class="admin-sort-story-title" @click="goToAdminItem(j+1, story.id, story.title)">
            {{j+1}}. {{ story.title }}
          </span>
        </div>
      </div>
    </div>
    <GoTop />
  </div>
  <div v-else class="admin-sort-disconnect">
    관리자만 접근할 수 있습니다.
  </div>
</template>

<script>
import GoTop from "../components/main/function/GoTop"
import baseURL from "../http-common"
import swal from 'sweetalert'
import router from "../router"

export default {
  components: {
    GoTop,
  },
  data: () => ({
    isStaff: null,
    storyList: [],
    sortList: [],
    dialog: false,
    sortName: "",
    sortId: null,
    sortRules: [v => !!v || "필수 입력 항목입니다."],
    errors: [],
    submit: false,
    alert: false,
    alert2: false,
    sortChangeForm: false,
  }),
  mounted() {
    this.staffStatus()
  },
  methods: {
    staffStatus() {
      this.isStaff = this.$store.getters.isStaff
      if (this.isStaff) {
        this.getStoryList()
        this.getSortList()
      }
    },
    updateData() {
      this.getSortList()
    },
    getStoryList() {
      const requestHeader = this.$store.getters.requestHeader

      baseURL
      .get("/stories/", requestHeader)
      .then((res) => {
        this.storyList = res.data.data
      })
      .catch(() => ({}))
    },
    getSortList() {
      const requestHeader = this.$store.getters.requestHeader

      baseURL
      .get("/accounts/sort/read/", requestHeader)
      .then((res) => {
        this.sortList = res.data.data
      })
      .catch(() => ({}))
    },
    closeDialog() {
      this.dialog = false
      this.sortName = ""
    },
    checkForm() {
      this.errors = []
      if (this.sortName.length <= 0) {
        this.errors.push("필수 항목입니다.")
      }
      if (this.errors.length === 0) {
        this.submit = true
      }
    },
    createSort() {
      this.alert = false
      this.checkForm()
      if (this.submit) {
        swal({
          text: "등록하시겠습니까?",
          className: "admin-sort-alert",
          buttons: {
            cancel: {
              text: "취소",
              value: null,
              visible: true,
              closeModal: true,
            },
            confirm: {
              text: "확인",
              value: true,
              visible: true,
              closeModal: true,
            }
          }
        })
        .then((value) => {
          if (value) {
            const requestHeader = this.$store.getters.requestHeader
            const fd = new FormData()
            fd.append("name", this.sortName)
            
            baseURL
            .post("/accounts/sort/create/", fd, requestHeader)
            .then(() => {
              swal({
                text: "등록되었습니다.",
                className: "admin-sort-alert",
                timer: 1500,
              })
              .then(() => {
                this.updateData()
                this.closeDialog()
              })
            })
            .catch(() => {})
          }
        })
      } else {
        this.alert = true
      }
    },
    openChangeSortFormDialog(name, id) {
      this.sortName = name
      this.sortId = id
      this.sortChangeForm = true
    },
    closeChangeSortFormDialog() {
      this.sortName = ""
      this.sortId = null
      this.sortChangeForm = false
    },
    changeSort() {
      this.alert2 = false
      this.checkForm()
      if (this.submit) {
        swal({
          text: "수정하시겠습니까?",
          className: "admin-sort-alert",
          buttons: {
            cancel: {
              text: "취소",
              value: null,
              visible: true,
              closeModal: true,
            },
            confirm: {
              text: "확인",
              value: true,
              visible: true,
              closeModal: true,
            }
          }
        })
        .then((value) => {
          if (value) {
            const requestHeader = this.$store.getters.requestHeader
            const fd = new FormData()
            fd.append("name", this.sortName)
            
            baseURL
            .put(`/accounts/sort/update/${this.sortId}/`, fd, requestHeader)
            .then(() => {
              swal({
                text: "수정되었습니다.",
                className: "admin-sort-alert",
                timer: 1500,
              })
              .then(() => {
                this.updateData()
                this.closeChangeSortFormDialog()
              })
            })
            .catch(() => {})
          }
        })
      } else {
        this.alert2 = true
      }
    },
    deleteSort() {
      swal({
        text: "정말 삭제하시겠습니까?",
        className: "admin-sort-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "확인",
            value: true,
            visible: true,
            closeModal: true,
            className: "admin-sort-alert-delete"
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader
          
          baseURL
          .delete(`/accounts/sort/delete/${this.sortId}/`, requestHeader)
          .then(() => {
            swal({
              text: "삭제되었습니다.",
              className: "admin-sort-alert",
              timer: 1500,
            })
            .then(() => {
              this.updateData()
                this.closeChangeSortFormDialog()
            })
          })
          .catch(() => {})
        }
      })
    },
    goToAdminItem(n, id, title) {
      this.$store.dispatch("getStory", id)
      this.$store.dispatch("getStoryTitle", title)
      router.push(`/manage-sort/${id}/item`)
    },
  }
}
</script>

<style>
.admin-sort {
  font-family: 'MapoPeacefull';
}
.admin-sort-list-name {
  position: relative;
  display: inline;
}
.admin-sort-no-data {
  font-size: 13px;
}
.admin-sort-story-title {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-width: 1px;
}
.admin-sort-alert {
  font-family: 'MapoPeacefull';
}
.admin-sort-change {
  width: 80vw;
  padding: 15px;
  background-color: white;
}
.admin-sort-change-form {
  position: absolute;
  top: 0px;
  z-index: 1;
}
.admin-sort-alert-delete {
  font-family: 'MapoPeacefull';
  background-color: #d33;
}
.admin-sort-disconnect {
  font-family: 'MapoPeacefull';
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>