<template>
  <v-container v-if="isStaff" class="admin-application">
    <AdminUserApplication :isStaff="isStaff" />
    <GoTop />
  </v-container>
  <v-container v-else class="admin-application-disconnect">
    관리자만 접근할 수 있습니다.
  </v-container>
</template>

<script>
import AdminUserApplication from "../components/admin/application/AdminUserApplication"
import GoTop from "../components/main/function/GoTop"

export default {
  components: {
    AdminUserApplication,
    GoTop,
  },
  data: () => ({
    isStaff: null,
  }),
  mounted() {
    this.staffStatus()
  },
  methods: {
    staffStatus() {
      this.isStaff = this.$store.getters.isStaff
    },
  }
}
</script>

<style>
.admin-application {
  font-family: 'MapoPeacefull';
}
.admin-application-disconnect {
  font-family: 'MapoPeacefull';
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>