<template>
  <v-container v-if="isStaff" class="admin">
    <div class="d-inline-flex">
      <v-card class="mx-2 admin-select" to="/manage-story">
        <v-container class="admin-card">
          <v-icon x-large class=" d-flex justify-center">mdi-book-open</v-icon>
          <div class="d-flex justify-center mt-1">스토리 관리하기</div>
        </v-container>
      </v-card>
      <v-card class="mx-2 admin-select" to="/manage-user">
        <v-container class="admin-card">
          <v-icon x-large class="d-flex justify-center">mdi-account</v-icon>
          <div class="d-flex justify-center mt-1">유저 관리하기</div>
        </v-container>
      </v-card>
    </div>
    <div class="d-inline-flex mt-4">
      <v-card class="mx-2 admin-select" to="/manage-sort">
        <v-container class="admin-card">
          <v-icon x-large class=" d-flex justify-center">mdi-gift</v-icon>
          <div class="d-flex justify-center mt-1">아이템 관리하기</div>
        </v-container>
      </v-card>
      <v-card class="mx-2 admin-select" to="/manage-application">
        <v-container class="admin-card">
          <v-icon x-large class=" d-flex justify-center">mdi-clipboard-text</v-icon>
          <div class="d-flex justify-center mt-1">신청서 관리하기</div>
        </v-container>
      </v-card>
    </div>
  </v-container>
  <v-container v-else class="admin">
    관리자만 접근할 수 있습니다.
  </v-container>
</template>

<script>
export default {
  data: () => ({
    isStaff: null,
  }),
  mounted() {
    this.staffStatus()
  },
  methods: {
    staffStatus() {
      this.isStaff = this.$store.getters.isStaff
    },
  }
}
</script>

<style>
.admin {
  font-family: 'MapoPeacefull';
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-select {
  width: 40vw;
  height: 20vh;
}
.admin-card {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
</style>

