<template>
  <v-container v-if="isStaff" class="admin-script">
    <div class="d-flex justify-center admin-chapter-num">
      챕터 {{ chapterNumber }}
    </div>
    <SelectPage
      :pageList="pageList"
      :getBackgroundImage="getBackgroundImage"
      :closeNumberForm="closeNumberForm"
      @changePage="changePage"
    />
    <div v-if="pageId">
      <v-container>
        <v-card outlined>
          <v-container>
            <div v-if="!formStatus" class="d-flex justify-space-between my-1">
              <span class="ml-2">
                {{ pageNumber }}페이지
              </span>
              <span class="mr-4">
                <v-icon @click="openNumberForm">mdi-pencil</v-icon>
              </span>
            </div>
            <div v-else class="d-flex justify-space-between align-center">
              <span class="ml-2">
                <v-form>
                  <v-text-field
                    v-model="newPageNumber"
                    :rules="numberRules"
                    label="Page Number"
                    outlined
                    dense
                    required
                    type="number"
                    class="mt-7"
                  />
                </v-form>
              </span>
              <span class="ml-2 d-inline-flex">
                <v-btn class="mr-1" small outlined @click="closeNumberChange">취소</v-btn>
                <v-btn small color="secondary" @click="changeNumber">완료</v-btn>
              </span>
            </div>
          </v-container>
        </v-card>
      </v-container>
    </div>
    <BackgroundImage
      v-if="pageId"
      :pageId="pageId"
      :pageNumber="pageNumber"
      :pageImage="pageImage"
      :getBackgroundImage="getBackgroundImage"
    />
    <PageScriptList
      v-if="pageId"
      :pageId="pageId"
      :pageScripts="pageScripts"
      :getBackgroundImage="getBackgroundImage"
    />
    <PageMission
      v-if="pageId"
      :pageId="pageId"
      :pageMissionId="pageMissionId"
      :pageMission="pageMission"
      :pageMissionAudio="pageMissionAudio"
      :getBackgroundImage="getBackgroundImage"
    />
    <PageAnswer
      v-if="pageId"
      :pageId="pageId"
      :pageAnswers="pageAnswers"
      :answerList="answerList"
      :getBackgroundImage="getBackgroundImage"
    />
    <div v-if="pageId" class="my-3 d-flex justify-center">
      <Delete
        :type="type"
        :deleteValue="pageId"
        :axiosFunction="deleteBackgroundImage"
        :getData="getBackgroundImage"
      />
    </div>
    <GoTop />
  </v-container>
  <v-container v-else class="admin-script-disconnect">
    관리자만 접근할 수 있습니다.
  </v-container>
</template>

<script>
import SelectPage from "../components/admin/bgimg/select/SelectPage"
import BackgroundImage from "../components/admin/bgimg/image/BackgroundImage"
import PageMission from "../components/admin/bgimg/mission/PageMission"
import PageScriptList from "../components/admin/bgimg/script/PageScriptList"
import PageAnswer from "../components/admin/bgimg/answer/PageAnswer"
import Delete from "../components/main/form/Delete"
import GoTop from "../components/main/function/GoTop"
import baseURL from "../http-common"

export default {
  components: {
    SelectPage,
    BackgroundImage,
    PageMission,
    PageScriptList,
    PageAnswer,
    Delete,
    GoTop,
  },
  data: () => ({
    pageId: null,
    pageNumber: null,
    pageImage: null,
    pageScripts: null,
    pageAnswers: null,
    pageMissionId: null,
    pageMission: null,
    pageMissionAudio: null,
    pageList: [],
    type: "버튼",
    formStatus: false,
    newPageNumber: "",
    submit: false,
    numberRules: [v => !!v || "페이지를 적어주세요."],
    requestHeader: "",
    storyId: null,
    chapterId: null,
    savedPageId: null,
    answerList: [],
    errors: [],
    isStaff: null,
    chapterNumber: null
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.storyId = this.$store.getters.storyId
    this.chapterId = this.$store.getters.chapterId
    this.savedPageId = this.$store.getters.pageId
    this.chapterNumber = this.$route.params.cid
    this.staffStatus()
  },
  methods: {
    staffStatus() {
      this.isStaff = this.$store.getters.isStaff
      this.getBackgroundImage()
    },
    changePage(page) {
      this.pageId = page.id
      this.pageNumber = page.number
      this.pageImage = page.image
      this.pageScripts = page.scripts
      this.pageAnswers = page.answers
    },
    getBackgroundImage() {
      if (this.isStaff) {
        baseURL
        .get(`/bgImages/${this.chapterId}/`, this.requestHeader)
        .then((res)=>{
          this.pageList = res.data.data
          this.pageMissionId = res.data.mission_data.bgimg
          this.pageMission = res.data.mission_data.mission
          this.pageMissionAudio = res.data.mission_data.record
          this.answerList = res.data.answer_data
          this.savedPageId = this.$store.getters.pageId
          if (this.savedPageId) {
            this.returnSavedPage()
          }
        })
        .catch(() => {})
      }
    },
    changeFormStatus() {
      this.formStatus = !this.formStatus
    },
    openNumberForm() {
      this.newPageNumber = Number(this.pageNumber)
      this.changeFormStatus()
    },
    closeNumberChange() {
      this.newPageNumber = Number(this.pageNumber)
      this.changeFormStatus()
    },
    closeNumberForm() {
      this.newPageNumber = Number(this.pageNumber)
      this.formStatus = false
    },
    changeNumber() {
      this.checkForm()
      if (this.submit) {
        this.pageNumber = Number(this.newPageNumber)
  
        const fd = new FormData()
        fd.append("number", this.pageNumber)
  
        baseURL
        .put(`/bgImages-detail/${this.pageId}/`, fd, this.requestHeader)
        .then(() => {
          this.$store.dispatch("getPage", this.pageId)
          this.changeFormStatus()
          this.getBackgroundImage()
        })
        .catch(() => {})
      }
      else {
        this.$alert("번호를 입력해주세요.")
      }
    },
    checkForm() {
      this.errors = []
      if (this.newPageNumber.length <= 0) {
        this.errors.push("페이지 번호를 입력해주세요.")
      }
      if (this.errors.length === 0) {
        this.submit = true
      }
    },
    deleteBackgroundImage() {
      baseURL
      .delete(`/bgImages/${this.pageId}/`, this.requestHeader)
      .then(() => {
        this.$store.dispatch("nullPage")
        location.reload()
      })
      .catch(() => {})
    },
    returnSavedPage() {
      let pageList = this.pageList
      let savedPage = pageList.filter(page => page.id === this.savedPageId)
      this.changePage(savedPage[0])
    },
  }
}
</script>

<style>
.admin-script {
  font-family: 'MapoPeacefull';
}
.admin-script-disconnect {
  font-family: 'MapoPeacefull';
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-chapter-num{
  background-color: rgb(183, 231, 253);
  width: 100px;
  margin: auto;
  padding: 2px;
  border-radius: 50px;
  border-color: white;
  border-style: solid;
}
</style>