<template>
  <v-container v-if="isStaff" class="admin-story">
    <StoryForm
      :type="type"
      :axiosFunction="createStory"
      :getStoryList="getStoryList"
      @changeFormData="changeFormData"
    />
    <AdminStoryList
      @changeStory="changeStory"
      ref="get"
    />
    <GoTop />
  </v-container>
  <v-container v-else class="admin-story-disconnect">
    관리자만 접근할 수 있습니다.
  </v-container>
</template>

<script>
import StoryForm from "../components/admin/story/StoryForm"
import AdminStoryList from "../components/admin/story/AdminStoryList"
import GoTop from "../components/main/function/GoTop"
import baseURL from "../http-common"

export default {
  components: {
    StoryForm,
    AdminStoryList,
    GoTop,
  },
  data: () => ({
    type: "생성",
    showDetail: false,
    storyId: null,
    title: "",
    image: null,
    difficulty: null,
    color: null,
    requestHeader: "",
    isStaff: null,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.staffStatus()
  },
  methods: {
    staffStatus() {
      this.isStaff = this.$store.getters.isStaff
    },
    changeStory(story) {
      this.storyId = story
      if (this.storyId !== null) {
        this.showDetail = true
      } else {
        this.showDetail = false
      }
    },
    createStory() {
      const fd = new FormData()
      fd.append("title", this.title)
      fd.append("image", this.image)
      fd.append("difficulty", this.difficulty)
      fd.append("color", this.color)

      baseURL
      .post("/stories/", fd, this.requestHeader)
      .then(() => {})
      .catch(() => {})
    },
    changeFormData(formData) {
      this.title = formData.title
      this.image = formData.image
      this.difficulty = formData.difficulty
      this.color = formData.color
    },
    getStoryList() {
      this.$refs.get.getStoryList()
    },
  }
}
</script>

<style>
.admin-story {
  font-family: 'MapoPeacefull';
}
.admin-story-disconnect {
  font-family: 'MapoPeacefull';
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>