<template>
  <v-container v-if="isStaff" class="admin-user">
    <AdminUserList />
    <AdminAuthorList />
    <GoTop />
  </v-container>

  <v-container v-else class="admin-user-disconnect">
    관리자만 접근할 수 있습니다.
  </v-container>
</template>

<script>
import AdminUserList from "../components/admin/user/AdminUserList"
import AdminAuthorList from "../components/admin/user/AdminAuthorList"
import GoTop from "../components/main/function/GoTop"

export default {
  components: {
    AdminUserList,
    AdminAuthorList,
    GoTop,
  },
  data: () => ({
    requestHeader: "",
    isStaff: null,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.isStaff = this.$store.getters.isStaff
  },
}
</script>

<style>
.admin-user {
  font-family: 'MapoPeacefull';
}
.admin-user-disconnect {
  font-family: 'MapoPeacefull';
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>