<template>
  <v-container v-if="isStaff && server" class="admin-chapter">
    <div v-if="!loading">
      <v-container v-if="chapterList.length !== 0">
        <v-flex text-center>챕터 목록</v-flex>
        <v-container>
          <v-card class="my-2" v-for="chapter in chapterList" :key="chapter.id" @click="goToChapterDetail(chapter.id, chapter.number)">
            <v-flex text-left px-2 py-2>chapter {{ chapter.number }}</v-flex>
            <v-flex text-center pb-2><h3>{{ chapter.title }}</h3></v-flex>
            <v-flex text-center pt-2>BGM</v-flex>
            <v-flex text-center pt-2>
              <audio controls>
                <source :src="server.back + chapter.bgm" type="audio/mp3">
              </audio>
            </v-flex>
            <div class="d-flex justify-center">
            </div>
            <v-flex text-right px-2 py-2>
              <ChapterScene 
                :type="'추가'"
                :chapterId="chapter.id"
                :getChapterList="getChapterList"
                :sceneAxios="createScene"
                @sceneForm="sceneForm"
                @idToModify="idToModify"
              />
              <ChapterForm 
                :type="'수정'"
                :chapterNumber="chapter.number"
                :chapterTitle="chapter.title"
                :chapterMission="chapter.mission"
                :chapterId="chapter.id"
                :chapterAxios="modifyChapter"
                :getChapterList="getChapterList"
                @chapterForm="chapterForm"
                @idToModify="idToModify"
              />
              <Delete 
                :deleteValue="chapter.id"
                :axiosFunction="deleteChapter"
                :getData="getChapterList"
              />
            </v-flex>
          </v-card>
        </v-container>
      </v-container>
      <v-container v-else>
        <v-card class="my-2">
          <v-flex text-center py-2><h3>챕터가 없습니다.</h3></v-flex>
        </v-card>
      </v-container>
      <v-container>
        <ChapterForm
          :type="'생성'"
          :chapterAxios="createChapter"
          :getChapterList="getChapterList"
          @chapterForm="chapterForm"
        />
      </v-container>
    </div>
    <div v-else>
    </div>
    <GoTop />
  </v-container>
  <v-container v-else class="admin-chapter-disconnect">
    관리자만 접근할 수 있습니다.
  </v-container>
</template>

<script>
import ChapterForm from "../components/admin/chapter/ChapterForm"
import ChapterScene from "../components/admin/chapter/ChapterScene"
import Delete from "../components/main/form/Delete"
import GoTop from "../components/main/function/GoTop"
import baseURL from "../http-common"
import router from "../router"
import server from "../server"

export default {
  components: {
    ChapterForm,
    ChapterScene,
    Delete,
    GoTop,
  },
  data: () => ({
    requestHeader: "",
    storyId: null,
    type: "",
    chapterId: null,
    chapterList: [],
    chapter: {
      number: "",
      title: "",
      mission: "",
      record: "",
      bgm: "",
    },
    scene: {
      number: "",
      image: "",
    },
    isStaff: null,
    server: null,
    loading: false,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader;
    this.storyId = this.$store.getters.storyId
    this.pageId = this.$store.dispatch("nullPage")
    this.staffStatus()
    this.server = server
  },
  methods: {
    staffStatus() {
      this.isStaff = this.$store.getters.isStaff
      this.getChapterList()
    },
    getChapterList() {
      this.loading = true
      if (this.isStaff) {
        baseURL
        .get(`/chapters/${this.storyId}/`, this.requestHeader)
        .then((res) => {
          this.chapterList = res.data.data
          this.loading = false
        })
        .catch(() => {})
      }
    },
    idToModify(id) {
      this.chapterId = id
    },
    chapterForm(form) {
      this.chapter.number = form.number
      this.chapter.title = form.title
      this.chapter.mission = form.mission
      this.chapter.record = form.record
      if (form.bgm === null)  {
        this.chapter.bgm = ""
      } else {
        this.chapter.bgm = form.bgm
      }
    },
    createChapter() {
      const fd = new FormData()
      fd.append("number", this.chapter.number)
      fd.append("title", this.chapter.title)
      fd.append("mission", this.chapter.mission)
      fd.append("record", this.chapter.record)
      fd.append("bgm", this.chapter.bgm)
      
      baseURL
      .post(`/chapters/${this.storyId}/`, fd, this.requestHeader)
      .then(() => {})
      .catch(() => {})
    },
    modifyChapter() {
      const fd = new FormData()
      fd.append("number", this.chapter.number)
      fd.append("title", this.chapter.title)
      fd.append("mission", this.chapter.mission)
      fd.append("record", this.chapter.record)
      fd.append("bgm", this.chapter.bgm)
      
      baseURL
      .put(`/chapters/${this.chapterId}/`, fd, this.requestHeader)
      .then(() => {})
      .catch(() => {})
    },
    deleteChapter(id) {
      baseURL
      .delete(`/chapters/${id}/`, this.requestHeader)
      .then(() => {})
      .catch(() => {})
    },
    sceneForm(form) {
      if (form.image === null) {
        this.scene.number = form.number
        this.scene.image = ""
      } else {
        this.scene.number = form.number
        this.scene.image = form.image
      }
    },
    createScene() {
      const fd = new FormData()
      fd.append("number", this.scene.number)
      fd.append("image", this.scene.image)

      baseURL
      .post(`/bgImages/${this.chapterId}/`, fd, this.requestHeader)
      .then(() => {})
      .catch(() => {})
    },
    goToChapterDetail(id, number) {
      this.$store.dispatch("getChapter", id)
      router.push(`/manage-story/${this.storyId}/chapter/${number}`)
    }
  },
}
</script>

<style>
.admin-chapter {
  font-family: 'MapoPeacefull';
}
.admin-chapter-disconnect {
  font-family: 'MapoPeacefull';
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>