<template>
  <div v-if="isStaff && server" class="admin-item">
    <div class="admin-item-title mb-2">
      <span>
        {{ $store.getters.storyTitle }}
      </span>
      <span class="admin-item-subtitle">
        아바타 아이템
      </span>
    </div>
    <div v-if="!loading" class="d-flex justify-center mb-6">
      <div class="admin-item-container">
        <div class="row" v-if="answerList.length !== 0">
          <div class="col-6 d-flex justify-center" v-for="(answer, i) in answerList" :key="i">
            <div class="admin-item-answer d-flex justify-center align-center" @click="openOverlay(answer.ko_name, answer.id)">
              <span class="admin-item-answer-chapter">
                챕터 {{answer.chapter.number}}. <b>{{ answer.ko_name }}</b>
              </span>
            </div>
          </div>
        </div>
        <div v-else>
          <v-layout justify-center class="mt-12">
            키워드가 없습니다.
          </v-layout>
        </div>
      </div>
    </div>
    <div v-else class="d-flex justify-center mt-12">
      데이터를 불러오는 중입니다.
    </div>
    <v-overlay :value="overlay">
      <div class="admin-item-overlay" @click="closeOverlay">
        <v-container class="admin-item-overlay-container" @click="openAnswer">
          <div class="d-flex justify-end">
            <v-icon @click="closeOverlay" class="black--text">mdi-close</v-icon>
          </div>
          <div class="d-flex justify-center">
            <span class="black--text">
              <b>{{ keyword }}</b>
              <span class="admin-item-keyword"> 아바타 아이템</span>
            </span>
          </div>
          <div v-if="answerItem" class="mb-2">
            <div class="admin-item-content">
              <div class="black--text my-2">
                {{answerItem.name}} - {{ answerItem.sort.name }}
              </div>
              <div class="black--text admin-item-image-explain">
                &#8251; 아이템 이미지
              </div>
              <div class="admin-item-content-image-border">
                <img class="admin-item-content-image" :src="server.back + answerItem.image">
              </div>
              <div class="black--text admin-item-image-explain">
                &#8251; 아이템 실착용 이미지
              </div>
              <div class="admin-item-content-image-border mb-6">
                <img class="admin-item-content-image" :src="server.back + answerItem.wear_image">
              </div>
            </div>
          </div>
          <div v-else class="d-flex justify-center mb-2">
            <div class="admin-item-empty">
              <div class="black--text admin-item-empty-content">
                아이템이 등록되지 않았습니다.
              </div>
            </div>
          </div>
          <div class="d-flex justify-center">
            <div class="admin-item-overlay-button">
              <ItemForm
                v-if="answerItem"
                :type="type2"
                :itemId="answerItem.id"
                :itemName="answerItem.name"
                :sortList="sortList"
                :axiosFunction="changeItem"
                @changeFormData="changeFormData"
                ref="close"
              />
              <ItemForm
                v-else
                :type="type"
                :sortList="sortList"
                :axiosFunction="createItem"
                @changeFormData="changeFormData"
                ref="close"
              />
              <v-btn v-if="answerItem" class="mx-1" small depressed color="error" @click="deleteItem(answerItem.id)">
                아이템 삭제
              </v-btn>
            </div>
          </div>
        </v-container>
      </div>
    </v-overlay>
    <GoTop />
  </div>
  <div v-else class="admin-item-disconnect">
    관리자만 접근할 수 있습니다.
  </div>
</template>

<script>
import ItemForm from "../components/admin/item/ItemForm"
import GoTop from "../components/main/function/GoTop"
import baseURL from "../http-common"
import swal from 'sweetalert'
import server from "../server"

export default {
  components: {
    ItemForm,
    GoTop,
  },
  data: () => ({
    isStaff: null,
    answerList: [],
    itemList: [],
    sortList: [],
    overlay: false,
    overlayAnswer: false,
    keyword: null,
    answerItem: null,
    type: "등록",
    type2: "수정",
    sortId: null,
    name: "",
    image: null,
    wearImage: null,
    answerId: null,
    server: null,
    isItemUpdated: false,
    loading: false,
  }),
  mounted() {
    this.staffStatus()
    this.server = server
  },
  methods: {
    staffStatus() {
      this.isStaff = this.$store.getters.isStaff
      if (this.isStaff) {        
        this.getAnswers()
        this.getItems()
        this.getSortList()
      }
    },
    updateData() {
      this.getItems()
      this.isItemUpdated = false
    },
    getAnswers() {
      this.loading = true
      const storyId = this.$store.getters.storyId
      const requestHeader = this.$store.getters.requestHeader
      
      baseURL
      .get(`/answers/${storyId}/`, requestHeader)
      .then((res) => {
        this.answerList = res.data.data
        this.loading = false
      })
      .catch(() => {})
    },
    getItems() {
      const requestHeader = this.$store.getters.requestHeader

      baseURL
      .get("/accounts/item/read/", requestHeader)
      .then((res) => {
        this.itemList = res.data.data
      })
      .catch(() => {})
    },
    getSortList() {
      const requestHeader = this.$store.getters.requestHeader

      baseURL
      .get("/accounts/sort/read/", requestHeader)
      .then((res) => {
        this.sortList = res.data.data
      })
      .catch(() => ({}))
    },
    openOverlay(name, id) {
      this.overlay = true
      this.keyword = name
      this.answerId = id
      const answerItem = this.itemList.filter(item => item.answer.id === this.answerId)
      this.answerItem = answerItem[0]
    },
    closeOverlay() {
      if (!this.overlayAnswer) {
        this.overlay = false
        this.keyword = null
        this.answerId = null
        this.answerItem = null
      } else {
        this.overlayAnswer = false
      }
    },
    openAnswer() {
      this.overlayAnswer = true
    },
    createItem() {
      swal({
        text: "등록하시겠습니까?",
        className: "admin-item-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "확인",
            value: true,
            visible: true,
            closeModal: true,
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader
          const fd = new FormData()
          fd.append("name", this.name)
          fd.append("image", this.image)
          fd.append("wear_image", this.wearImage)
          
          baseURL
          .post(`/accounts/item/create/${this.answerId}/${this.sortId}/`, fd, requestHeader)
          .then(() => {
            swal({
              text: "등록되었습니다.",
              className: "admin-item-alert",
              timer: 1500,
            })
            .then(() => {
              this.isItemUpdated = true
              this.updateData()
              this.$refs.close.closeDialog()
              this.closeOverlay()
            })
          })
          .catch(() => {})
        }
      })
    },
    changeItem(id) {
      swal({
        text: "수정하시겠습니까?",
        className: "admin-item-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "확인",
            value: true,
            visible: true,
            closeModal: true,
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader
          const fd = new FormData()
          fd.append("name", this.name)
          fd.append("image", this.image)
          fd.append("wear_image", this.wearImage)
          
          baseURL
          .put(`accounts/item/update/${id}/${this.sortId}/`, fd, requestHeader)
          .then(() => {
            swal({
              text: "수정되었습니다.",
              className: "admin-item-alert",
              timer: 1500,
            })
            .then(() => {
              this.isItemUpdated = true
              this.updateData()
              this.$refs.close.closeDialog()
              this.closeOverlay()
            })
          })
          .catch(() => {})
        }
      })
    },
    changeFormData(formData) {
      this.sortId = formData.sort
      this.name = formData.name
      this.image = formData.image
      this.wearImage = formData.wearImage
    },
    deleteItem(id) {
      swal({
        text: "정말 삭제하시겠습니까?",
        className: "admin-item-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "확인",
            value: true,
            visible: true,
            closeModal: true,
            className: "admin-item-alert-delete"
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader
          
          baseURL
          .delete(`/accounts/item/delete/${id}/`, requestHeader)
          .then(() => {
            swal({
              text: "삭제되었습니다.",
              className: "admin-item-alert",
              timer: 1500,
            })
            .then(() => {
              this.isItemUpdated = true
              this.updateData()
              this.$refs.close.closeDialog()
              this.closeOverlay()
            })
          })
          .catch(() => {})
        }
      })
    },
  }
}
</script>

<style>
.admin-item {
  font-family: 'MapoPeacefull';
}
.admin-item-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-item-subtitle {
  font-size: 15px;
}
.admin-item-container {
  width: 80vw;
}
.admin-item-answer {
  height: 40px;
  width: 90%;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.admin-item-overlay {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.admin-item-overlay-container {
  position: relative;
  z-index: 1;
  width: 80%;
  min-height: 40%;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.admin-item-overlay-button {
  position: absolute;
  bottom: 10px;
}
.admin-item-alert {
  font-family: 'MapoPeacefull';
}
.admin-item-alert-delete {
  font-family: 'MapoPeacefull';
  background-color: #d33;
}
.admin-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-item-content-image {
  width: 100%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.admin-item-content-image-border {
  width: 150px; 
}
.admin-item-keyword {
  font-size: 13px;
}
.admin-item-image-explain {
  font-size: 13px;
}
.admin-item-empty {
  position: relative;
  height: 40vh;
  display: flex;
  align-items: center;
}
.admin-item-empty-content {
  position: relative;
  height: 30%;
  font-size: 14px;
}
.admin-item-answer-chapter {
  font-size: 13px;
}
.admin-item-disconnect {
  font-family: 'MapoPeacefull';
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>