<template>
  <div v-if="server && userId" class="apply-author">
    <h2>작가 지원</h2>
    <div class="apply-author-status-change d-flex justify-center mt-2">
      <span v-if="applicationShowStatus" class="text-center">
      <p class="font-15px mb-3">
        <span class="d-block">당신도 "그려줘 친구들!" 게임의 스토리 작가가 될 수 있습니다. </span>
        <span class="d-block">작가 지원서를 등록해주세요.</span>
      </p>
      <span class="apply-author-go-home-text" @click="changeApplicationShowStatus">
        작가 지원서 등록 하기
        <v-icon class="mdi-18px">mdi-pencil-plus</v-icon>
      </span>
      </span>
      <span v-else class="apply-author-go-home-text my-apply mx-1" @click="changeApplicationShowStatus">
        내 지원서 보러 가기
      </span>
    </div>
    <div v-if="!loading && !applicationShowStatus">
      <div class="apply-author-background d-flex justify-center">
        <ApplyAuthorForm :alert="alert" @submitStatus="submitStatus" ref="check" />
      </div>
      <div class="apply-author-submit" @click="submitApplication">
        <span class="apply-author-submit-text">
          제출
        </span>
      </div>
    </div>
    <div v-else>
      <div class="my-apply-list">
        <div class="d-flex justify-center my-4">내 지원서 목록</div>
        
        <div class="d-flex justify-center">
          <div class="apply-author-background">
            <div v-if="applicationListLength === 0" class="d-flex justify-center mt-6 font-15px">
              작성한 지원서가 없습니다.
            </div>
            <div v-for="(application, i) in applicationList" :key="i">
              <v-container v-if="applicationPage === i">
                <div v-if="application.status === 'approve'" class="d-flex justify-center">
                  - 승인 완료 -
                </div>
                <div v-else-if="application.status === 'disapprove'" class="d-flex justify-center">
                  - 승인 거절 -
                </div>
                <div v-else class="d-flex justify-center">
                  - 심사중 -
                </div>
                <div>
                  <v-icon>mdi-square-medium-outline</v-icon>
                  제목 『{{ application.title }}』
                </div>
                <div>
                  <v-icon>mdi-square-medium-outline</v-icon>
                  줄거리
                </div>
                <div class="apply-author-description ml-8">
                  {{ application.description }}
                </div>
                <div>
                  <v-icon>mdi-square-medium-outline</v-icon>
                  참고 자료
                </div>
                <div class="d-flex justify-center">
                  <img class="mt-1 apply-author-application-image" :src="server.back + application.files">
                </div>
                <div v-if="application.status === 'unread'" class="d-flex flex-row-reverse mt-1">
                  <span @click="cancelApplication(application.id)" class="apply-author-cancel">
                    신청 취소
                  </span>
                </div>
              </v-container>
            </div>
          </div>
        </div>
        <div class="author-application-select text-center mb-3">
          <span v-for="n in applicationListLength" :key="n">
            <span v-if="applicationPage !== n-1" class="author-application-select-number mx-1">
              <span @click="changeApplicationPage(n-1)">{{ n }}</span>
            </span>
            <span v-else class="author-application-select-page-button mx-1">
              <span @click="changeApplicationPage(n-1)">{{ n }}</span>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="apply-author-go-home d-flex justify-center">
    </div>
    <GoTop />
  </div>
  <div v-else>
    <v-container class="apply-author-unauthorized">
      <div>
        로그인이 필요합니다.
      </div>
      <div class="apply-author-unauthorized-text mt-6" @click="goMainPage">
        홈으로 돌아가기
      </div>
    </v-container>
  </div>
</template>

<script>
import ApplyAuthorForm from "../components/user/application/ApplyAuthorForm"
import GoTop from "../components/main/function/GoTop"
import baseURL from "../http-common"
import server from "../server"
import swal from 'sweetalert'
import router from "../router"

export default {
  components: {
    ApplyAuthorForm,
    GoTop,
  },
  data: () => ({
    status: "",
    title: "",
    description: "",
    files: null,
    phone: "",
    email: "",
    alert: false,
    submit: false,
    applicationList: null,
    applicationShowStatus: true,
    loading: false,
    server: null,
    applicationListLength: null,
    applicationPage: 0,
    userId: null,
  }),
  mounted() {
    this.userId = this.$store.getters.userId
    this.getUser()
    this.getUserApplication()
    this.server = server
  },
  methods: {
    getUser() {
      const isAuthenticated = this.$store.getters.isAuthenticated
      if (isAuthenticated === true) {
        const requestHeader = this.$store.getters.requestHeader

        baseURL
        .get(`/accounts/${this.userId}/`, requestHeader)
        .then(() => {})
        .catch(() => {})
      }
    },
    getUserApplication() {
      const isAuthenticated = this.$store.getters.isAuthenticated
      if (isAuthenticated === true) {
        this.loading = true
        const requestHeader = this.$store.getters.requestHeader

        baseURL
        .get("/application/read/user/", requestHeader)
        .then(res => {
          this.applicationList = res.data.data
          this.applicationListLength = res.data.data.length
          this.loading = false
        })
        .catch(()=>{})
      }
    },
    submitStatus(formData, submit) {
      this.title = formData.title
      this.description = formData.description
      this.files = formData.files
      this.phone = formData.phone
      this.email = formData.email
      this.submit = submit
    },
    submitApplication() {
      this.alert = false
      this.$refs.check.checkForm()
      if (this.submit) {
        this.applyAuthor()
      } else {
        this.alert = true
      }
    },
    applyAuthor() {
      swal({
        text: "제출하시겠습니까?",
        className: "apply-author-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "확인",
            value: true,
            visible: true,
            closeModal: true,
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader
          const fd = new FormData()
          fd.append("title", this.title)
          fd.append("description", this.description)
          fd.append("files", this.files)
          fd.append("phone", this.phone)
          fd.append("email", this.email)
          
          baseURL
          .post(`/application/create/`, fd, requestHeader)
          .then(() => {
            swal({
              text: "제출하였습니다.",
              className: "apply-author-alert",
              timer: 1500,
            })
            .then(() => {
              this.getUserApplication()
              this.changeApplicationShowStatus()
              this.showRecentPage()
            })
          })
          .catch(() => {})
        }
      })
    },
    changeApplicationPage(n) {
      this.applicationPage = n
    },
    changeApplicationShowStatus() {
      this.applicationShowStatus = !this.applicationShowStatus
      this.alert = false
    },
    goMainPage() {
      router.push("/")
    },
    showRecentPage() {
      this.applicationPage = this.applicationListLength
    },
    cancelApplication(id) {
      swal({
        title: "신청을 취소하시겠습니까?",
        text: "신청서가 삭제됩니다.",
        className: "apply-author-alert",
        buttons: {
          cancel: {
            text: "취소",
            value: null,
            visible: true,
            closeModal: true,
          },
          confirm: {
            text: "확인",
            value: true,
            visible: true,
            closeModal: true,
            className: "apply-author-alert-cancel",
          }
        }
      })
      .then((value) => {
        if (value) {
          const requestHeader = this.$store.getters.requestHeader
          
          baseURL
          .delete(`/application/delete/${id}/`, requestHeader)
          .then(() => {
            swal({
              text: "취소하였습니다.",
              className: "apply-author-alert",
              timer: 1500,
            })
            .then(() => {
              this.getUserApplication()
              this.applicationShowStatus = true
              this.applicationPage = 0
            })
          })
          .catch(() => {})
        }
      })
    },
  }
}
</script>

<style>
.font-15px {
  font-size: 15px;
}

.apply-author {
  position: relative;
  font-family: 'KyoboHand';
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.apply-author-background {
  position: relative;
  width: 80vw;
  min-height: 40vh;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.466);
  margin-bottom: 15px;
}
.apply-author-submit {
  position: relative;
  text-align: center;
  padding: 5px 0;
  width: 80vw;
  background-color: rgba(247, 131, 131, 0.767);
  border-width: 5px;
  border-style: double;
  border-color: rgb(247, 245, 243);
  margin-bottom: 20px;
}
.apply-author-submit-text {
  color: black;
}
.apply-author-status-change {
  position: relative;
  width: 100%;
  font-size: 20px;
  padding-bottom: 20px;
}
.apply-author-go-home {
  position: relative;
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 30px;
}
.apply-author-go-home-text {
  margin-top: 15px;
  padding: 3px 15px;
  font-size: 15px;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.76);
  background-color: rgb(247, 131, 131);
}

.apply-author-description {
  font-size: 16px;
  padding: 5px;
}
.apply-author-application-image {
  width: 180px;
  padding: 5px;
}
.author-application-select {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.author-application-select-number {
  background-color: rgba(255, 255, 255, 0);
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
.author-application-select-page-button {
  background-color: rgba(255, 245, 245, 0.603);
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
.my-apply-list {
  padding: 0 20px;
  margin-top: 15px;
  border-style: solid;
  border-radius: 10px;
  border-width: 4px;
  border-color: rgba(255, 255, 255, 0.664);
}
.apply-author-unauthorized {
  font-family: 'KyoboHand';
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.apply-author-unauthorized-text {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}
.apply-author-cancel {
  margin-top: 15px;
  padding: 3px 15px;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(255, 186, 174);
}
.apply-author-alert {
  font-family: 'KyoboHand';
}
.apply-author-alert-cancel {
  font-family: 'KyoboHand';
  background-color: #d33;
}
</style>