<template>
  <div>
    <DressUpCostume
      :hairInfo="hairInfo"
      :hatInfo="hatInfo"
      :topInfo="topInfo"
      :bottomInfo="bottomInfo"
      :shoesInfo="shoesInfo"
      :accessoriesInfo="accessoriesInfo"
      :bagInfo="bagInfo"
      :btnStatus="btnStatus"
      @callItem="callItem"
      @clearItem="clearItem"
    />
    <Inventory
      @itemStatus="itemStatus"
      @wearHair="wearHair"
      @wearHat="wearHat"
      @wearTop="wearTop"
      @wearBottom="wearBottom"
      @wearShoes="wearShoes"
      @wearAccessories="wearAccessories"
      @wearBag="wearBag"
    />
  </div>
</template>

<script>
import DressUpCostume from "../components/user/avatar/DressUpCostume"
import Inventory from "../components/user/avatar/Inventory"

export default {
  components: {
    DressUpCostume,
    Inventory,
  },
  data: () => ({
    hairInfo: {
      id: null,
      wearImage: "",
    },
    hatInfo: {
      id: null,
      wearImage: "",
    },
    topInfo: {
      id: null,
      wearImage: "",
    },
    bottomInfo: {
      id: null,
      wearImage: "",
    },
    shoesInfo: {
      id: null,
      wearImage: "",
    },
    accessoriesInfo: {
      id: null,
      wearImage: "",
    },
    bagInfo: {
      id: null,
      wearImage: "",
    },
    btnStatus: false,
    itemList: [],
    sortList: [0, 0, 0, 0, 0, 0, 0],
    idList: [0, 0, 0, 0, 0, 0, 0],
    imgList: ["", "", "", "", "", "", ""],
  }),
  methods: {
    // 초기화 버튼: 모두 비어있는 상태로 만듦.
    clearItem() {
      this.hairInfo.id = null
      this.hairInfo.wearImage = ''
      this.hatInfo.id = null
      this.hatInfo.wearImage = ''
      this.topInfo.id = null
      this.topInfo.wearImage = ''
      this.bottomInfo.id = null
      this.bottomInfo.wearImage = ''
      this.shoesInfo.id = null
      this.shoesInfo.wearImage = ''
      this.accessoriesInfo.id = null
      this.accessoriesInfo.wearImage = ''
      this.bagInfo.id = null
      this.bagInfo.wearImage = ''
    },
    // 원래대로 버튼: 내가 저장했던 옷 그대로 불러오기
    callItem() {
      // 아무 것도 입지 않은 상태로 저장했을 때 원래대로 버튼 누르면 여기로
      // 후에 이 부분은 지워도 될 것 같음.
      // 아래 로직에서 해결 가능
      if (this.itemList.length === 0) {
        this.hairInfo.id = null
        this.hairInfo.wearImage = ''
        this.hatInfo.id = null
        this.hatInfo.wearImage = ''
        this.topInfo.id = null
        this.topInfo.wearImage = ''
        this.bottomInfo.id = null
        this.bottomInfo.wearImage = ''
        this.shoesInfo.id = null
        this.shoesInfo.wearImage = ''
        this.accessoriesInfo.id = null
        this.accessoriesInfo.wearImage = ''
        this.bagInfo.id = null
        this.bagInfo.wearImage = ''
      } else {
        // idList의 값이 0이면 안 입고 있는 것.
        if (this.idList[0] !== 0) {
          this.hairInfo.id = this.idList[0]
          this.hairInfo.wearImage = this.imgList[0]
        } else {
          this.hairInfo.id = null
          this.hairInfo.wearImage = ''
        }
        // 모자
        if (this.idList[1] !== 0) {
          this.hatInfo.id = this.idList[1]
          this.hatInfo.wearImage = this.imgList[1]
        } else {
          this.hatInfo.id = null
          this.hatInfo.wearImage = ''
        }
        // 상의
        if (this.idList[2] !== 0) {
          this.topInfo.id = this.idList[2]
          this.topInfo.wearImage = this.imgList[2]
        } else {
          this.topInfo.id = null
          this.topInfo.wearImage = ''
        }
        // 하의
        if (this.idList[3] !== 0) {
          this.bottomInfo.id = this.idList[3]
          this.bottomInfo.wearImage = this.imgList[3]
        } else {
          this.bottomInfo.id = null
          this.bottomInfo.wearImage = ''
        }
        // 신발
        if (this.idList[4] !== 0) {
          this.shoesInfo.id = this.idList[4]
          this.shoesInfo.wearImage = this.imgList[4]
        } else {
          this.shoesInfo.id = null
          this.shoesInfo.wearImage = ''
        }
        // 악세서리
        if (this.idList[5] !== 0) {
          this.accessoriesInfo.id = this.idList[5]
          this.accessoriesInfo.wearImage = this.imgList[5]
        } else {
          this.accessoriesInfo.id = null
          this.accessoriesInfo.wearImage = ''
        }
        // 가방
        if (this.idList[6] !== 0) {
          this.bagInfo.id = this.idList[6]
          this.bagInfo.wearImage = this.imgList[6]
        } else {
          this.bagInfo.id = null
          this.bagInfo.wearImage = ''
        } 
      }
    },
    // 현재 저장되어있는 옷 상태를 가져옴
    itemStatus(items) {
      this.itemList = []
      this.itemList = items
      for (var i=0; i < items.length; i++) {
        // 헤어
        if (items[i].sortId === 1) {
          this.hairInfo.id = items[i].id
          this.hairInfo.wearImage = items[i].img
          this.idList[0] = items[i].id
          this.imgList[0] = items[i].img
        }
        // 모자
        if (items[i].sortId === 2) {
          this.hatInfo.id = items[i].id
          this.hatInfo.wearImage = items[i].img
          this.idList[1] = items[i].id
          this.imgList[1] = items[i].img
        }
        // 상의
        if (items[i].sortId === 3) {
          this.topInfo.id = items[i].id
          this.topInfo.wearImage = items[i].img
          this.idList[2] = items[i].id
          this.imgList[2] = items[i].img
        }
        // 하의
        if (items[i].sortId === 4) {
          this.bottomInfo.id = items[i].id
          this.bottomInfo.wearImage = items[i].img
          this.idList[3] = items[i].id
          this.imgList[3] = items[i].img
        }
        // 신발
        if (items[i].sortId === 5) {
          this.shoesInfo.id = items[i].id
          this.shoesInfo.wearImage = items[i].img
          this.idList[4] = items[i].id
          this.imgList[4] = items[i].img
        }
        // 악세서리
        if (items[i].sortId === 6) {
          this.accessoriesInfo.id = items[i].id
          this.accessoriesInfo.wearImage = items[i].img
          this.idList[5] = items[i].id
          this.imgList[5] = items[i].img
        }
        // 가방
        if (items[i].sortId === 7) {
          this.bagInfo.id = items[i].id
          this.bagInfo.wearImage = items[i].img
          this.idList[6] = items[i].id
          this.imgList[6] = items[i].img
        }      
      }
    },
    wearHair(id, wearImage) {
      this.hairInfo.id = id
      this.hairInfo.wearImage = wearImage
      this.btnStatus = true
    },
    wearHat(id, wearImage) {
      this.hatInfo.id = id
      this.hatInfo.wearImage = wearImage
      this.btnStatus = true
    },
    wearTop(id, wearImage) {
      this.topInfo.id = id
      this.topInfo.wearImage = wearImage
      this.btnStatus = true
    },
    wearBottom(id, wearImage) {
      this.bottomInfo.id = id
      this.bottomInfo.wearImage = wearImage
      this.btnStatus = true
    },
    wearShoes(id, wearImage) {
      this.shoesInfo.id = id
      this.shoesInfo.wearImage = wearImage
      this.btnStatus = true
    },
    wearAccessories(id, wearImage) {
      this.accessoriesInfo.id = id
      this.accessoriesInfo.wearImage = wearImage
      this.btnStatus = true
    },
    wearBag(id, wearImage) {
      this.bagInfo.id = id
      this.bagInfo.wearImage = wearImage
      this.btnStatus = true
    },
  }
}
</script>

<style>

</style>