<template>
  <v-container v-if="userId" class="gallery">
    <div class="my-drawing">
      <span>나의 작품</span>
    </div>
    <SelectGallery
      :storyList="storyList"
      :storyId="storyId"
      :chapterList="chapterList"
      :chapterId="chapterId"
      @changeStoryId="changeStoryId"
      @changeChapterId="changeChapterId"
    />
    <v-container class="my-drawing-gallary">
      <MyDrawing
        :storyId="storyId"
        :chapterId="chapterId"
      />
    </v-container>
  </v-container>
  <v-container v-else class="gallery-unauthorized">
    <div>
      로그인이 필요합니다.
    </div>
    <div class="gallery-unauthorized-text mt-6" @click="goMainPage">
      홈으로 돌아가기
    </div>
  </v-container>
</template>

<script>
import SelectGallery from "../components/user/gallery/SelectGallery"
import MyDrawing from "../components/user/gallery/MyDrawing"
import baseURL from "../http-common"
import router from "../router"

export default {
  components: {
    SelectGallery,
    MyDrawing,
  },
  data: () => ({
    storyId: null,
    chapterId: null,
    storyList: null,
    chapterList: null,
    myDrawings: [],
    userId: null,
  }),
  mounted() {
    this.userId = this.$store.getters.userId
    this.getStory()
  },
  methods: {
    changeStoryId(story) {
      this.chapterId = null
      this.storyId = story
      this.getChapter()
    },
    changeChapterId(chapter) {
      this.chapterId = chapter
    },
    getStory() {
      if (this.userId) {
        const requestHeader = this.$store.getters.requestHeader
        baseURL
        .get('/stories/', requestHeader)
        .then((res) => {
          this.storyList = res.data.data
        })
        .catch(() => {})
      }
    },
    getChapter() {
      const requestHeader = this.$store.getters.requestHeader
      baseURL
      .get(`/chapters/play/${this.storyId}/`, requestHeader)
      .then((res) => {
        this.chapterList = res.data.data
      })
      .catch(() => {})
    },
    goMainPage() {
      router.push("/")
    },
  }
}
</script>

<style>
.gallery {
  font-family: 'KyoboHand';
}
.my-drawing {
  font-size: 6.2vw;
  margin-top: 2vh;
  margin-bottom: 1.2vh;
  background-color: #ca9bdb;
  color: white;
  width: 50vw;
  margin:auto;
  text-align: center;
  border-radius: 15px 15px 0 0;
}
.my-drawing-gallary {
  background-color: #e6cfee;
  margin: 10px 0;
  border-style: solid;
  border-color: rgb(83, 77, 50);
  border-width: 1.5px 1.5px 1.5px 1.5px;
  padding-top: 0;
  padding-right: 12px;
  padding-left: 12px;
}
.gallery-unauthorized {
  font-family: 'KyoboHand';
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery-unauthorized-text {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}

</style>