<template>
  <v-container v-if="userId" class="gamestory">
    <v-layout justify-center>
      <span class="mt-2 mb-3 game-story-page">
        스토리를 선택하세요
      </span>
    </v-layout>
    <div v-if="loading">
      <Story v-if="storyList" :storyList="storyList" />
      <v-container v-else>
        <v-layout justify-center class="mt-12">
          스토리가 아직 없습니다.
        </v-layout>
      </v-container>
    </div>
    <div v-else>
      <v-container>
        <v-layout justify-center>
          스토리를 불러오는 중입니다.
        </v-layout>
        <div class="d-flex justify-center">
          <v-card flat width="50vw" height="50vw" class="game-story-loading" color="transparent">
          </v-card>
        </div>
      </v-container>
    </div>
    <GoTop />
  </v-container>
  <v-container v-else class="gamestory-unauthorized">
    <div>
      로그인이 필요합니다.
    </div>
    <div class="gamestory-unauthorized-text mt-6" @click="goMainPage">
      홈으로 돌아가기
    </div>
  </v-container>
</template>

<script>
import Story from "../components/game/story/Story"
import GoTop from "../components/main/function/GoTop"
import baseURL from "../http-common"
import router from "../router"

export default {
  components: {
    Story,
    GoTop,
  },
  data: () => ({
    storyList: null,
    requestHeader: "",
    loading: false,
    userId: null,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.$store.dispatch("cancelStraightNextChapter")
    this.$store.dispatch("nullGameChapter")
    this.$store.dispatch("nullNextChapterIndex")
    this.$store.dispatch("nullNextChapterId")
    this.$store.dispatch("nullNextChapterBgm")
    this.userId = this.$store.getters.userId
    this.getStory()
  },
  methods: {
    getStory() {
      if (this.userId) {
        this.loading = false

        baseURL
        .get('/stories/', this.requestHeader)
        .then((res) => {
          this.storyList = res.data.data
          setTimeout(() => {
            this.loading = true
          }, 1500)
        })
        .catch(() => {})
      }
    },
    goMainPage() {
      router.push("/")
    },
  }
}
</script>

<style>
.gamestory{
  font-family: 'KyoboHand';
  background-color: #fede8d;
  min-height: 83vh;
}
.game-story-page {
  font-family: 'KyoboHand';
  font-size: 1.25rem;
}
.game-story-loading {
  background-image: url("../../public/img/loading2.gif");
  background-size: 100%;
}
.gamestory-unauthorized {
  font-family: 'KyoboHand';
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gamestory-unauthorized-text {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}
</style>