<template>
  <div v-if="userId">
    <div v-if="!goStraightToNextPage">  
      <v-container class="gamechapter pt-0">
        <v-layout justify-center class="my-2 game-chapter-page">
          챕터를 선택하세요
        </v-layout>
        <div v-if="loading">
          <div v-if="maxChapterLength">
            <ProgressTab
              :playedChapterLength="playedChapterLength"
              :maxChapterLength="maxChapterLength"
              :progress="progress"
              :myNewPlayChapterId="myNewPlayChapterId"
              :myNewPlayChapterIndex="myNewPlayChapterIndex"
              :myNewPlayChapterBgm="myNewPlayChapterBgm"
              @saveChapterValue="goToGame"
            />
          </div>
          <Chapter
            :chapterList="chapterList"
            :lastPlayChapter="lastPlayChapter"
            :lockChapterIndex="lockChapterIndex"
            :chapterImageList="chapterImageList"
            :maxChapterLength="maxChapterLength"
            :chapterAnswerStatusList="chapterAnswerStatusList"
            @saveChapterValue="goToGame"
          />
        </div>
        <div v-else>
          <v-container>
            <v-layout justify-center class="mt-12">
              챕터를 불러오는 중입니다.
            </v-layout>
            <div class="d-flex justify-center">
              <v-card flat width="50vw" height="50vw" class="game-chapter-loading" color="transparent">
              </v-card>
            </div>
          </v-container>
        </div>
      </v-container>
    </div>
    <div v-else>
      <v-container>
        <v-layout justify-center class="mt-12">
          다음 챕터를 불러오는 중입니다.
        </v-layout>
        <div class="d-flex justify-center">
          <v-card flat width="50vw" height="50vw" class="game-chapter-loading" color="transparent">
          </v-card>
        </div>
      </v-container>
    </div>
    <GoTop />
  </div>
  <div v-else>
    <v-container class="gamechapter-unauthorized">
      <div>
        로그인이 필요합니다.
      </div>
      <div class="gamechapter-unauthorized-text mt-6" @click="goMainPage">
        홈으로 돌아가기
      </div>
    </v-container>
  </div>
</template>

<script>
import Chapter from "../components/game/chapter/Chapter"
import ProgressTab from "../components/game/chapter/ProgressTab"
import GoTop from "../components/main/function/GoTop"
import baseURL from "../http-common"
import AOS from 'aos'
import router from "../router"

export default {
  components: {
    Chapter,
    ProgressTab,
    GoTop,
  },
  data: () => ({
    chapterList: [],
    requestHeader: "",
    userId: "",
    storyId: null,
    lastPlayChapter: null,
    lockChapterIndex: null,
    maxChapterLength: null,
    playedChapterLength: null,
    chapterImageList: [],
    chapterAnswerStatusList: [],
    progress: null,
    loading: false,
    myNewPlayChapterId: null,
    myNewPlayChapterIndex: null,
    myNewPlayChapterBgm: null,
    gameBgm: null,
    goStraightToNextPage: null,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.userId = this.$store.getters.userId
    this.storyId = this.$store.getters.gameStoryId
    this.goStraightToNextPage = this.$store.getters.straightNextChapter
    this.storeClear()
    this.myAOS()
  },
  methods: {
    getChapter() {
      baseURL
      .get(`/chapters/play/${this.storyId}/`, this.requestHeader)
      .then((res) => {
        this.chapterList = res.data.data
        this.maxChapterLength = res.data.data.length
        this.chapterImageList = res.data.chapter_Thumbnail
        this.chapterAnswerStatusList = res.data.chapter_Answers
        this.progress = Number(((this.playedChapterLength/this.maxChapterLength)*100).toFixed(0))
        if (this.playedChapterLength !== this.maxChapterLength) {
          const myNewPlayChapter = this.chapterList[this.playedChapterLength]
          this.myNewPlayChapterId = myNewPlayChapter.id
          this.myNewPlayChapterIndex = myNewPlayChapter.number
          this.myNewPlayChapterBgm = myNewPlayChapter.bgm
        }
        if (this.goStraightToNextPage) {
          const nextChapterIndex = this.$store.getters.nextChapterIndex
          const nextChapterId = this.$store.getters.nextChapterId
          const nextChapterBgm = this.$store.getters.nextChapterBgm
          setTimeout(() => {
            this.goToGame(nextChapterIndex, nextChapterId, nextChapterBgm)
          }, 1500)
        } else {
          setTimeout(() => {
            this.loading = true
          }, 1500)
        }
      })
      .catch(() => {})
    },
    storeClear() {
      this.$store.dispatch("nullGameChapter")
      this.$store.dispatch("nullMissionStatus")
      this.$store.dispatch("nullAnswer")
      this.$store.dispatch("nullAnswerId")
      this.$store.dispatch("nullGameBgm")
    },
    getUser() {
      baseURL
      .get(`/accounts/${this.userId}/`, this.requestHeader)
      .then((res) => {
        this.lastPlayChapter = res.data.data.last_chapter
        this.lockChapterIndex = res.data.data.clear_chapters.length + 1
        this.playedChapterLength = res.data.data.clear_chapters.length
        this.getChapter()
      })
      .catch(() => {})
    },
    myAOS(){
      AOS.init({
        easing: 'ease-out-back',
        duration: 2000,
      });
      if (this.userId) {
        this.getUser()
      }
    },
    goToGame(index, chapterId, bgm) {
      if (index !== this.maxChapterLength) {
        this.$store.dispatch("getNextChapterIndex", this.chapterList[index].number)
        this.$store.dispatch("getNextChapterId", this.chapterList[index].id)
        this.$store.dispatch("getNextChapterBgm", this.chapterList[index].bgm)
      }
      this.saveLastPlay(chapterId)
      this.$store.dispatch("getGameChapter", chapterId)
      this.$store.dispatch("nullMissionStatus")
      this.$store.dispatch("getGameBgm", bgm)
      if (index && chapterId) {
        if (this.$route.params.id !== undefined) {
          router.push(`/story/${this.$route.params.id}/chapter/${index}`)
        }
      }
    },
    saveLastPlay(chapterId) {
      const storyId = this.$store.getters.gameStoryId
      const requestHeader = this.$store.getters.requestHeader

      baseURL
      .get(`/accounts/last-play/${storyId}/${chapterId}/`, requestHeader)
      .then(() => {})
      .catch(() => {})
    },
    goMainPage() {
      router.push("/")
    },
  }
}
</script>

<style>
.gamechapter{
  background-color: #fede8d;
  min-height: 83vh;
}
.game-chapter-page {
  font-family: 'KyoboHand';
  font-size: 1.25rem;
}
.game-chapter-loading {
  background-image: url("../../public/img/loading2.gif");
  background-size: 100%;
}
.gamechapter-unauthorized {
  font-family: 'KyoboHand';
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gamechapter-unauthorized-text {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}
</style>