<template>
  <div v-if="server" class="game-play">
    <v-btn small text @click="volumeMute()" class="bgm-button mt-6">BGM
      <v-icon v-if="!mute" small > mdi-volume-high</v-icon>
      <v-icon v-else small>mdi-volume-mute</v-icon> 
    </v-btn>
    <div v-for="(bgImg, i) in bgImgList" :key="i">
      <div v-if="bgImg.number === myLocationPage">
        <div v-if="bgImg.answers.length === 0 || $store.getters.getAnswer === bgImg.answers[0].ko_name">
          <GamePlayBgImg
            :missionId="missionId"
            :bgImgId="bgImg.id"
            :bgImgNumber="bgImg.number"
            :bgImgSrc="bgImg.image"
            :bgImgScripts="bgImg.scripts"
            :bgImgAnswers="bgImg.answers"
            :answerData="answerData"
            :missionData="missionData"
            :goToNextPage="goToNextPage"
            :myLocationPage="myLocationPage"
            :lastPageNumber="lastPageNumber"
            :goToEndPage="goToEndPage"
          />
        </div>
      </div>
    </div>
    <Skip
      v-if="myLocationPage !== missionNumber"
      :goToMissionPage="goToMissionPage"
      :goToEndPage="goToEndPage"
    />
    <Quit
      v-if="myLocationPage === missionNumber"
      :goToChapterList="goToChapterList"
    />
    <v-overlay
      :value="overlay"
      :opacity="opacity"
      color="black"
    >
      <GamePlayEnd
        :closeEndPageOverlay="closeEndPageOverlay"
        :gostraightToNextChapter="gostraightToNextChapter"
      />
    </v-overlay>
    <div>
      <audio autoplay loop ref="myaudio" id="audio-id">
        <source :src="server.back + $store.getters.gameBgm" type="audio/mp3">
      </audio>
    </div>
  </div>
</template>

<script>
import GamePlayBgImg from "../components/game/play/GamePlayBgImg"
import Skip from "../components/game/play/Skip"
import Quit from "../components/game/play/Quit"
import GamePlayEnd from "../components/game/play/GamePlayEnd"
import baseURL from "../http-common"
import server from "../server"

export default {
  components: {
    GamePlayBgImg,
    Skip,
    Quit,
    GamePlayEnd,
  },
  data: () => ({
    gameChapterId: null,
    requestHeader: "",
    bgImgList: [],
    answerData: [],
    missionData: null,
    missionId: null,
    myLocationPage: null,
    missionNumber: null,
    overlay: false,
    opacity: 1,
    lastPageNumber: null,
    server: null,
    mylove: 3,
    mute: false,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.gameChapterId = this.$store.getters.gameChapterId
    this.myLocationPage = this.$store.getters.gamePlayNumber
    this.server = server
    this.$store.dispatch("getBeforeMissionStatus")
    this.$store.dispatch("cancelStraightNextChapter")
    this.getGame()
  },
  methods: {
    volumeControl() {
      this.$refs.myaudio.volume = 0.15
      this.mute = false
    },
    volumeMute() {
      if (this.$refs.myaudio.volume == 0) {
        this.$refs.myaudio.volume = 0.15
        this.mute = false
      } else {
        this.$refs.myaudio.volume = 0
        this.mute = true
      }
    },
    getGame() {
      baseURL
      .get(`/bgImages/${this.gameChapterId}/`, this.requestHeader)
      .then((res) => {
        this.volumeControl()
        this.bgImgList = res.data.data
        this.answerData = res.data.answer_data
        this.missionData = res.data.mission_data
        this.missionId = res.data.mission_data.bgimg
        this.myLocationPage = res.data.data[0].number
        this.lastPageNumber = res.data.data[res.data.data.length-1].number
        this.missionNumber = res.data.mission_number
      })
      .catch(() => {})
    },
    goToNextPage() {
      this.myLocationPage = this.myLocationPage + 1
    },
    goToMissionPage() {
      this.myLocationPage = this.missionNumber
    },
    goToChapterList() {
      // 챕터 페이지로 돌아감
      this.$router.go(-1)
    },
    goToEndPage() {
      this.overlay = true
      // this.$refs.myaudio.volume = 0
      // this.mute = true
    },
    closeEndPageOverlay() {
      this.$store.dispatch("cancelStraightNextChapter")
      this.overlay = false
      this.goToChapterList()
    },
    gostraightToNextChapter() {
      this.$store.dispatch("goStraightNextChapter")
      this.overlay = false
      this.goToChapterList()
    },
  },
}
</script>

<style>
.game-play {
  position: relative;
}
.bgm-button {
  position: fixed;
  z-index: 1;
}
</style>