<template>
  <div class="main-font">
    <v-container>
      <v-layout justify-center>
        <v-flex xs10>
          <div flat>
            <Login v-if="!isAuthenticated" />
            <div class="container main-font-size">
              <Dialog v-if="!isAuthenticated" class="mb-6"/>
              <router-link  v-if="isAuthenticated" to="/story"> 
                <div class="wiggle game-start" block>
                  <v-img class="avatar mb-6" src="../../public/img/avatar4.png"/>
                  <span class="text-up">
                    <img src="../../public/img/star1.png" alt="" class="star-style">
                    <span class="mb-2">터치해주세요</span>
                    <img src="../../public/img/star.png" alt="" class="star-style">
                  </span>
                  <b class="game-start-btn">
                    게임 시작
                  </b>
                </div>
              </router-link>
              <router-link to="/tutorial" class="text-muted">
                <div class="main-btn tuto-btn" to="/tutorial" block>
                  <span class="tuto-btn-text">
                    튜토리얼
                  </span>
                </div>
              </router-link>
              <router-link  to="/manage">
                <div class="main-btn admin-btn" v-if="isStaff" block>
                  <span class="admin-btn-text">
                    관리자 페이지
                  </span>
                </div>
              </router-link>
              <div class="main-btn logout-btn" v-if="isAuthenticated" block @click="endPlay">
                <span class="logout-btn-text">
                  로그아웃
                </span>
              </div>
              <router-link to="/apply-author" v-if="isAuthenticated" block>
                <div class="main-btn author-apply-btn">
                  <span class="author-apply-btn-text">
                    나도 동화 작가
                  </span>
                </div>
              </router-link>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
    <div v-if="!isAuthenticated" class="about-us d-flex justify-center">
      <span @click="goToAboutUs">
        &copy; 팔레트
      </span>
    </div>
  </div>
</template>

<script>
import Login from "../components/main/home/Login"
import Dialog from "../components/main/home/Dialog"
import baseURL from "../http-common"
import router from "../router"
import swal from "sweetalert"

export default {
  components: {
    Login,
    Dialog,
  },
  data: () => ({
    isAuthenticated: "",
    requestHeader: "",
    userId: "",
    userName: "",
    dialog: false,
    isStaff: null,
  }),
  mounted() {
    this.isAuthenticated = this.$store.getters.isAuthenticated
    this.requestHeader = this.$store.getters.requestHeader
    this.userId = this.$store.getters.userId
    this.userName = this.$store.getters.userName
    this.getUser()
    this.$store.dispatch("nullTutorial");
    this.$store.dispatch("nullTeamPage")
  },
  methods: {
    closeDialog() {
      this.dialog = false
    },
    getUser() {
      if (this.isAuthenticated === true) {
        baseURL
        .get(`/accounts/${this.userId}/`, this.requestHeader)
        .then(res => {
          this.$store.dispatch("getStaff", res.data.data.is_staff)
          this.$store.dispatch("getPlayerName", res.data.data.name)
          this.isStaff = this.$store.getters.isStaff
        })
        .catch(()=>{})
      }
    },
    logout() {
      this.$store.dispatch("endStay")
      this.$store.dispatch("nullStaff")
      this.$store.dispatch("nullPlayerName")
      this.$store.dispatch("nullGameStory")
      this.$store.dispatch("nullGameStoryDifficulty")
      if (this.isStaff) {
        this.$store.dispatch("nullStory")
        this.$store.dispatch("nullChapter")
      }
      this.$store.dispatch("logout")
      location.reload()
    },
    endPlay() {
      swal({
        text: "로그아웃 되었습니다.",
        className: "main-font",
        timer: 1500,
      })
      .then(() => {
        baseURL
        .get(`/accounts/end-play/${this.$store.getters.stayId}/`, this.requestHeader)
        .then(() => {
          this.logout()
        })
        .catch(() => {})
      })


    },
    goToAboutUs() {
      this.$store.dispatch("getTeamPage")
      router.push("/about-us")
    },
    logoutPage() {
      this.isAuthenticated = this.$store.getters.isAuthenticated
      this.getUser()
    },
  }
}
</script>

<style>
.main-font {
  font-family: 'KyoboHand';
}
.main-font-size {
  font-size: 20px;
}
router-link{
  text-decoration: none;
}
.main-btn{
  text-align: center;
  padding: 5px 0;
  margin-top: 15px;
  border-width: 5px;
  border-style: double;
  border-color: rgb(247, 245, 243);
}
.avatar {
  width: 70vw; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: double;
  border-radius: 50%;
  border-color: white;
}
.game-start{
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 100%;
  position: relative;
  text-align: center;
  color: black;
  margin-bottom: 50px;
  margin-top: 15px
}
.game-start-btn {
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  background-color: rgba(255, 176, 5, 0.986);
  padding: 5px 10px;
  border-width: 5px;
  border-style: double;
  border-radius: 0%;
  border-color: white;
  min-width: 100px;
}
.text-up {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.star-style {
  width: 15px;
}
.tuto-btn {
  background-color: #80CBC4;
}
.admin-btn {
  background-color: #6ec2e0;
}
.logout-btn {
  background-color: #CE93D8;
}
.author-apply-btn {
  background-color: rgb(250, 165, 165);
}
.v-application a {
  text-decoration: none;
  color: black !important ;
}
.about-us {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 20px;
  background-color: #fdc79d;
  font-size: 15px;
  font-family: 'KyoboHand';
}
.tuto-btn-text {
  color: black;
}
.admin-btn-text {
  color: black;
}
.logout-btn-text {
  color: black;
}
.author-apply-btn-text {
  color: black;
}
</style>