<template>
  <v-container v-if="userId" class="my-page">
    <Profile
      :userDataSet="userDataSet"
      :play_hour="play_hour"
      :play_minute="play_minute"
    />
    <OnePick v-if="!loading" :onePick="onePick" />
    <v-container v-else>
      <v-layout justify-center>
        내 원픽을 불러오는 중입니다.
      </v-layout>
      <div class="d-flex justify-center one-pick-loading-container">
        <v-card flat width="50vw" height="50vw" class="one-pick-loading" color="transparent">
        </v-card>
      </div>
    </v-container>
  </v-container>
  <v-container v-else class="mypage-unauthorized">
    <div>
      로그인이 필요합니다.
    </div>
    <div class="mypage-unauthorized-text mt-6" @click="goMainPage">
      홈으로 돌아가기
    </div>
  </v-container>
</template>

<script>
import Profile from "../components/user/mypage/Profile"
import OnePick from "../components/user/mypage/OnePick"
import baseURL from "../http-common"
import router from "../router"

export default {
  components: {
    Profile,
    OnePick,
  },
  data: () => ({
    userDataSet: null,
    play_hour: null,
    play_minute: null,
    onePick: null,
    loading: false,
    userId: null,
  }),
  mounted() {
    this.userId = this.$store.getters.userId
    this.getUser()
  },
  methods: {
    getUser() {
      if (this.userId) {
        this.loading = true
        const userId = this.$store.getters.userId
        const requestHeader = this.$store.getters.requestHeader
        
        baseURL
        .get(`accounts/${userId}/`, requestHeader)
        .then((res) => {
          this.userDataSet = res.data.data
          this.onePick = res.data.data.one_pick
          this.play_hour = Math.floor(this.userDataSet.total_play_time)
          this.calc(this.userDataSet.total_play_time - this.play_hour)
          setTimeout(() => {
            this.loading = false
          }, 1000)
        })
        .catch(() => {})
      }
    },
    calc(minute) {
      this.play_minute = Math.ceil(minute * 60)
    },
    goMainPage() {
      router.push("/")
    },
  }
}
</script>

<style>
.my-page {
  font-family: 'KyoboHand';
  font-size: 1.25rem;
}
.one-pick-loading-container {
  position: relative;
}
.one-pick-loading {
  position: absolute;
  margin-top: -8vh;
  background-image: url("../../public/img/loading2.gif");
  background-size: 100%;
}
.mypage-unauthorized {
  font-family: 'KyoboHand';
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mypage-unauthorized-text {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}
</style>