<template>
  <div class="game-play">
    <div v-for="(bgImg, i) in bgImgList" :key="i">
      <div v-if="bgImg.number === myLocationPage">
        <div v-if="bgImg.answers.length === 0 || $store.getters.getAnswer === bgImg.answers[0].ko_name">
          <TutoPlayBgImg
            :missionId="missionId"
            :bgImgId="bgImg.id"
            :bgImgNumber="bgImg.number"
            :bgImgSrc="bgImg.image"
            :bgImgScripts="bgImg.scripts"
            :bgImgAnswers="bgImg.answers"
            :answerData="answerData"
            :missionData="missionData"
            :goToNextPage="goToNextPage"
            :myLocationPage="myLocationPage"
            :lastPageNumber="lastPageNumber"
            :goToEndPage="goToEndPage"
            :missionNumber="missionNumber"
            @overlayData="overlayData"
            @getScriptId="getBeforeScriptId"
          />
        </div>
      </div>
    </div>
    <TutoSkip
      v-if="myLocationPage !== missionNumber 
      && lastPageNumber !== myLocationPage 
      && missionNumber + 1 !== myLocationPage 
      && descriptionOverlay && beforeScriptId >= 10"
      :goToMissionPage="goToMissionPage"
      :goToEndPage="goToEndPage"
      :myLocationPage="myLocationPage"
      :missionNumber="missionNumber"
    />
    <TutoQuit 
      v-if="lastPageNumber !== myLocationPage && myLocationPage <= missionNumber"
      :goToHome="goToHome"
    />
    <v-overlay :value="overlay" color="black" :opacity="opacity">
      <TutoPlayEnd :closeEndPageOverlay="closeEndPageOverlay" />
    </v-overlay>
  </div>
</template>

<script>
import tutorialData from "../../public/dummy/tutorial.json"
import TutoPlayBgImg from "../components/game/tutorial/TutoPlayBgImg"
import TutoSkip from "../components/game/tutorial/TutoSkip"
import TutoQuit from "../components/game/tutorial/TutoQuit"
import TutoPlayEnd from "../components/game/tutorial/TutoPlayEnd"

export default {
  components: {
    TutoPlayBgImg,
    TutoSkip,
    TutoQuit,
    TutoPlayEnd,
  },
  data: () => ({
    tutorial: null,
    requestHeader: "",
    bgImgList: [],
    answerData: [],
    missionData: null,
    missionId: null,
    myLocationPage: null,
    missionNumber: null,
    lastPageNumber: null,
    overlay: false,
    opacity: 1,
    descriptionOverlay: false, // true로 해놓으면 첫 장면부터 넘어갈래요 버튼이 보임
    beforeScriptId: null,
  }),
  mounted() {
    this.requestHeader = this.$store.getters.requestHeader
    this.$store.dispatch("getTutorial", 1)
    this.getTutorialData()
  },
  methods: {
    getTutorialData() {
      this.bgImgList = tutorialData.data
      this.answerData = tutorialData.answer_data
      this.missionData = tutorialData.mission_data
      this.missionId = tutorialData.mission_data.bgimg
      this.myLocationPage = tutorialData.data[0].number
      this.missionNumber = tutorialData.mission_number
      this.lastPageNumber = tutorialData.data[tutorialData.data.length - 1].number
},
    goToNextPage() {
      this.myLocationPage = this.myLocationPage + 1
    },
    goToMissionPage() {
      this.myLocationPage = this.missionNumber
    },
    goToHome() {
      this.$router.go(-1)
    },
    goToEndPage() {
      this.overlay = true
    },
    closeEndPageOverlay() {
      this.overlay = false
      this.goToHome()
      this.$store.dispatch("nullAnswer")
    },
    overlayData(data) {
      this.descriptionOverlay = !data
    },
    getBeforeScriptId(id) {
      this.beforeScriptId = id
    }
  },
}
</script>

<style>
.game-play {
  position: relative;
}
</style>