<template>
  <div v-if="server" class="missionFont">
    <v-flex text-center mt-3><h1>동화수선실</h1></v-flex>
    <div v-if="!showDrawingArea">

      <div v-if="descriptionOverlay" class="imgDiv">
        <v-img class="thinkingPyororong" src="../../../../public/img/미션_뾰로롱.png">
          <div class="textDiv" v-if="pickAnswer === ''">
            <v-icon color="purple">mdi-lock-question</v-icon>
          </div>
          <div class="textDiv" v-else>
            <b class="d-flex justify-center">
              {{ pickAnswer }}
            </b>
          </div>
        </v-img>
      </div>
      <div v-else class="imgDiv zoomer">
        <v-img class="thinkingPyororong" src="../../../../public/img/미션_뾰로롱.png">
          <div class="textDiv" v-if="pickAnswer === ''">
            <v-icon class="wiggle" color="purple" large>mdi-lock-question</v-icon>
          </div>
          <div class="textDiv" v-else>
            <b class="d-flex justify-center zoomer">
              {{ pickAnswer }}
            </b>
          </div>
        </v-img>
      </div>
    </div>

    <v-container v-if="!showDrawingArea">
      <div class="mission-box">
        <v-icon class="mdi-18px" >mdi-brush</v-icon>
        <b>  MISSION  </b>
        <v-icon class="mdi-18px" >mdi-brush</v-icon>
      </div>
      <div class="mission-container">
        <v-flex text-center my-3 v-if="pickAnswer!==''"><h4>{{ mission }}</h4></v-flex>
        <v-flex text-center my-3 v-else><h4>{{ missionData.mission }}</h4></v-flex>
        <v-container class="pt-0">
          <v-flex text-center class="mission-choice">아래에서 선택해줄래?</v-flex>
          <v-flex row mx-0 my-3>
            <v-flex justify-between text-center v-for="answer in answerData" :key="answer.id">
              <v-btn outlined color="purple" small class="choice-btn" @click="chooseAnswer(answer.ko_name), replaceString()">{{ answer.ko_name }}</v-btn>
            </v-flex>
          </v-flex>
        </v-container>

        <v-flex text-center v-if="!descriptionOverlay">
          <audio autoplay>
            <!-- autoplay - 음악 자동 재생 -->
            <!-- controls - 음악 플레이어 UI 화면에 표시 -->
            <source :src="missionData.record" type="audio/mp3">
          </audio>
        </v-flex>
      </div>
      <v-flex text-center my-3>
        <v-btn v-if="descriptionOverlay" @click="missionStart()" color="#7E57C2" dark> 수선 시작! </v-btn>
        <v-btn v-else class="floater" @click="missionStart()" color="#7E57C2" dark> 수선 시작! </v-btn>
      </v-flex>
    </v-container>

    <div v-else>
      <v-container>
        <TutoDrawing
          :answer="$store.getters.getAnswer"
          :answerData="pickAnswerList"
          :goTo="goTo"
          @showArea="showArea"
        />
      </v-container>
    </div>
  </div>
</template>

<script>
import TutoDrawing from "./TutoDrawing"
import server from "../../../server"
import swal from 'sweetalert';

export default {
  components: {
    TutoDrawing,
  },
  props: {
    missionData: Object,
    answerData: Array,
    goTo: Function,
    descriptionOverlay: Boolean,
  },
  data: () => ({
    mission: "",
    pickAnswer: "",
    pickAnswerList: {},
    showDrawingArea: false,
    server: null,
  }),
  mounted() {
    // 미션 페이지에 들어오면 store의 값을 true로 변경 (Skip에 사용)
    this.$store.dispatch("getAfterMissionStatus")
    this.$store.dispatch("nullAnswer")
    this.server = server
  },
  methods: {
    chooseAnswer(name) {
      this.pickAnswer = name
    },
    replaceString() {
      const sentence = this.missionData.mission
      if (this.pickAnswer == "") {
        this.mission = sentence
      } else {
        this.mission = sentence.replace("?", this.pickAnswer)
      }
    },
    missionStart() {
      if (this.pickAnswer === "") {
        this.$store.dispatch("nullAnswer")
        swal({
          title: "단어를 선택해주세요!",
          icon: "warning",
          className: "tuto-select-word",
        });
      } else {
        if (this.$store.getters.getAnswer === null) {
          this.$emit("drawingArea", true)
        }
        this.$store.dispatch("getAnswer", this.pickAnswer)
        this.showDrawingArea = true
        for (let i = 0; i < this.answerData.length; i++) {
          if (this.pickAnswer === this.answerData[i].ko_name) {
            this.pickAnswerList = this.answerData[i]
          }
        }
      }
    },
    showArea(data) {
      this.showDrawingArea = data
    },
  },
}
</script>

<style>
.missionFont {
  font-family: "BMHANNAAir" ;
}
.imgDiv {
  position: relative;
}
.thinkingPyororong {
  width: 70vw;
  margin-left: 20vw;
}
.textDiv {
  position: absolute;
  font-family: 'BMHANNAAir';
  top: 8.8vw;
  margin-left: 15.5vw;
  font-size: 4.3vw;
  left: 50%;
  transform: translateX(-50%);
}
.mission-box {
  text-align: center;
  margin-top: 10px;
  background-color: rgba(203, 181, 238, 0.644);
  font-size: 5vw;
  width: 40vw;
  margin-left: 10px;
  padding-top: 2px;
  border-radius: 15px 15px 0 0;
}
.mission-container {
  background-color: rgba(255, 255, 255, 0.712);
  padding-top: 15px;
  border-style: double;
  border-width: 5px;
  font-size: 4vw;
  border-color: rgba(203, 181, 238, 0.644);
}
.tuto-select-word {
  font-family: "BMHANNAAir";
}
</style>
