<template>
  <div class="tuto-drawing">
    <v-flex text-center my-3>{{ answer }}을/를 그려볼까요?</v-flex>
    <TutoCanvas
      :answerData=answerData
      @getDrawingData=getDrawingData
      ref="wrong"
    />
    <div class="text-center mt-6">
      <v-btn class="floater mt-5" color="#7E57C2" dark @click="submitData">그림 제출</v-btn>
      <div class="mt-5">
        <v-btn @click="changeMission" small outlined color="#7E57C2" dark>
          <v-icon class="mdi-18px mdi-flip-h">mdi-share-outline</v-icon>
            <span>
              다른 키워드 선택
            </span>
        </v-btn>
      </div>
    </div>
    
  </div>
</template>

<script>
import TutoCanvas from "./TutoCanvas"
import swal from 'sweetalert';

export default {
  components: {
    TutoCanvas,
  },
  props: {
    answer: String,
    answerData: Object,
    goTo: Function,
  },
  data: () => ({
    drawingData: "",
    value: "",
  }),
  methods: {
    getDrawingData(data) {
      // 여기에서 정답 여부 확인하기
      this.drawingData = data
      if (this.drawingData === "success") {
        swal({
          title: "정답입니다!",
          icon: "success",
          className: "tuto-drawing-ok",
        });
        this.goTo()
      } else {
        swal("다시 도전해보세요!", "", "error");
        swal({
          title: "다시 도전해보세요!",
          icon: "error",
          className: "tuto-drawing-error",
        });
        this.thisIsWrongAnswer()
      }
    },
    thisIsWrongAnswer() {
      this.$refs.wrong.wrongAnswer()
    },
    submitData() {
      this.$refs.wrong.getFrame()
    },
    changeMission() {
      this.$emit('showArea', false)
    },
  },
}
</script>

<style>
.tuto-drawing {
  font-family: "BMHANNAAir";
}
.tuto-drawing-ok {
  font-family: "BMHANNAAir";
}
.tuto-drawing-error {
  font-family: "BMHANNAAir";
}
</style>