<template>
  <div class='tuto-canvas'>
    <!-- Tools -->
    <div class="text-right">
      <!-- Hint -->
      <v-btn icon @click="hint">
        <v-icon>mdi-puzzle</v-icon>
      </v-btn>
      <!-- Redraw -->
      <v-btn icon @click="erase">
        <v-icon>mdi-refresh</v-icon>
      </v-btn>
    </div>
    <!-- Drawing Area -->
    <div id="canvas-div" class="text-center">
      <canvas id="canvas" class="canvas tuto-canvasStyle"></canvas>
    </div>
  </div>
</template>

<script>
import { fabric } from 'fabric'
import * as tf from "@tensorflow/tfjs"
import swal from 'sweetalert'

export default {
  props: {
    answerData: Object,
  },
  data: () => ({
    model: null,
    canvas: null,
    mousePressed: false,
    coords: [],
    requestHeader: "",
    imageStr: '',
    count: 0,
  }),
  mounted() {
    this.count = 0
    var canvas = new fabric.Canvas('canvas', {
      backgroundColor: "white",
      isDrawingMode: 1,
      freeDrawingBrushColor: "black",
      width: document.getElementById('canvas-div').clientWidth,
      height: document.getElementById('canvas-div').clientWidth,
    });
    this.canvas = canvas;
    canvas.selection = false; // disable group selection
    canvas.freeDrawingBrush.color = "black";
    canvas.renderAll();
    canvas.freeDrawingBrush.width = 7;

    // mouse event
    var vm = this;
    canvas.on('mouse:up', function() {
      vm.mousePressed = false;
    });
    canvas.on('mouse:down', function() {
      vm.mousePressed = true;
    });
    canvas.on('mouse:move', function() {
      vm.recordCoor()
    });

    // brush width
    // var slider = document.getElementById('myRange');
    // slider.oninput = function() {
    //   canvas.freeDrawingBrush.width = this.value;
    // };

    // this.requestHeader = this.$store.getters.requestHeader
  },
  methods: {
    getMinBox() {
      //get coordinates 
      var coorX = this.coords.map(function(p) {
          return p.x
      });
      var coorY = this.coords.map(function(p) {
          return p.y
      });

      //find top left and bottom right corners 
      var min_coords = {
          x: Math.min.apply(null, coorX),
          y: Math.min.apply(null, coorY)
      }
      var max_coords = {
          x: Math.max.apply(null, coorX),
          y: Math.max.apply(null, coorY)
      }

      //return as strucut 
      return {
        min: min_coords,
        max: max_coords
      }
    },
    getImageData() {
      //get the minimum bounding box around the drawing 
      const mbb = this.getMinBox()

      //get image data according to dpi 
      const dpi = window.devicePixelRatio
      const imgData = this.canvas.contextContainer.getImageData(mbb.min.x * dpi, mbb.min.y * dpi,
                                                    (mbb.max.x - mbb.min.x) * dpi, (mbb.max.y - mbb.min.y) * dpi);
      return imgData
    },
    dataURLtoFile(dataurl, fileName) {
      var arr = dataurl.split(','),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]), 
        n = bstr.length, 
        u8arr = new Uint8Array(n);
          
      while(n--){
        u8arr[n] = bstr.charCodeAt(n);
      }
      
      return new File([u8arr], fileName, {type:mime});
    },
    getFrame() { // 그림 제출 버튼 누르면 작동하는 곳
      if (this.coords.length >= 2) {
        this.count = this.count + 1
        swal({
          text: "그림을 제출하시겠습니까?",
          className: "tuto-canvas-swal",
          buttons: {
            cancel: true,
            confirm: true,
          }
        })
        .then((value) => {
          if (value !== null) {
            const imgData = this.getImageData()
    
            // dataurl to file
            const img = this.canvas.toDataURL() // base64 encode
            const date_string = new Date().getTime()
            var file = this.dataURLtoFile(img, `${date_string}.png`);
    
            // preprocess
            var data = this.preprocess(imgData)
            this.imageStr = data.join(",");
    
            const fd = new FormData()
            fd.append('imgData', this.imageStr)
            fd.append('image', file)
            
            if (this.count === 1) {
              this.emitData("fail")
            } else {
              this.emitData("success")
            }
          }
        })
      }
    },
    emitData(data) {
      this.$emit("getDrawingData", data)
    },
    recordCoor() {
      var pointer = this.canvas.getPointer();
      var posX = pointer.x;
      var posY = pointer.y;
      if (posX >= 0 && posY >= 0 && this.mousePressed) {
        this.coords.push(pointer)
      }
    },
    erase() {
      this.canvas.clear();
      this.canvas.backgroundColor = '#ffffff';
      this.coords = [];
    },
    preprocess(imgData) {
      return tf.tidy(() => {
        //convert to a tensor 
        let tensor = tf.browser.fromPixels(imgData, 1)

        //resize 
        const resized = tf.image.resizeBilinear(tensor, [28, 28]).toFloat()

        //normalize 
        const offset = tf.scalar(255.0);
        const normalized = tf.scalar(1.0).sub(resized.div(offset));
        
        //We add a dimension to get a batch shape 
        var batched = normalized.expandDims(0)

        // 1차원배열
        batched = tf.reshape(batched, [784])
        batched = batched.arraySync()
        return batched
      })
    },
    hint() {
      const img = this.answerData.image
      swal({
        title: this.answerData.ko_name,
        icon: img,
        className: "tuto-hint-swal",
      });
    },
    wrongAnswer() {
      this.erase()
    },
  }
};
</script>

<style scoped>
/* 여기서 캔버스 세로 크기 수정! */
/* #canvas-div {
  height: 65vh;
} */
.tuto-canvasStyle {
  background-color: rgba(255, 255, 255, 0.712);
  border-style: double;
  border-width: 5px;
  border-color: rgba(203, 181, 238, 0.644);
}
.tuto-canvas {
  font-family: "BMHANNAAir" ;
}
.tuto-canvas-swal {
  font-family: "BMHANNAAir";
}
.tuto-hint-swal {
  font-family: "BMHANNAAir";
}
</style>
