<template>
  <div class="bg-page">
    <div v-if="missionId!==bgImgId">
      <div class="image">        
        <TutoBgImg
          :bgImgSrc="bgImgSrc"
        />
        <div class="script">
          <div class="script-container" v-for="(bgImgScript, i) in bgImgScripts" :key="i">
            <div v-if="i+1 === myLocationScript">
              <TutorialDescription 
                v-if="myLocationPage >= missionNumber - 1 && myLocationPage !== lastPageNumber && bgImgScript.id !== 9 && bgImgScript.id !== 10"
                :isThisMissionPage="false"
                :bgImgScript="bgImgScript"
                @getOverlayData=getOverlayData
              />
              <TutoPlayScript
                v-if="myLocationScript < bgImgScripts.length"
                :bgImgScript="bgImgScript"
                :myLocationScript="myLocationScript"
                :bgImgAnswers="bgImgAnswers"
                :goTo="goToNextScript"
                :descriptionOverlay="descriptionOverlay" 
                @getScriptId="sendScriptId"
              />
              <TutoPlayScript
                v-else-if="myLocationPage < lastPageNumber"
                :bgImgScript="bgImgScript"
                :myLocationScript="myLocationScript"
                :bgImgAnswers="bgImgAnswers"
                :goTo="goToNextPage"
                :missionNumber="missionNumber"
                :myLocationPage="myLocationPage"
                :descriptionOverlay="descriptionOverlay" 
                @getScriptId="sendScriptId"
              />
              <TutoPlayScript
                v-else
                :bgImgScript="bgImgScript"
                :myLocationScript="myLocationScript"
                :bgImgAnswers="bgImgAnswers"
                :goTo="goToEndPage"
                :descriptionOverlay="descriptionOverlay" 
                @getScriptId="sendScriptId"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="missionId === bgImgId">
      <TutoPlayMission
        :answerData="answerData"
        :missionData="missionData"
        :goTo="goToNextPage"
        :descriptionOverlay="descriptionOverlay" 
        @drawingArea="drawingArea"
      />
      <TutorialDescription
        :isThisMissionPage="true"
        :showCanvas="showCanvas"
        @getOverlayData="getOverlayData"
      />
    </div>
  </div>
</template>

<script>
import TutoBgImg from "./TutoBgImg"
import TutoPlayScript from "./TutoPlayScript"
import TutoPlayMission from "./TutoPlayMission"
import TutorialDescription from "./TutorialDescription"

export default {
  components: {
    TutoBgImg,
    TutoPlayScript,
    TutoPlayMission,
    TutorialDescription,
  },
  props: {
    missionId: Number,
    bgImgId: Number,
    bgImgNumber: Number,
    bgImgSrc: String,
    bgImgScripts: Array,
    bgImgAnswers: Array,
    answerData: Array,
    missionData: Object,
    goToNextPage: Function,
    myLocationPage: Number,
    lastPageNumber: Number,
    goToEndPage: Function,
    missionNumber: Number,
  },
  data: () => ({
    myLocationScript: 1,
    descriptionOverlay: false,
    showCanvas: false,
  }),
  methods: {
    goToNextScript() {
      this.myLocationScript = this.myLocationScript + 1
    },
    getOverlayData(data, overlay) {
      this.$emit("overlayData", data)
      this.descriptionOverlay = overlay
    },
    drawingArea(data) {
      this.showCanvas = data
    },
    sendScriptId(id) {
      this.$emit("getScriptId", id)
    },
  }
}
</script>

<style>
.bg-page {
  position: relative;
}
.image {
  position: fixed;
  top: 0px;
}
.script {
  position: fixed;
  bottom: 0px;
}
</style>