<template>
  <div v-if="server" class="play-script" @click="endTyping">
    <div class="script-box white--text">
      <div class="top-line-center">
        <hr class="top-line">
      </div>
      <div v-if="onTyping && descriptionOverlay">
        <div class="typing content-line speech">
        </div>
      </div>
      <div v-else-if="onTyping && !descriptionOverlay">
        <vue-typed-js :strings="[bgImgScript.content]" :showCursor="false" :typeSpeed="50">
          <div class="typing content-line speech">
          </div>
        </vue-typed-js>
      </div>
      <div v-else class="content-line speech">
        {{ bgImgScript.content }}
      </div>
      <div class="bottom-line-center">
        <hr class="bottom-line">
      </div>
    </div>
    <v-btn v-if="this.myLocationPage !== this.missionNumber - 1" small class="next" color="white" text @click="goTo">
      <div class="next-button" @click="sendScriptId(bgImgScript.id)">
        다음
        <v-icon class="arrow">mdi-arrow-right-bold</v-icon>
      </div>
    </v-btn>
    <div v-if="bgImgScript.name !== 'narration'" class="name d-flex align-center">
      <span class="name-content">
        <b>{{ bgImgScript.name }}</b>
      </span>
    </div>
    <audio autoplay v-if="!descriptionOverlay || bgImgScript.id === 0">
      <source :src="bgImgScript.record" type="audio/mp3">
    </audio>
  </div>
</template>

<script>
import server from "../../../server"

export default {
  props: {
    bgImgScript: Object,
    myLocationScript: Number,
    bgImgAnswers: Array,
    goTo: Function,
    missionNumber: Number,
    myLocationPage: Number,
    lastPageNumber: Number,
    descriptionOverlay: Boolean,
  },
  data: () => ({
    onTyping: true,
    server: null
  }),
  mounted() {
    this.server = server
  },
  methods: {
    endTyping() {
      this.onTyping = false
    },
    sendScriptId(id) {
      this.$emit("getScriptId", id)
    },
  }
}
</script>

<style>
.name {
  font-family: 'BMHANNAAir';
  position: absolute;
  top: 3px;
  color: black;
  width: 100vw;
  height: 3.4vh;
  font-size: 4.5vw;
  margin-left: 4vw;
  margin-top: -3.6vh;
  margin-bottom: 3vh;
}
.name-content {
  font-size: 5vw;
  background-color: white;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 3px;
  border-style: solid;
  border-color: rgb(70, 65, 53);
}
.play-script {
  justify-content: center;
}
.script-box {
  position: relative;
  width: 100vw;
  height: 22vh;
  background-color: rgb(70, 65, 53);
  border-radius: 25px 5px 5px 5px;
}
.speech {
  font-family: 'BMHANNAAir';
  font-size: 4.2vw;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.next {
  position: absolute;
  bottom: 2vh;
  right: -2.5vw;
}
.next-button {
  font-family: 'HangeulNuri-Bold';
  font-size: 4.5vw;
}
.arrow {
  position: relative;
  left: -2vw;
}
.content-line {
  position: absolute;
  top: 20px;
  left: 0px;
}
.top-line {
  position: absolute;
  top: -0.3vh;
  border: 0;
  width: 95vw;
  margin-left: 2.5vw;
}
.bottom-line {
  position: absolute;
  bottom: -0.3vh;
  border: 0;
  width: 95vw;
  margin-left: 2.5vw;
}
.top-line:after {
  content: "~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~";
  font-size: 4vw;
}
.bottom-line:after {
  content: "~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~";
  font-size: 4vw;
}
.top-line-center {
  position: absolute;
  top: 0px;
  text-align: center;
}
.bottom-line-center {
  position: absolute;
  bottom: 0px;
  text-align: center;
}
</style>