<template>
  <div>
    <v-overlay :value="overlay" :opacity="opacity" @click="closeOverlay">
      <div class="fullScreen" @click="closeOverlay" v-if="!isThisMissionPage || nextId === 4">
      </div>
      <div v-if="!isThisMissionPage">

        <div v-if="bgImgScript.id === 7" class="text-center">
          <div>
            <v-img class="storyBgImg bounceIn" src="../../../../public/img/tutorial/튜토리얼_장면3.png" />
          </div>
          <audio autoplay id="script-audio">
            <source src="../../../../public/record/tutorial/description/01.mp3" type="audio/mp3">
          </audio>
          <div class="descriptionScript scriptBorder scriptContent">
            <p class="mb-2">짜잔! 놀랐지?</p>
            <p class="mb-2">화면에서 아무 곳이나 누르면 이, 검은 화면이 닫혀!</p>
            <p class="mb-0">어서 눌러봐!</p>
          </div>
        </div>

        <div v-if="bgImgScript.id === 8">
          <v-img class="floater speechHand" src="../../../../public/img/tutorial/hand6.png" />
          <audio autoplay id="script-audio">
            <source src="../../../../public/record/tutorial/description/02.mp3" type="audio/mp3">
          </audio>
          <div class="descriptionScript scriptBorder scriptContent">
            <p class="mb-2">아래 손가락이 가르키는 곳에서 대사가 진행 돼! </p>
            <p class="mb-0">추가 설명을 해줄테니 화면을 닫아볼까?</p>
          </div>
        </div>

        <div v-if="bgImgScript.id === 11">
          <div class="skip">
            <span class="white--text skip-button">
              넘어갈래요
            </span>
          </div>
          <v-img class="floater skipHand" src="../../../../public/img/tutorial/hand1.png" />
          <audio autoplay id="script-audio">
            <source src="../../../../public/record/tutorial/description/03.mp3" type="audio/mp3">
          </audio>
          <div class="descriptionScript scriptBorder scriptContent">
            <p class="mb-2">이제 거의 다 왔어!</p>
            <p class="mb-2">그림 그리는 미션 페이지로 바로 이동하고 싶다면 화면을 닫은 후에 이 버튼을 눌러봐~</p>
            <p class="mb-0">미션이 끝나고도 누를 수 있으니 이 점 참고해줘!</p>
          </div>
        </div>

        <div v-if="bgImgScript.id === 12 || bgImgScript.id === 13 || bgImgScript.id === 14">
          <audio autoplay id="script-audio">
            <source src="../../../../public/record/tutorial/description/04.mp3" type="audio/mp3">
          </audio>
          <div class="descriptionScript scriptBorder scriptContent">
            <p class="mb-2">동화수선공이 단어를 선택해서 그린 결과 장면이야!</p>
            <p class="mb-0">너무 멋지다~</p>
          </div>
        </div>
      </div>

        <!-- 미션 선택하는 페이지 -->
        <div v-if="isThisMissionPage && $store.getters.getAnswer === null"> 
          <audio autoplay id="audio0">
            <source src="../../../../public/record/tutorial/description/05.mp3" type="audio/mp3">
          </audio>
          <audio id="audio1">
            <source src="../../../../public/record/tutorial/description/06.mp3" type="audio/mp3">
          </audio>
          <audio id="audio2">
            <source src="../../../../public/record/tutorial/description/07.mp3" type="audio/mp3">
          </audio>
          <audio id="audio3">
            <source src="../../../../public/record/tutorial/description/08.mp3" type="audio/mp3">
          </audio>
          <audio id="audio4">
            <source src="../../../../public/record/tutorial/description/09.mp3" type="audio/mp3">
          </audio>

          <div v-if="nextId === 0">
            <div class="missionScript">
              <p class="mb-2">동화수선공! 여긴 동화수선실이야</p>
              <p class="mb-0">다음을 눌러볼까?</p>
            </div>
          </div>

          <div v-if="nextId === 1">
            <v-img class="quit" src="../../../../public/img/setting.png" />
            <v-img class="floater quitHand" src="../../../../public/img/tutorial/hand1.png" />
            <div class="missionScript">
              <p class="mb-2">오른쪽 위 톱니바퀴 보이지? </p>
              <p class="mb-2">게임을 진행하는 도중에 종료하고 싶을 때 누르면 돼!</p>
              <p class="mb-0">만약 누른다면 저장이 되지 않으니 조심 또 조심!!</p>
            </div>
          </div>

          <div v-if="nextId === 2">
            <v-img class="floater missionHand" src="../../../../public/img/tutorial/hand6.png" />
            <div class="chooseScript">
              <p class="mb-2">미션을 선택하는 페이지야!</p>
              <p class="mb-2">선택할 단어가 한 개 또는 여러 개가 나와!</p>
              <p class="mb-0">내가 원하는 단어를 클릭하면 되겠지?</p>
            </div>
          </div>

          <div v-if="nextId === 3">
            <v-img class="floater lockHand" src="../../../../public/img/tutorial/hand1.png" />
            <div class="missionScript">
              <p class="mb-2">선택함과 동시에 이 자물쇠는 풀리고 단어가 등장해!</p>
              <p class="mb-0">정말 신기하지 않니?</p>
            </div>
          </div>

          <div v-if="nextId === 4">
            <v-img class="floater fixHand" src="../../../../public/img/tutorial/hand6.png" />
            <div class="missionScript">
              <p class="mb-2">마지막으로 "수선 시작!"을 누르면 수선실로 이동!</p>
              <p class="mb-0">이제 선택해봐!</p>
            </div>
          </div>

          <v-btn outlined class="nextBtn" @click="nextBtn" v-if="nextId !== 4"> 다음 </v-btn>

        </div>

        <!-- 캔버스 페이지 -->
        <div v-if="showCanvas===true">
          <audio autoplay id="audio0">
            <source src="../../../../public/record/tutorial/description/10.mp3" type="audio/mp3">
          </audio>
          <audio id="audio1">
            <source src="../../../../public/record/tutorial/description/11.mp3" type="audio/mp3">
          </audio>
          <audio id="audio2">
            <source src="../../../../public/record/tutorial/description/12.mp3" type="audio/mp3">
          </audio>
          <audio id="audio3">
            <source src="../../../../public/record/tutorial/description/13.mp3" type="audio/mp3">
          </audio>
          <audio id="audio4">
            <source src="../../../../public/record/tutorial/description/14.mp3" type="audio/mp3">
          </audio>
          <div v-if="nextId === 0">
            <div class="canvasScript">
              <p class="mb-2">우와~ 그림 그리는 곳이다!</p>
              <p class="mb-0">다음을 눌러볼까?</p>
            </div>
          </div>

          <div v-if="nextId === 1">
            <v-img class="floater canvasHand" src="../../../../public/img/tutorial/hand6.png" />
            <div class="canvasScript">
              <p class="mb-2">가장 중요한 캔버스!</p>
              <p class="mb-0">단어에 맞는 그림을 그릴 수 있어!</p>
            </div>
          </div>

          <div v-if="nextId === 2">
            <v-img class="floater toolHand" src="../../../../public/img/tutorial/hand4.png" />
            <div class="canvasScript">
              <p class="mb-2">여기는 도구 기능이야!</p>
              <p class="mb-0">첫 번째는 힌트를 보여주고, 두 번째는 새로운 그림판으로 바꿔줘!</p>
            </div>
          </div>

          <div v-if="nextId === 3">
            <v-img class="floater btnHand" src="../../../../public/img/tutorial/hand6.png" />
            <div class="canvasScript">
              <p class="mb-0">그림판 아래에는 그림을 제출하는 버튼과 다른 그림을 그리고 싶을 때 누르는 버튼이 있어!</p>
            </div>
          </div>

          <div v-if="nextId === 4">
            <div class="canvasScript">
              <p class="mb-2">그림 제출 버튼을 누른 후에는 채점이 있어!</p>
              <p class="mb-2">정답인 경우, 동화수선공이 그린 단어의 결과 장면이 나와!</p>
              <p class="mb-2">답이 틀리면 다시 도전할 수 있으니 걱정하지 않아도 돼!</p>
              <p class="mb-0">이제 그려볼까?</p>
            </div>
          </div>

          <v-btn outlined class="nextBtn" @click="nextBtn" v-if="nextId !== 4"> 다음 </v-btn>

        </div>

    </v-overlay>
  </div>
</template>

<script>
export default {
  props: {
    isThisMissionPage: Boolean,
    bgImgScript: Object,
    showCanvas: Boolean,
  },
  data: () => ({
    overlay: true,
    opacity: 0.8,
    descriptionOverlay: false,
    nextId: 0,
  }),
  watch: {
    showCanvas: function(val) {
      this.overlay = val
      this.nextId = 0
    }
  },
  mounted() {
    this.emitData(!this.descriptionOverlay)
  },
  methods: {
    nextBtn() {
      let audio = document.getElementById("audio"+this.nextId)
      audio.pause()
      this.nextId = this.nextId + 1
      let audio2 = document.getElementById("audio"+this.nextId)
      audio2.play()
    },
    closeOverlay() {
      this.overlay = false
      this.emitData(this.descriptionOverlay)
    },
    emitData(descriptionOverlay) {
      this.$emit("getOverlayData", this.overlay, descriptionOverlay)
    },
  }
}
</script>

<style scoped>
.fullScreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.descriptionScript {
  top: 40vh;
}

/* id=7 */
.storyBgImg {
  position: fixed;
  top: 0vh;
  right: 0vw;
  height: 85vh;
}
.storyBgImgHand {
  position: fixed;
  top: 8vh;
  left: 8vw;
  width: 20%;
}
.scriptBorder {
  border-style: solid;
  border-width: 1vw;
  border-color: rgba(255, 255, 255, 0.637);
  border-radius: 2vw;
}
.scriptContent {
  position: fixed;
  left: 0vw;
  right: 0vw;
  font-family: 'BMHANNAAir';
  font-size: 4vw;
  background-color: rgba(20, 20, 20, 0.7);
  margin: 0vh 3vw;
  padding: 1vh 2vw;
  text-align: center;
}

/* id=8 */
.speechHand {
  position: fixed;
  bottom: 20vh;
  left: 40vw;
  width: 20%;
}

/* id=9 */
.quit {
  position: fixed;
  width: 1.7rem;
  top: 2.5vh;
  right: 3vw;
}
.quitHand {
  position: fixed;
  top: 8vh;
  right: 8vw;
  width: 20%;
}

/* id=11 */
.skip {
  position: fixed;
  right: 2vw;
  top: 9vh;
  font-family: 'KyoboHand';
  background-color: rgba(61, 57, 48, 0.603);
  border-style: solid;
  border-color: white;
  padding: 0 5px;
  border-radius: 3px;
}
.skip-button {
  margin: 3vw;
  font-size: 4.5vw;
}
.skipHand {
  position: fixed;
  top: 15vh;
  right: 25vw;
  width: 20%;
}

.missionScript {
  bottom: 46vh;
  border-style: solid;
  border-width: 1vw;
  border-color: rgba(255, 255, 255, 0.637);
  border-radius: 2vw;
  position: fixed;
  left: 0vw;
  right: 0vw;
  font-family: 'BMHANNAAir';
  font-size: 4vw;
  background-color: rgba(20, 20, 20, 0.7);
  margin: 0vh 3vw;
  padding: 1vh 2vw;
  text-align: center;
}
.chooseScript {
  top: 20vh;
  border-style: solid;
  border-width: 1vw;
  border-color: rgba(255, 255, 255, 0.637);
  border-radius: 2vw;
  position: fixed;
  left: 0vw;
  right: 0vw;
  font-family: 'BMHANNAAir';
  font-size: 4vw;
  background-color: rgba(20, 20, 20, 0.7);
  margin: 0vh 3vw;
  padding: 1vh 2vw;
  text-align: center;
}
.missionHand {
  position: fixed;
  top: 40vh;
  left: 40vw;
  width: 20%;
}
.lockHand {
  position: fixed;
  top: 19vh;
  left: 42vw;
  width: 20%;
}
.fixHand {
  position: fixed;
  top: 60vh;
  left: 40vw;
  width: 20%;
}

.canvasScript {
  bottom: 46vh;
  border-style: solid;
  border-width: 1vw;
  border-color: rgba(255, 255, 255, 0.637);
  border-radius: 2vw;
  position: fixed;
  left: 0vw;
  right: 0vw;
  font-family: 'BMHANNAAir';
  font-size: 4vw;
  background-color: rgba(20, 20, 20, 0.7);
  margin: 0vh 3vw;
  padding: 1vh 2vw;
  text-align: center;
}

.canvasHand {
  position: fixed;
  top: 10vh;
  left: 40vw;
  width: 20%;
}
.toolHand {
  position: fixed;
  top: 10vh;
  right: 27vw;
  width: 20%;
}
.btnHand {
  position: fixed;
  top: 60vh;
  left: 40vw;
  width: 20%;
}

.nextBtn {
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  font-family: 'BMHANNAAir';
  font-size: 4vw;
}
.closeBtn {
  position: fixed;
  top: 1vh;
  left: 1vw;
}
</style>