<template>
  <v-container class="tuto-party-container">
    <v-card width="100vw" height="100vw" class="tuto-party pulse" color="black">
    </v-card>
    <div class="tuto-party-text zoomer">
      <div class="d-flex justify-center">
        <span class="tuto-party-title white--text">
          튜토리얼 완료!
        </span>
      </div>
      <div class="tuto-party-subtitle d-flex justify-center">
        <span>
          ✨정식 동화수선공이 되었습니다✨
        </span>
      </div>
      <div class="d-flex justify-center">
        <span class="tuto-party-btn" @click="closeEndPageOverlay">
          확인
        </span>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  props: {
    closeEndPageOverlay: Function,
  }
}
</script>

<style>
.tuto-party-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'KyoboHand';
}
.tuto-party {
  position: relative;
  background-size: 100%;
  top: 10vh;
  background-image: url("../../../../public/img/party.gif");
  opacity: 0.7;
}
.tuto-party-text {
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.tuto-party-title {
  font-size: 10vw;
}
.tuto-party-subtitle {
  font-size: 6vw;
}
.tuto-party-btn {
  font-size: 5vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-top: 1vh;
  border-radius: 6px;
  background-color: purple;
}
</style>